.footer-fixed{
  position: fixed;
  bottom: 0.75rem;
}

.govco-pwa-footer {
  width: 100%;
  height: 2.5rem;
  background-color: #3366CC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3.75rem;
  margin-top: 2.5rem;

  p {
    font-family: "WorkSans-Medium";
    font-size: 14px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
}