.btn-pwa-govco:not(.symbol) {
    width: 100%;
    min-height: 44px;
    font-size: 16px;
    font-family: 'WorkSans-Medium';
    border-radius: 25px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #3366CC;
    border: 2px solid #3366CC;
    text-align: center;
}

.btn-pwa-govco.inverted:not(.symbol) {
    border-color: #FFFFFF;
    color: #3366CC;
    background-color: #FFFFFF;
}

.btn-pwa-govco:not(.symbol):focus {
    background-color: #004884;
    border-color: #004884;
}

.btn-pwa-govco.inverted:not(.symbol):focus {
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.btn-pwa-govco:not(.symbol):disabled {
    background-color: #737373;
    border-color: #737373;
    color: #FFFFFF;
}

.btn-pwa-govco.inverted:not(.symbol):disabled {
    border-color: #FFFFFF;
}

.btn-pwa-govco.symbol {
    background-color: #004884;
    box-shadow: 0px 4px 6px #13173D14;
    width: 44px;
    height: 44px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
