<p mat-dialog-title class="mat-dialog-title">¿Esta página fue útil para ti?</p>
<div mat-dialog-content class="mat-typography">
    <div class="options">
        <div class="selectionY" (click)="selectedOption('Y')">
            <span class="material-symbols-outlined size-icon" [ngClass]="selectedY ? 'selected-icon': 'default-icon'">
                check_circle
            </span>
            <p class="text-icon">
                Si
            </p>
        </div>

        <div class="selectionN" (click)="selectedOption('N')">
            <span class="material-symbols-outlined size-icon" [ngClass]="selectedN ? 'selected-icon': 'default-icon'">
                cancel
            </span>
            <p class="text-icon">
                No
            </p>
        </div>
    </div>
    <div class="comentarios-content">
        <p class="comentarios-text">Escribe tus comentarios</p>
        <textarea class="aservice-comentarios-textarea" [(ngModel)]="textLarge" id="aservice-comentarios-textarea"
            placeholder="Queremos conocer tu experiencia, sugerencias y consejos..."
            aria-label="area de comentarios"></textarea>
    </div>
</div>
<div mat-dialog-actions>
    <app-boton mat-button [mat-dialog-close]="true" cdkFocusInitial class="button-send-dialog"
        [disabled]="textLarge.length < 10" (click)="openDialog()">Enviar Comentarios
    </app-boton>
</div>

<app-boton mat-button mat-dialog-close [symbol]="true" [inverted]="true" class="button-close-dialog">
    <span class="material-symbols-outlined">
        close
    </span>
</app-boton>