<div #modalFiltro class="modal-filtro-pwa" role="main">
    <div class="contenido">
        <div class="form-group">
            <label for="search-text">
                <p>{{informacionModal.titulo}}</p>
            </label>
            <input type="email" id="search-text" [(ngModel)]="searchText" placeholder="Buscar">
        </div>
        <div class="listado">
            <label *ngFor="let item of informacionModal.contendioModal | filterSegundoNivel: searchText; let idItem = index;"
                (click)="itemSeleccionado(idItem, item)" class="item"
                [class.active]="idItemSelected == idItem" tabindex="0">
                <p>{{item}}</p>
                <span class="radio-button" type="image"></span>
            </label>
        </div>
    </div>
</div>