<div class="govco-pwa-header-prefiltros">
  <ul id="govco-pwa-prefiltros-container">
    <li class="govco-pwa-prefiltro-element" id="0" tabindex="0">
      <div class="govco-pwa-prefiltros-icon">
        <span class="material-symbols-outlined">
          description
        </span>
      </div>
      <a (click)="changePrefilter(0)">Trámites y servicios</a>
    </li>
    <li class="govco-pwa-prefiltro-element" id="1" tabindex="0">
      <div class="govco-pwa-prefiltros-icon">
        <span class="material-symbols-outlined">
          home_work
        </span>
      </div>
      <a (click)="changePrefilter(1)">Entidades</a>
    </li >
    <li class="govco-pwa-prefiltro-element" id="2" tabindex="0">
      <div class="govco-pwa-prefiltros-icon">
        <span class="material-symbols-outlined">
          feed
        </span>
      </div>
      <a (click)="changePrefilter(2)">Noticias</a>
    </li>
    <li class="govco-pwa-prefiltro-element" id="3" tabindex="0">
      <div class="govco-pwa-prefiltros-icon">
        <span class="material-symbols-outlined">
          diversity_3
        </span>
      </div>
      <a (click)="changePrefilter(3)">Ejercicios de participación</a>
    </li>
    <li class="govco-pwa-prefiltro-element" id="4" tabindex="0">
      <div class="govco-pwa-prefiltros-icon">
        <span class="material-symbols-outlined">
          store
        </span>
      </div>
      <a (click)="changePrefilter(4)">Ventanillas Únicas</a>
    </li>
    <li class="govco-pwa-prefiltro-element" id="5" tabindex="0">
      <div class="govco-pwa-prefiltros-icon">
        <span class="material-symbols-outlined">
          computer
        </span>
      </div>
      <a (click)="changePrefilter(5)">Portales Transversales</a>
    </li>
  </ul>
</div>
