<nav class="navigation-bar">
  <ul class="list-items">
    <span class="pointer"></span>
    <li class="item active">
      <a class="link" href="#">
        <span class="material-icons">home</span>
        <p>inicio</p>
      </a>
    </li>

    <li class="item">
      <a class="link" href="#">
        <div>
          <span class="material-icons-outlined">task</span>
          <p>trámites</p>
        </div>
      </a>
    </li>

    <li class="item">
      <a class="link" href="#">
        <div>
          <span class="material-icons-outlined">person</span>
          <p>Perfil</p>
        </div>
      </a>
    </li>

    <li class="item">
      <a class="link" href="#">
        <div>
          <span class="material-icons-outlined">apps</span>
          <p>Servicios</p>
        </div>
      </a>
    </li>

  </ul>
</nav>
