<nav class="navigation-bar">
  <ul class="list-items">
    <span class="pointer"></span>
    <li class="item">
      <a class="link" (click)="clickHome()" routerLink="null">
        <span class="material-symbols-outlined">home</span>
        <p>Inicio</p>
      </a>
    </li>

    <li class="item">
      <a class="link" (click)="ajustePantalla()" routerLink="/tramites">
        <div>
          <span class="material-symbols-outlined">task</span>
          <p>Trámites</p>
        </div>
      </a>
    </li>

    <li class="item">
      <a class="link" routerLink="/perfil">
        <div>
          <span class="material-symbols-outlined">person</span>
          <p>Ingresa</p>
        </div>
      </a>
    </li>

    <li class="item">
      <a class="link" (click)="ajustePantalla()" routerLink="/servicios">
        <div>
          <span class="material-symbols-outlined">apps</span>
          <p>Servicios</p>
        </div>
      </a>
    </li>

  </ul>
</nav>
