<div class="cards-container">
    <app-tarjeta-vinculo textNameClass="Te explicamos con tutoriales" iconNameClass="lightbulb" [filledIcon]="true"
        [fondoTarjeta]="true" [colorTexto]="true" [fondoIcono]="true" [textContainerMax]="true"
        (click)="openTutoriales()">
    </app-tarjeta-vinculo>
    <app-tarjeta-vinculo iconNameClass="help" textNameClass="Tienes Dudas?" [filledIcon]="true" [fondoTarjeta]="true"
        [colorTexto]="true" [fondoIcono]="true" (click)="openDudas()">
    </app-tarjeta-vinculo>
    <app-tarjeta-vinculo *ngIf="activarBotonPuntosAtencion" (click)="abrirPuntosAtencionClic()" iconNameClass="map" textNameClass="Puntos de atención" [filledIcon]="true"
        [fondoTarjeta]="true" [colorTexto]="true" [fondoIcono]="true">
    </app-tarjeta-vinculo>
</div>