<div class="ventanilla-box">
    <div class="container">
        <div class="row">
            <div class="col-12">
               
                    <div class="ventanilla-box-container">
                        <div class="col-md-6 col-sm-12 ventanilla-box-container-info">
                            <img class="ventanilla-box-info_icon" src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2021-06-03/209b8c97-26e1-442a-a8af-655b7b8652f5-ventanilla.png" />
                        </div>
                        <div class="col-md-6 col-sm-12 ventanilla-box-container-text">
                            <a href="{{url}}" title="{{titulo}}">
                            <h3>Ventanillas Únicas Digitales</h3>
                            </a>
                            <p> Son herramientas que facilitan el procesamiento de trámites y servicios en línea. Ahorrándote tiempo y dinero. Haz clic para conocer más.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>