.buscador-pwa-govco::placeholder {
  color: #BABABA;
}

.buscador-pwa-govco {
  height: 2.75rem;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  border: 1px solid white;
  border-radius: 1.571em;
  padding: 1em 11% 1em 1.429em;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
}

input.buscador-pwa-govco {
  outline: none;
}

.icono-buscador-pwa-govco{
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95.5%;
}
