<div class="accordion acordeon-pwa-govco" id="acordeonPerfilTramites">
    <div class="card">
        <div class="card-header link-target" id="paso0">
            <h2 class="mb-0">
                <button (click)="activarItem(0)" class="btn btn-link btn-block text-left" type="button"
                    data-toggle="collapse" data-target="#collapse0" aria-expanded="false" aria-controls="collapse0">
                    {{tramiteTitle}}
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse0" class="collapse" aria-labelledby="paso0" data-parent="#acordeonPerfilTramites">
            <div class="card-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>