<section class="seccion-tramides-por-id">
    <app-nivel-dos>
        <app-ficha-especifica-header-pwa></app-ficha-especifica-header-pwa>
        <app-ficha-especifica-detalle-pwa></app-ficha-especifica-detalle-pwa>
        <app-ficha-especifica-cards-pwa></app-ficha-especifica-cards-pwa>
        <app-tramites-id-acordeon [dataAcordeon]="dataAcordeon"></app-tramites-id-acordeon>
    </app-nivel-dos>
    <app-boton-retroalimentacion></app-boton-retroalimentacion>
    <app-desplegable-uno *ngIf="audiencias" [data]="audiencias" [estructura]="estructuraModalDesplegable"
        (perfilSeleccionado)="perfilSeleccionado($event)">
    </app-desplegable-uno>
</section>

<section class="seccion-puntos-atencion">
    <!-- <app-puntos-de-atencion></app-puntos-de-atencion> -->
</section>