<section #seccionTramitesId class="seccion-tramites-por-id">
    <app-header-compartir-v1 *ngIf="activarTramitesId" [urlTramite]="urlPage" [titleTramite]="infoBasicaTramite"
        [botonAtras]="botonAtras">
    </app-header-compartir-v1>
    <div *ngIf="activarTramitesId" class="contenido">
        <app-ficha-especifica-header-pwa *ngIf="activarTramitesId" [data]="infoBasicaTramite">
        </app-ficha-especifica-header-pwa>
        <app-ficha-especifica-detalle-pwa *ngIf="activarTramitesId" [data]="infoBasicaTramite"
            (abrirPuntosAtencion)="abrirPuntosAtencion($event)">
        </app-ficha-especifica-detalle-pwa>
        <app-ficha-especifica-cards-pwa *ngIf="activarTramitesId" [infoTramite]="infoBasicaTramite" [itemid]="idTramite"
            (abrirPuntosAtencion)="abrirPuntosAtencion($event)"></app-ficha-especifica-cards-pwa>
        <app-tramites-id-acordeon *ngIf="activarTramitesId" [dataAcordeon]="perfil_idTramite"
            [tramiteEnLinea]="infoBasicaTramite.EnLinea" [urlManualEnlinea]="infoBasicaTramite.UrlManualEnLinea">
        </app-tramites-id-acordeon>
        <app-ficha-especifica-footer-pwa *ngIf="activarTramitesId" [data]="infoBasicaTramite">
        </app-ficha-especifica-footer-pwa>
        <app-footer [position]="true"></app-footer>
    </div>
    <app-boton-retroalimentacion *ngIf="activarTramitesId"></app-boton-retroalimentacion>
    <app-desplegable-uno *ngIf="audiencias && activarTramitesId" [data]="audiencias"
        [estructura]="estructuraModalDesplegable" (perfilSeleccionado)="perfilSeleccionado($event)"
        (botonRetroalimentaciona)="iteracionBotonRetroalimentaciona($event)">
    </app-desplegable-uno>
</section>

<section #seccionPuntoAtencion class="seccion-puntos-atencion">
    <app-puntos-de-atencion *ngIf="activarPuntosAtecion && activarTramitesId" [perfil_idTramite]="perfil_idTramite"
        [dataPuntosAtencion]="dataPuntosAtencion" [data]="infoBasicaTramite"
        (cerrarPuntosAtencion)="cerrarPuntosAtencion($event)">
    </app-puntos-de-atencion>
</section>