.seccion-tramites-por-id {
    transition: 1s all;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.seccion-tramites-por-id::-webkit-scrollbar {
    display: none;
}

.seccion-tramites-por-id .contenido {
    padding: 3.5rem 0 0.75rem;
}

.seccion-puntos-atencion {
    transition: 1s all;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
}

::ng-deep .button-container {
    opacity: 1;
    transition: 0.4s all ease;
}