.seccion-tramites-por-id {
    transition: 0.5s all;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.seccion-tramites-por-id .contenido{
    padding: 3.5rem 0 0.75rem;
}
.seccion-puntos-atencion {
    transition: 0.5s all;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
}

::ng-deep .button-container {
    opacity: 1;
    transition: 0.4s ;
}