<div class="pb-5" *ngIf="noticias.length>0">
  <div id="contenedor-noticias-focus" tabindex="0"
    [attr.aria-label]="'Se encuentra en la página'+(currentPage+1)+' con'+noticias.length+' noticias, para navegar entre las noticias presione la tecla tab.'">
    <div class="col-12 link-container mt-4" *ngIf="currentPage==0 && noticias.length>0">
      <a class="current-link" [title]="'Ir a ' + noticias[0].titulo">
        <!-- <a class="current-link" [routerLink]="['/noticias/detalle', noticias[0].id]" tabIndex="0" [attr.aria-label]="'Título de la noticia: ' + noticias[0].titulo+ '. Descripción: '+noticias[0].sumario+ '. Fecha de publicación: '+noticias[0].textoFecha" [title]="'Ir a ' + noticias[0].titulo"> -->
        <!-- DESKTOP CARD PRINCIPAL -->

        <div class="row new-container-principal" *ngIf="!esResponsive()">
          <div class="col-4 info-container-principal">
            <div class="date-text mt-4 mb-2">{{ noticias[0].textoFecha }}</div>
            <div class="news-title" title={{noticias[0].titulo}}>{{noticias[0].titulo}}</div>
            <div class="date-text my-2" title="{{noticias[0].sumario}}">
              {{(noticias[0].sumario.length>370)?noticias[0].sumario.substring(0,370)+"...":noticias[0].sumario}}
            </div>
          </div>
          <div class="col-8 image-container-principal">
            <img class="img" [src]="noticias[0].imagen" alt="Imagen decorativa"
              (error)="$any($event.target).src = 'https://govco-prod-webutils.s3.amazonaws.com/uploads/2022-04-19/0afed651-6c25-48ee-85d0-46aceeff88a9-Default_image_Background.svg'" />
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="container-noticia-listado mx-0 mt-0">
    <div class="container-tarjeta-noticias" *ngFor="let noticia of noticias">

      <app-tarjeta-informativa [imagen]="noticia.imagen" [descripcionImagen]="noticia.titulo"
        [url]="'/noticias/detalle/' + noticia.id" [descripcioUrl]="noticia.titulo" [titulo]="noticia.titulo">
      </app-tarjeta-informativa>

      <div class="container-etiqueta-noticias">
        <app-etiqueta estado="informative">
          <span class="material-symbols-outlined">
            calendar_today
          </span>
          {{noticia.textoFecha}}
        </app-etiqueta>
      </div>

      <div class="container-boton-noticias">
        <app-boton [symbol]="true" (click)="shareNews(noticia)">
          <span class="material-symbols-outlined">
            share
          </span>
        </app-boton>
      </div>

    </div>
  </div>
</div>

<div class="mt-5 pb-3 container" *ngIf="mostrarMensajeSinDatos">
  <govco-sin-resultados-noticias></govco-sin-resultados-noticias>
</div>