.modal-prefiltrado-pwa {
    background-color: #E6EFFD;
    height: 100%;
    border-radius: 20px;
    padding: 1.5rem 1rem;
    box-shadow: 0px 4px 10px #13173d29;

    .lista-filtro {
        list-style: none;
        padding: 0;

        .item-filtro {
            width: 100%;
            height: 2.5rem;
            margin-bottom: 8px;
            outline-color: #000000;

            .contenido-item {
                display: flex;
                align-items: center;
                height: 100%;
                padding: .5rem .75rem;
                text-decoration: none;

                .caja-icono-24-pwa {

                    .icono-item {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

                p {
                    margin: 0 0 0 .5rem;
                    font-family: 'WorkSans-Regular';
                    font-size: .875em;
                    color: #004884;
                }
            }

        }

        .item-filtro.active {
            background-color: #FFFFFF;
            border-radius: 5px;

            .contenido-item {

                p {
                    font-family: 'WorkSans-Medium';
                }
            }
        }

        #prefiltro-0 {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/description_inactivo.svg);
                }
            }
        }

        #prefiltro-0.active {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/description_activo.svg);
                }
            }
        }

        #prefiltro-1 {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/home_work_inactivo.svg);
                }
            }
        }

        #prefiltro-1.active {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/home_work_activo.svg);
                }
            }
        }

        #prefiltro-2 {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/feed_inactivo.svg);
                }
            }
        }

        #prefiltro-2.active {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/feed_activo.svg);
                }
            }
        }


        #prefiltro-3 {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/diversity.svg);
                }
            }
        }

        #prefiltro-4 {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/store_inactivo.svg);
                }
            }
        }

        #prefiltro-4.active {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/store_activo.svg);
                }
            }
        }

        #prefiltro-5 {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/computer_inactivo.svg);
                }
            }
        }

        #prefiltro-5.active {
            .contenido-item {
                .icono-item {
                    content: url(../../../../../assets/icons-fonts/computer_activo.svg);
                }
            }
        }

    }
}