<div class="modal-prefiltrado-pwa">
    <ul class="lista-filtro">
        <li class="item-filtro" id="tramites-servicios">
            <a href="" class="contenido-item">
                <div class="caja-icono-24-pwa">
                    <span class="icono-item" type="image" 
                        alt="Borrar contenido de la barra de busqueda"></span>
                </div>
                <p>Trámites y servicios</p>
            </a>
        </li>
        <li class="item-filtro" id="entidades">
            <a href="" class="contenido-item">
                <div class="caja-icono-24-pwa">
                    <span class="icono-item" type="image" 
                        alt="Borrar contenido de la barra de busqueda"></span>
                </div>
                <p>Entidades</p>
            </a>
        </li>
        <li class="item-filtro" id="noticias">
            <a href="" class="contenido-item">
                <div class="caja-icono-24-pwa">
                    <span class="icono-item" type="image" 
                        alt="Borrar contenido de la barra de busqueda"></span>
                </div>
                <p>Noticias</p>
            </a>
        </li>
        <li class="item-filtro" id="ejecicios-participacion">
            <a href="" class="contenido-item">
                <div class="caja-icono-24-pwa">
                    <span class="icono-item" type="image" 
                        alt="Borrar contenido de la barra de busqueda"></span>
                </div>
                <p>Ejercicios de participación</p>
            </a>
        </li>
        <li class="item-filtro" id="ventanillas-unicas">
            <a href="" class="contenido-item">
                <div class="caja-icono-24-pwa">
                    <span class="icono-item" type="image" 
                        alt="Borrar contenido de la barra de busqueda"></span>
                </div>
                <p>Ventanillas Únicas</p>
            </a>
        </li>
        <li class="item-filtro" id="portales-transversales">
            <a href="" class="contenido-item">
                <div class="caja-icono-24-pwa">
                    <span class="icono-item" type="image" 
                        alt="Borrar contenido de la barra de busqueda"></span>
                </div>
                <p>Portales Transversales</p>
            </a>
        </li>
    </ul>
</div>