<div class="tarjeta-aviso">
    <div class="tarjeta-aviso-cabecera">
        <img class="tarjeta-aviso-cabecera-img" src={{imageSrc}} alt="imagen información para mejorar la busqueda" />
        <h3 class="tarjeta-aviso-cabecera-titulo">Lo sentimos</h3>
    </div>
    <div class="tarjeta-aviso-contenido">
        <p class=" tarjeta-aviso-contenido-mensaje">No aparecen coincidencias con los criterios seleccionados.</p>
        <p class="tarjeta-aviso-mensaje-texto">Sigue estas sugerencias:</p>     
        <div class="tarjeta-aviso-mensaje-texto">
            <span *ngIf="!(totalFiltros > 0 || geoLocMunName == 'Toda Colombia')"
                class="tarjeta-aviso-mensaje-texto">• 
                <a class="tarjeta-aviso-mensaje-link" href="javascript:void(0)" (click)="abrirGeolocalizacion()">Cambia la ubicación</a>
                <span> para refinar la búsqueda.</span>
            </span>   
            <span>• Limpiar los filtros e ingresar nuevos criterios.</span>
            <span>• Cambiar la categoría, el sector, la fecha de publicación, etc.</span>
            <span>• Digita palabras claves (temas generales) en la barra de búsqueda del portal.</span>
            <span class="text-bold">• Si aún no encuentras lo que buscas,</span>
        </div>
        <a class="tarjeta-aviso-mensaje-link">Contáctanos</a>
    </div>
</div>
