<div class="tarjeta-aviso">
    <div class="tarjeta-aviso-cabecera">
        <img class="tarjeta-aviso-cabecera-img" src={{imageSrc}} alt="imagen información para mejorar la busqueda" />
        <h3 class="tarjeta-aviso-cabecera-titulo">Lo sentimos</h3>
    </div>
    <div class="tarjeta-aviso-contenido">
        <p class=" tarjeta-aviso-contenido-mensaje">No aparecen coincidencias con los criterios seleccionados.</p>
        <p class="tarjeta-aviso-mensaje-texto">Sigue estas sugerencias:</p>     
        <ul class="tarjeta-aviso-mensaje-texto">
            <li *ngIf="totalFiltros == 0 && geoLocMunName !== 'Toda Colombia' && !mostrarAvisoModal">
                <a class="tarjeta-aviso-mensaje-link" href="javascript:void(0)" (click)="abrirGeolocalizacion()">Cambia la ubicación</a>
                 para refinar la búsqueda.
            </li>   
            <li>Limpiar los filtros e ingresar nuevos criterios.</li>
            <li>Cambiar la categoría, el sector, la fecha de publicación, etc.</li>
            <li>Digita palabras claves (temas generales) en la barra de búsqueda del portal.</li>
            <li class="text-bold">
                Si aún no encuentras lo que buscas, 
                <a class="tarjeta-aviso-mensaje-link" href="mailto:soporteccc@mintic.gov.co>Contáctanos" target="_blank">Contáctanos.</a>
            </li>
        </ul>        
    </div>
</div>
