.govco-pwa-contactos-emergencia-container{
  width: 100vw;

  .row-pwa{
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
}
.emergency-contact-container {
    margin-bottom: 1rem;
    margin-top: 1rem;

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: none;
    }

    .headboard {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 1.5rem;
            text-align: center;
            color: #004884;
        }

        .launch {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-align: left;
            font-size: 1.25rem;
            color: #004884;
        }
    }

    .title-govco {
        margin: 0.5rem auto 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon-alert {
        display: block;
        width: 80px;
        height: 80px;
        margin: 1.5rem;
    }

    .card-body {
        padding: 0.9375rem 1.875rem;
    }

    .content-govco {
        margin-bottom: 1.5rem;

        .emergency-contact-item {
            .image-icon {
                text-decoration: none;
            }
        }
    }

    ul {
        overflow: hidden;
        padding: 1rem 3rem;

        li {
            display: flex;
            float: left;
            width: 50%;
            padding: 0 2rem;
            align-items: center;
            font-size: 18px;
            min-height: 2.25rem;
            font-family: 'Montserrat', sans-serif;

            .govco-icon-contact {
                background-color: #004884;
                border-radius: 50%;
                font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 20;
                color: #fff;
                padding: 4px;
                font-size: 14px;
            }

            .govco-icon-callin-cn {
                font-size: 1.125rem;
                font-family: 'Montserrat', sans-serif !important;
                display: flex;
                justify-content: space-between;
                min-width: 4.5rem;
                align-items: center;
                font-weight: normal;
                display: flex;
                margin-right: 1em;
                font-weight: 700;
                color: #004884
            }

            .govco-icon-callin-cn::before {
                font-family: "Govco Icon";
                font-size: 1.5rem;
            }
        }
    }
}

/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .emergency-contact-container {
        ul {
            li {
                width: 100%;
            }
        }
    }
}

/* Smartphones (portrait) ---------- */
@media screen and (max-width: 320px) {
    .emergency-contact-container {
        ul {
            li {
                width: 100%;
            }
        }
    }
}

/* Smartphones (landscape) ---------- */
@media screen and (max-width: 321px) {
    .emergency-contact-container {
        ul {
            li {
                width: 100%;
            }
        }
    }
}

/* tablets, iPads (portrait) ---------- */
@media screen and (max-width: 768px) {
    .emergency-contact-container {

        ul {
            padding: unset !important;

            li {
                width: 100%;
                padding: unset !important;
                border-bottom: none;
            }
        }
    }
}
