<div class="govco-pwa-contactos-emergencia-container">
  <div class="row-pwa">
      <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="emergency-contact-container">
              <div class="card border-0">
                  <div class="card-body container-lg">
                      <div class="headboard">
                          <h2 class="title">Contactos de emergencia</h2>
                          <p class="launch">Llama a las líneas de atención correspondientes a tu necesidad.</p>
                      </div>
                      <div class="content-govco">
                          <ul>
                              <li *ngFor="let coontEmer of contactos" class="emergency-contact-item">                                    
                                    <a href="tel: {{coontEmer.numero.replace('#','%23')}}" class="{{coontEmer.icono}} image-icon">
                                        <span class="material-symbols-outlined govco-icon-contact"> call </span>
                                        {{coontEmer.numero}}
                                    </a>
                                    {{coontEmer.titulo}}
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
