<div class="banner-ciiu-box">
    <div class="row">
        <div class="col-12">
            <div class="banner-ciiu-box-container">
                <div class="col-md-6 col-sm-12 banner-ciiu-box-container-info" style="padding-left: 0px;">
                    <img class="banner-ciiu-box-info_icon" src="assets/images/consultaciiu/codigoCIIU.jpg" />
                </div>
                <div class="col-md-6 col-sm-12 banner-ciiu-box-container-text">
                    <a [routerLink]="['/ficha-tramites-y-servicios/codigos-ciiu-y-tramites']" title="{{titulo}}">
                        <h3>¿Estás formalizando tu empresa?</h3>
                    </a>
                    <a [routerLink]="['/ficha-tramites-y-servicios/codigos-ciiu-y-tramites']" title="{{titulo}}">
                        <p>Consulta aquí los trámites requeridos que están asociados a tu actividad económica
                            <span>(Código CIIU)</span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>