<div #modalFiltroNivel1 class="container-filtros-prueba">
    <div class="container-filtros">
        <div class="dropdown-arrow"></div>
        <div class="header">
            <h5>Filtrar por:</h5>
            <span class="clean">Limpiar filtros</span>
        </div>
        <hr>
        <ul *ngIf="resultadosBusqueda">
            <li *ngFor="let filtro of seccionFiltros[seccion]" [class.contiene-etiqueta]="filtersSelected[filtro.id] != undefined">
                <app-etiqueta estado="informative" *ngIf="filtersSelected[filtro.id] != undefined">
                    {{filtro.id == 'categorias' || filtro.id == 'subCategorias' ? filtersSelected[filtro.id].nombre : filtersSelected[filtro.id]}}
                    <span class="material-symbols-outlined delete-selection" (click)="eliminarFiltro(filtro.id)">
                        close
                    </span>
                </app-etiqueta>
                <a [class.disabled]="!filtro.active" (click)="seleccionaFiltroNivelUno(filtro.id, filtro.nombre)">
                    <span *ngIf="filtersSelected[filtro.id] == null">{{filtro.nombre}}</span>
                    <span class="material-symbols-outlined information" *ngIf="filtro.id == 'nombreEstandarizado'">
                        question_mark
                    </span>
                    <span class="material-symbols-outlined arrow">
                        chevron_right
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<app-modal-filtro-segundo-nivel *ngIf="informacionModalFiltro" [informacionModal]="informacionModalFiltro"
    (itemSelected)="itemFiltroNivelDos($event)">
</app-modal-filtro-segundo-nivel>