<div #modalFiltroNivel1 class="backdrop-filtros">
    <div class="container-filtros">
        <div class="backdrop-spinner-filtros"></div>
        <div class="dropdown-arrow"></div>
        <div class="header">
            <h5>Filtrar por:</h5>
            <button class="clean" (click)="limpiarFiltros()" [disabled]="itemSeleccionados == 0 ? true : false">Limpiar filtros</button>
        </div>
        <hr>
        <ngx-skeleton-loader appearance="line" count="3" *ngIf="!resultadosBusqueda"
            [theme]="{ height: '12px', 'background-color': '#888cc93d'}">
        </ngx-skeleton-loader>
        <ul *ngIf="resultadosBusqueda">
            <li *ngFor="let filtro of seccionFiltros[seccion]" [class.contiene-etiqueta]="filtrosSeleccionados[filtro.id] != undefined">
                <button [class.disabled]="!filtro.active" (click)="seleccionaFiltroNivelUno(filtro.id, filtro.nombre, $event)" [tabindex]="filtro.active ? '0' : '-1'" [attr.itemfiltroniveluno]="filtro.id == 'subCategorias' ? 'subcategorias' : filtro.id">
                    <app-etiqueta estado="informative" *ngIf="filtrosSeleccionados[filtro.id == 'subCategorias' ? 'subcategorias' : filtro.id] != undefined">
                        <span class="text" [class.contiene-tooltip]="filtro.id == 'nombreEstandarizado'">
                            {{filtro.id == 'categorias' || filtro.id == 'subCategorias' ? filtrosSeleccionados[filtro.id == 'subCategorias' ? 'subcategorias' : filtro.id].nombre : filtrosSeleccionados[filtro.id]}}
                        </span>
                        <button class="material-symbols-outlined delete-selection" (click)="eliminarFiltro(filtro.id == 'subCategorias' ? 'subcategorias' : filtro.id)">
                            close
                        </button>
                    </app-etiqueta>
                    <button class="infoBoton" *ngIf="filtro.id == 'nombreEstandarizado'" (click)="abrirModalInformativo()">
                        <span class="material-symbols-outlined info">
                            question_mark
                        </span>
                    </button>
                    <div class="filtro-sin-seleccion" *ngIf="filtrosSeleccionados[filtro.id == 'subCategorias' ? 'subcategorias' : filtro.id] == null">
                        {{filtro.nombre}}
                    </div>
                    <span class="material-symbols-outlined arrow">
                        chevron_right
                    </span>
                </button>
            </li>
        </ul>
    </div>
</div>
<app-modal-filtro-segundo-nivel *ngIf="informacionModalFiltro" [informacionModal]="informacionModalFiltro"
    (itemSelected)="itemFiltroNivelDos($event)">
</app-modal-filtro-segundo-nivel>
