<div class="container-filtros-prueba">
    <div class="container-filtros">
        <div class="dropdown-arrow"></div>
        <div class="header">
            <h5>Filtrar por:</h5>
            <span class="clean">Limpiar filtros</span>
        </div>
        <hr>
        <ul>
            <li *ngFor="let filtro of seccionFiltros[seccion]">
                <a [class.disabled]="filtro.padre" (click)="seleccionaFiltroNivelUno(filtro.id, filtro.nombre)">
                    {{filtro.nombre}}
                    <span class="material-symbols-outlined information" *ngIf="filtro.id == 'nombreEstandarizado'">
                        question_mark
                    </span>
                    <span class="material-symbols-outlined arrow">
                        chevron_right
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<app-modal-filtro-segundo-nivel *ngIf="informacionModalFiltro" [informacionModal]="informacionModalFiltro"
    (itemSelected)="itemFiltroNivelDos($event)">
</app-modal-filtro-segundo-nivel>