<div class="accordion subacordeon-pwa-govco" id="primerItemAcordeon">
  <ngx-skeleton-loader appearance="line" count="3" *ngIf="!dataItemAcordeon"
      [theme]="{ height: '12px', 'background-color': '#888cc93d'}">
  </ngx-skeleton-loader>
  <div class="card" *ngFor="let item of dataItemAcordeon; let i = index;" [class.active]="item.active">
      <div class="card-header" [id]="'item' + i">
          <h2 class="mb-0">
              <button (click)="activarItem(i)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapseItem' + i" aria-expanded="false" [attr.aria-controls]="'collapseItem' + i">
                  <div class="numList">
                      {{i + 1}}
                  </div>
                  <h5>{{item.Descripcion}}</h5>
                  <span class="material-symbols-outlined">
                      expand_more
                  </span>
              </button>
          </h2>
      </div>
      <div [id]="'collapseItem' + i" class="collapse" [attr.aria-labelledby]="'item' + i" data-parent="#primerItemAcordeon">
          <ngx-skeleton-loader appearance="line" count="3" *ngIf="!item.acciones"
              [theme]="{ height: '12px', 'background-color': '#888cc93d'}">
          </ngx-skeleton-loader>
          <ng-container *ngFor="let accion of item.acciones">
              <ng-container>
                  <app-accion-solicitud
                      *ngIf="accion.SOLICITUD"
                      [data]="accion.SOLICITUD">
                  </app-accion-solicitud>
                  <app-accion-verificacion
                      *ngIf="accion.VERIFICACION_INST"
                      [data]="accion.VERIFICACION_INST">
                  </app-accion-verificacion>
                  <app-accion-pago
                      *ngIf="accion.PAGO"
                      [data]="accion.PAGO"
                      [indexPago] = "i">
                  </app-accion-pago>
                  <app-accion-formulario
                      *ngIf="accion.FORMULARIO"
                      [data]="accion.FORMULARIO" [tramiteEnLinea]="tramiteEnLinea">
                  </app-accion-formulario>
                  <app-accion-documento
                      *ngIf="accion.DOCUMENTO"
                      [data]="accion.DOCUMENTO">
                  </app-accion-documento>
                  <app-accion-excepcion 
                      *ngIf="accion.EXCEPCION"
                      [data]="accion.EXCEPCION"
                      [indexExcepcion] = "i">
                  </app-accion-excepcion>
              </ng-container>
          </ng-container>
      </div>
  </div>
</div>
