<div class="accordion subacordeon-pwa-govco" id="primerItemAcordeon">
  <ngx-skeleton-loader appearance="line" count="3" *ngIf="!dataItemAcordeon"
      [theme]="{ height: '12px', 'background-color': '#888cc93d'}">
  </ngx-skeleton-loader>
  <div class="card" *ngFor="let item of dataItemAcordeon; let i = index;" [class.active]="item.active">
      <div class="card-header" [id]="'item' + i">
          <h2 class="mb-0">
              <button (click)="activarItem(i)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapseItem' + i" aria-expanded="false" [attr.aria-controls]="'collapseItem' + i">
                  <div class="numList">
                      {{i + 1}}
                  </div>
                  <h5>{{item.Descripcion}}</h5>
                  <span class="material-symbols-outlined">
                      expand_more
                  </span>
              </button>
          </h2>
      </div>
      <div [id]="'collapseItem' + i" class="collapse" [attr.aria-labelledby]="'item' + i" data-parent="#primerItemAcordeon">
          <ngx-skeleton-loader appearance="line" count="3" *ngIf="!item.acciones"
              [theme]="{ height: '12px', 'background-color': '#888cc93d'}">
          </ngx-skeleton-loader>
          <ng-container *ngFor="let accion of item.acciones">
              <ng-container *ngFor="let tipoAccion of accion | keyvalue">
                  <!-- {{tipoAccion.key}} -->
                  <app-accion-solicitud
                      *ngIf="tipoAccion.key === 'SOLICITUD' && tipoAccion.value"
                      [data]="tipoAccion.value">
                  </app-accion-solicitud>
                  <app-accion-verificacion
                      *ngIf="tipoAccion.key === 'VERIFICACION_INST' && tipoAccion.value"
                      [data]="tipoAccion.value">
                  </app-accion-verificacion>
                  <app-accion-pago
                      *ngIf="tipoAccion.key === 'PAGO' && tipoAccion.value"
                      [data]="tipoAccion.value">
                  </app-accion-pago>
                  <app-accion-formulario
                      *ngIf="tipoAccion.key === 'FORMULARIO' && tipoAccion.value"
                      [data]="tipoAccion.value">
                  </app-accion-formulario>
                  <app-accion-documento
                      *ngIf="tipoAccion.key === 'DOCUMENTO' && tipoAccion.value"
                      [data]="tipoAccion.value">
                  </app-accion-documento>
              </ng-container>
          </ng-container>
          <ng-container *ngIf="item.acciones">
              <app-accion-excepcion *ngIf="item.acciones.EXCEPCION" [data]="item.acciones.EXCEPCION"></app-accion-excepcion>
          </ng-container>
      </div>
  </div>
</div>

