.tramiteCard-v1{
    padding: 50px 15px 0px 15px;
    .text-intro{
        h2{
            text-align: left;
            font: 600 20px/30px Montserrat;
            letter-spacing: 0px;
            color: #004884;
            opacity: 1;
        }
        
    }
    p {
        text-align: left;
        font-family: "WorkSans-Regular",sans-serif;
        letter-spacing: 0px;
        font-size: 16px;
        color: #4B4B4B;
        b {
            font-family: "Montserrat-Bold",sans-serif;            
        }
    }
}