<div class="img-modal">
    <img src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2021-11-26/6eb32b7a-5b55-4181-b7ea-d238f2566d80-thumbnail_iconocara.png" alt="">
</div>
<h6 mat-dialog-title class="titulo-modal">Sitio externo no disponible</h6>
<p mat-dialog-content class="texto-body-modal">No es posible redireccionar al sitio externo ya que no se encuentra disponible.</p>
<div mat-dialog-actions class="govco-boton-modal">
  <button mat-button mat-dialog-close cdkFocusInitial>ACEPTAR</button>
</div>
