.breadcrumb {
    .breadcrumb-item {
        a{
            text-decoration: none;
        }
        span {
            font-size: 14px;
            font-weight: 500;
        }
        .breadcrumb-text {
            margin-top: 2px;
            color: #004FBF;
        }
        .govco-icon {
            font-size: 1.1rem;
        }
        .item-link{
            color: #3772FC;
        }
        .breadcrumb-home:hover {
            color: #3772FF;
        }
    }
}
.breadcrumb-dark {
    .breadcrumb-text, .item-link, .breadcrumb-home:hover, .breadcrumb-home, .govco-icon-shortr-arrow {
        color: #FFF !important;
    }
    .breadcrumb-home:hover {
        color: #FFF;
    }
}