<section>
  <table class="govco-pwa-acerca-tabla" id="legislacion">
    <div class="govco-pwa-legislacion-header">
        <th class="checkbox" style="width: 17%; height: 100%;">
          <label class="govco-pwa-checkbox-header">
            <input class="govco-pwa-checkbox-header-input" type="checkbox" name="selectorGeneral" (change)="toogleSeleccion()">
            <span class="govco-pwa-checkbox-header-input-show govco-pwa-checkbox-header-input-show-checkbox"></span>
          </label>
        </th>
        <th style="width: 63%;">Documento</th>
        <th style="width: 20%;">Acción</th>
    </div>

    <tbody>
      <tr id='legislacionContenido' class="govco-pwa-elemento-container" *ngFor="let norma of normatividad">
        <td style="width: 17%; height: 100%; display: flex;">
          <label class="govco-pwa-checkbox-list">
            <input class="normas govco-pwa-checkbox-list-input"
            type="checkbox"
            name="{{norma.TipoNorma}} {{norma.NumeroNorma}} de {{norma.AnoNorma}}"
            value="{{norma.UrlDescarga ?  norma.UrlDescarga : norma.UrlNorma}}"
            (change)="toogleSeleccionItem($event)">
            <span class="govco-pwa-checkbox-list-input-show govco-pwa-checkbox-list-input-show-checkbox"></span>
          </label>
        </td>
        <td style="width: 63%;">
          <div>
            {{norma.TipoNorma}} {{norma.NumeroNorma}} de {{norma.AnoNorma}} ({{norma.Articulos}})
          </div>
        </td>
        <td style="width: 20%;">
          <div class="govco-pwa-seguimiento-icono">
            <div class="govco-pwa-seguimiento-icono-background">
              <a [href]="norma.UrlDescarga ?  norma.UrlDescarga : norma.UrlNorma">
                <span class="material-symbols-outlined">
                  file_download
                </span>
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="govco-pwa-ver-mas-button">
    <button (click)="VerMasLegislacion()">Ver más</button>
  </div>

  <div class="govco-pwa-legislacion-body-button">
    <button [ngClass]="{disabled: (toggleBool === true) ? true : false}"   (click)="descargarSeleccion()">
      <div class="govco-pwa-boton-seleccion">
        <div class="govco-pwa-seguimiento-icono-background">
          <span class="material-symbols-outlined">
            file_download
          </span>
        </div>
        Descargar selección
      </div>
      </button>
  </div>
</section>
