<div id="fichaContainer" class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-12" (keyup)="salir($event)" tabindex="0"
        [attr.aria-label]="'A continuación encontrará sección de la información resumen del trámite' + nombreTramite + '.Si en algún momento desea salir de la sección presione la tecla escape.'">
        <div class="mt-5" *ngIf="integrated">
          <app-linea-avance></app-linea-avance>
        </div>
        <app-fichaespecifica-header *ngIf="infoBasicaTramite" [data]="infoBasicaTramite"></app-fichaespecifica-header>
        <div class="tramite-area">
          <app-fichaespecifica-detalle *ngIf="infoBasicaTramite" [data]="infoBasicaTramite"></app-fichaespecifica-detalle>
          <app-btn-puntos-atencion [areaServicio]="true" *ngIf="infoBasicaTramite" [data]="infoBasicaTramite">
          </app-btn-puntos-atencion>
          <app-btn-tramite-linea class="" [data]="infoBasicaTramite"></app-btn-tramite-linea>
        </div>
      </div>
      <aside class="col-lg-4 col-md-12 col-sm-12 area-servicio">
        <app-tutoriales [infoTramite]="infoBasicaTramite"></app-tutoriales>
        <app-ayuda [itemid]="idTramite"></app-ayuda>
        <app-atencion [areaServicio]="true" *ngIf="infoBasicaTramite" [data]="infoBasicaTramite"></app-atencion>
      </aside>
    </div>
    <a id="salir-seccion-tramite" tabindex="0" aria-label="Ha salido de la sección"></a>
    <!--Final del row-->
  </div>
  
  <div (keyup)="salirAcordeon($event)" tabindex="0"
  aria-label="A continuación encontrará la sección de la información detallada del trámite.  Si en algún momento desea salir de la sección presione la tecla escape.">
    <!-- <app-fichaespecifica-accordion *ngIf="audiencias" [data]="audiencias" [tramite]="infoBasicaTramite"
      (cargarMomentosAudiencia)="cargarMomentosAudiencia($event)" (cargarDetalleMomento)="cargarDetalleMomento($event)">
    </app-fichaespecifica-accordion> -->
    <div class="container">
      <div class="col-lg-10 col-sm-12 p-0">
        <!-- <app-fichaespecifica-resultado [itemid]="idTramite" [infoTramite]="infoBasicaTramite">
        </app-fichaespecifica-resultado> -->
        <div class="mb-5">
          <!-- <app-legislacion-asociada [data]="infoBasicaTramite"></app-legislacion-asociada> -->
        </div>
        <!-- <app-btn-puntos-atencion areaServicio=true *ngIf="infoBasicaTramite" [data]="infoBasicaTramite">
        </app-btn-puntos-atencion> -->
        <!-- <app-btn-tramite-linea class="" [data]="infoBasicaTramite"></app-btn-tramite-linea> -->
      </div>
      <!-- <app-fichaespecifica-footer [data]="infoBasicaTramite"></app-fichaespecifica-footer> -->
    </div>
    <a id="salir-seccion-acordeon" tabindex="0" aria-label="Ha salido de la sección"></a>
  </div>
  <div class="experience">
    <!-- <govco-iteraccion-component module="Tramites" [itemid]="idTramite" [nombretramite]="nombreTramite">
    </govco-iteraccion-component> -->
    <!-- <govco-tu-experiencia module="Tramites" [itemid]="idTramite"></govco-tu-experiencia> -->
  </div>
