<div id="espaldarModal" class="modal-desplegable-pwa espaldar-modal"></div>
<div class="modal-desplegable-pwa contenedor">
    <div class="modal-contenido">
        <div class="header-modal">
            <button id="modalDesplegable" (click)="abrirModal()" class="button" data-dismiss="modal" tabindex="1">
                <hr class="hr">
                Selecciona tu perfil
            </button>
        </div>
        <div class="body-modal">
            <p class="texto">Escoge un perfil para que puedas ver la información especifica del trámite ajustada por
                completo para ti.</p>
            <div class="govco-servicios-content">
                <div *ngFor="let itemPerfil of estructura; let i = index">
                    <button class="govco-candybox-element" [class.govco-active]="itemSelected == i" [class.off]="estado[i]"
                        (click)="seleccionarItem(i)" tabindex="1" [disabled]="!desplegableVisible">
                        <div class="govco-candybox-icon" [class.off]="estado[i]">
                            <span>
                                <img src="{{estructura[i].icono}}" alt="Ingresar Ciudadano">
                            </span>
                        </div>
                        <p [innerHTML]="titulo[i]" [class.off]="estado[i]"></p>
                    </button>
                </div>
            </div>
        </div>
        <div class="footer-modal">
            <button type="button" class="btn-pwa-govco" (click)="cerrarModal()" tabindex="1" [disabled]="!desplegableVisible">
                Continuar
            </button>
        </div>
    </div>
</div>
