<div id="espaldarModal" class="modal-desplegable-pwa espaldar-modal"></div>
<div class="modal-desplegable-pwa contenedor">
    <div class="modal-contenido">
        <div class="header-modal">
            <button id="modalDesplegable" (click)="abrirModal()" class="button" data-dismiss="modal">
                <hr class="hr">
                Selecciona tu perfil
            </button>
        </div>
        <div class="body-modal">
            <p class="texto">Escoge un perfil para que puedas ver la información especifica del trámite ajustada por
                completo para ti.</p>

            <div class="govco-servicios-content">
                <a>
                    <div class="govco-candybox-element" [class.govco-active]="itemSelected == 0" [class.off]="estado[0]" (click)="seleccionarItem(0)">
                        <div class="govco-candybox-icon" [class.off]="estado[0]">
                            <span>
                                <img src="{{estructura[0].icono}}" 
                                    alt="Ingresar Ciudadano">
                            </span>
                        </div>
                        <p [innerHTML]="titulo[0]" [class.off]="estado[0]"></p>
                    </div>
                </a>

                <a>
                    <div class="govco-candybox-element" [class.govco-active]="itemSelected == 1" [class.off]="estado[1]" (click)="seleccionarItem(1)">
                        <div class="govco-candybox-icon" [class.off]="estado[1]">
                            <span>
                                <img src="{{estructura[1].icono}}"
                                    alt="Ingresar Extranjero">
                            </span>
                        </div>
                        <p [innerHTML]="titulo[1]" [class.off]="estado[1]"></p>
                    </div>
                </a>

                <a>
                    <div class="govco-candybox-element" [class.govco-active]="itemSelected == 2" [class.off]="estado[2]"(click)="seleccionarItem(2)">
                        <div class="govco-candybox-icon" [class.off]="estado[2]">
                            <span>
                                <img src="{{estructura[2].icono}}"
                                    alt="Ingresar Empresa privada">
                            </span>
                        </div>
                        <p [innerHTML]="titulo[2]" [class.off]="estado[2]"></p>
                    </div>
                </a>

                <a>
                    <div class="govco-candybox-element" [class.govco-active]="itemSelected == 3" [class.off]="estado[3]" (click)="seleccionarItem(3)">
                        <div class="govco-candybox-icon" [class.off]="estado[3]">
                            <span>
                                <img src="{{estructura[3].icono}}"
                                    alt="Ingresar Entidad pública">
                            </span>
                        </div>
                        <p [innerHTML]="titulo[3]" [class.off]="estado[3]"></p>
                    </div>
                </a>

            </div>
        </div>
        <div class="footer-modal">
            <app-boton (click)="cerrarModal()">Continuar</app-boton>
        </div>
    </div>

</div>