.container-pago {
    .acordeon-pwa-govco {
        width: 100%;
        .cardFather {
            width: 100%;
            border: 0;
            border-radius: 5px;
            background-color: #FFFFFF;
            margin-bottom: 16px;
            .card-header {
                background-color: #FFFFFF;
                border: 0;
                padding: 0;
                .card {
                    border: 0;
                    .card-header{
                        padding: 6px 16px 6px 16px;
                        background-color: #F2F2F2;
                        button {
                            color: #000000;
                            padding: 0;
                            font-size: 14px;
                            font-family: 'WorkSans-SemiBold';
                            text-decoration: none;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            span {
                                font-size: 32px;
                                transition: 0.4s linear transform;
                                color: #004884;
                            }
                        }
                        button:focus {
                            box-shadow: none;
                        }
                    }
                    .card-body {
                        background-color: #FFFFFF;
                        color: #000000;
                        font-family: 'WorkSans-Regular';
                        font-size: 14px;
                        padding: 14px 16px 14px 16px;
                    }
                }
            }
            .card-body {
                color: #000000;
                font-family: 'WorkSans-Regular';
                font-size: 14px;
            }
        }
        .card.active {
            .card-header h2 button {
                span {
                    display: inline;
                    transform: rotate(-180deg);
                }
            }
        }
    }    
}
