<div class="card-body">
    <div class="container-pago" *ngFor="let item of data">
        <h4>Pago</h4>
        <div class="accordion acordeon-pwa-govco" id="acordeonPago">
            <div class="card cardFather" *ngFor="let dataItem of item.dataInicial; let i = index;" [class.active]="dataItem.active">
                <div class="card-header" [id]="'itemPago' + i">
                    <h2 class="mb-0">
                        <div class="card">
                            <div class="card-header">
                                <button (click)="activarItem(i, item.data)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapsePago' + i" aria-expanded="false" [attr.aria-controls]="'collapsePago' + i">
                                    Descripción
                                    <span class="material-symbols-outlined">
                                        expand_more
                                    </span>
                                </button>
                            </div>
                            <div class="card-body">
                              <p>
                                {{dataItem.Descripcion}}
                              </p>
                            </div>
                        </div>
                    </h2>
                </div>
                <div [id]="'collapsePago' + i" class="collapse" [attr.aria-labelledby]="'itemPago' + i" data-parent="#acordeonPago">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                <h6>Tipo Moneda</h6>
                            </div>
                            <div class="card-body">
                              <p>
                                {{dataItem.Moneda}}
                              </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6>Tipo Valor</h6>
                            </div>
                            <div class="card-body">
                              <p>
                                {{dataItem.TipoValor}}
                              </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6>Cantidad</h6>
                            </div>
                            <div class="card-body">
                              <p>
                                {{dataItem.CantidadSmlv}}
                              </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6>Valor</h6>
                            </div>
                            <div class="card-body">
                              <p>
                                {{dataItem.Valor | currency:'':''}}
                              </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="card cardFather" *ngFor="let dataItem of item.dataFinal; let i = index;" [class.active]="dataItem.active">
                <div class="card-header" [id]="'itemPago' + i + 5">
                    <h2 class="mb-0">                        
                        <div class="card">
                            <div class="card-header">
                                <button (click)="activarItem(i + 5, item.data)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapsePago' + i + 5" aria-expanded="false" [attr.aria-controls]="'collapsePago' + i + 5">
                                    Descripción
                                    <span class="material-symbols-outlined">
                                        expand_more
                                    </span>
                                </button>
                            </div>
                            <div class="card-body">
                              <p>
                                {{dataItem.Descripcion}}
                              </p>
                            </div>
                        </div>
                    </h2>
                </div>
                <div [id]="'collapsePago' + i + 5" class="collapse" [attr.aria-labelledby]="'itemPago' + i + 5" data-parent="#acordeonPago">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                <h6>Tipo Moneda</h6>
                            </div>
                            <div class="card-body">
                              <p>
                                {{dataItem.Moneda}}
                              </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6>Tipo Valor</h6>
                            </div>
                            <div class="card-body">
                              <p>
                                {{dataItem.TipoValor}}
                              </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6>Cantidad</h6>
                            </div>
                            <div class="card-body">
                              <p>
                                {{dataItem.CantidadSmlv}}
                              </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6>Valor</h6>
                            </div>
                            <div class="card-body">
                              <p>
                                {{dataItem.Valor | currency:'':''}}
                              </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <app-boton (click)="verMasPagos(item, $event)" *ngIf="activeMas">Ver más</app-boton>
        <div class="info-pago">
            <h4>Información del medio de pago:</h4>
            <h5>• Pago en línea</h5>
            <p>
                En la entidad solicitante: en la Url de realizar el pago, se tienen las opciones de: pago en línea (PSE) o la de generar recibo para pago en entidad bancaria.
            </p>
        </div>
    </div>
</div>
