<div *ngIf="seccionInicio">
    <div *ngIf="router.url != '/categoria'" class="page-header clear-filter pb-3 notranslate">

        <h2 class="translate">{{seccionInicio.inicio.descripcionBreve}}</h2>
        <p class="translate salto-linea">{{seccionInicio.inicio.descripcion}}</p>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-12 col-lg-6 mb-5" *ngFor="let categoria of seccionInicio.seccionesNivelUno; let i = index">
                <section title="{{categoria.nombre}}">
                    <div class="row">
                        <div class="col-2 pr-0">
                            <img src="{{categoria.imagen}}" class="img-fluid"
                                alt="Icono de la categoría {{categoria.nombre}}">
                        </div>
                        <div class="col-10">
                            <a
                                routerLink="/biblioteca/categoria/{{hyphenateUrlParams(categoria.nombre+'/'+categoria.id)}}">
                                <h3>{{categoria.nombre}}</h3>
                            </a>
                            <p>{{categoria.descripcion}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="categoria.recursos.length==0">
                        <div class="col p-5 m-5 text-center">
                            <p>No hay recursos publicados</p>
                        </div>
                    </div>
                    <div id="contenedorContenido-{{categoria.id}}" class="row justify-content-start">
                        <div *ngFor="let j = index; let noticias of categoria.recursos | search: query"
                            [ngClass]="obtenerVisualizacion(categoria.tipoVisualizacion)">
                            <div *ngIf="categoria.tipoVisualizacion === 1" class="row">
                                <div class="col-2 pr-0 new-notification">
                                    <span class="new-item" *ngIf="noticias.new">Nuevo</span>
                                </div>
                                <div class="col-10">
                                    <a (click)="abrirRecurso(noticias)">{{noticias.nombre}}</a>
                                    <p class="intro item-separator pb-3">{{noticias.descripcion | wordLimit: 15}}</p>
                                </div>
                            </div>
                            <div *ngIf="categoria.tipoVisualizacion === 2 "
                                class="row d-flex align-items-end justify-content-center">
                                <div class="col">
                                    <a (click)="abrirRecurso(noticias)">
                                        <img width="60" height="80"
                                            [src]="noticias.externo===1 ? 'assets/images/pdf-externo-biblioteca.svg' : 'assets/images/pdf-biblioteca.svg'"
                                            *ngIf="noticias.tipoRecurso?.includes('pdf')" [attr.aria-label]="'tipo de archivo pdf'" alt="Imagen decorativa">
                                        <img width="60" height="80" src="assets/images/video-externo-biblioteca.svg"
                                            *ngIf="noticias.tipoRecurso?.includes('video')" [attr.aria-label]="'tipo de archivo video'" alt="Imagen decorativa">
                                        <img width="60" height="80"
                                            [src]="noticias.externo===1 ? 'assets/images/xls-externo-biblioteca.svg' : 'assets/images/xls-biblioteca.svg'"
                                            *ngIf="noticias.tipoRecurso?.includes('excel')" [attr.aria-label]="'tipo de archivo xls'" alt="Imagen decorativa">
                                        <img width="60" height="80"
                                            [src]="noticias.externo===1 ? 'assets/images/doc-externo-biblioteca.svg' : 'assets/images/doc-biblioteca.svg'"
                                            *ngIf="noticias.tipoRecurso?.includes('word')" [attr.aria-label]="'tipo de archivo doc'" alt="Imagen decorativa">
                                        <img width="60" height="80"
                                            [src]="noticias.externo===1 ? 'assets/images/ppt-externo-biblioteca.svg' : 'assets/images/ppt-biblioteca.svg'"
                                            *ngIf="noticias.tipoRecurso?.includes('ppt')" [attr.aria-label]="'tipo de archivo ppt'" alt="Imagen decorativa">
                                        <img width="60" height="80"
                                            [src]="noticias.externo===1 ? 'assets/images/img-externo-biblioteca.svg' : 'assets/images/img-biblioteca.svg'"
                                            *ngIf="noticias.tipoRecurso?.includes('image')" [attr.aria-label]="'tipo de archivo img'" alt="Imagen decorativa">
                                        <img width="60" height="80"
                                            [src]="noticias.externo===1 ? 'assets/images/mmp-externo-biblioteca.svg' : 'assets/images/mmp-biblioteca.svg'"
                                            *ngIf="noticias.tipoRecurso?.includes('project')" [attr.aria-label]="'tipo de archivo mmp'" alt="Imagen decorativa">
                                        <img width="60" height="80" src="assets/images/url-externo-biblioteca.svg"
                                            *ngIf="noticias.tipoRecurso?.includes('url')" [attr.aria-label]="" alt="Imagen decorativa">
                                        <em *ngIf="noticias.tipoRecurso?.includes('zip')"
                                            class="far fa-file-zip-o fa-5x"></em>
                                        <em *ngIf="noticias.tipoRecurso?.includes('audio')"
                                            class="far fa-file-audio fa-5x"></em>
                                    </a>

                                    <div class="mt-3">
                                        <p class="intro">{{noticias.nombre}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="text-right see-more" *ngIf="categoria.nombre !== 'Implemento'">
                    <a class="btn"
                        routerLink="/biblioteca/categoria/{{hyphenateUrlParams(categoria.nombre+'/'+categoria.id)}}">
                        {{seccionInicio.inicio.textoHipervinculo}} <span class="sr-only"> sobre la categoría
                            {{categoria.nombre}}</span>
                        <span class="govco-icon govco-icon-right-arrow"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>