.content-modal {
    padding: 1rem;

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 0;
        height: 2.625rem;
        border: none;

        h2 {
            margin: 0;
            color: #000000;
            font-family: "WorkSans-Medium";
            font-size: 1rem;
        }

        .icono-close {
            border: none;
            background-color: #ffffff;

            span {
                content: url(../../../../../assets/icons-fonts/close_Azul.svg);
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    .modal-body {
        padding: 0;
        height: calc(100% - 3rem);

        #map {
            width: 100%;
            height: 100%;
        }
    }

}


::ng-deep.modal-open .modal {
    background-color: #00000080;
    height: 100%;
    padding: 0.5rem;
}

::ng-deep.modal-content {
    border-radius: 1.25rem;
    height: 100%;
}

::ng-deep.modal.show .modal-dialog {
    height: 100%;
    max-width: 100% !important;
    margin: 0;
}