<div class="row contenedor-sin-resultados">
    <div  class="col-sm-12 col-lg-8">
      <div class="titulo-seccion">
        <i class="fa fa-info-circle" aria-hidden="true"><span>Lo sentimos</span></i>
      </div>
      <div class="subtitulo-seccion mt-2 mb-3">
        No encontramos noticias con los criterios que ingresaste, te sugerimos:
      </div>
      <div class="lista-seccion">
        <ul>
          <li>
            Limpiar los filtros e ingresar nuevos criterios.
          </li>
          <li>
            Cambiar la fecha de publicación.
          </li>
          <li>
            Digita palabras claves en la barra de busqueda del portal.
          </li>
          <li>
            <span>Si aún no encuentras lo que buscas, </span> <a href="mailto:soporteccc@mintic.gov.co" target="_blank">Contáctanos.</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 contenedor-imagen">
      <img height="178" width="241" src="https://govco-poc.s3.us-east-2.amazonaws.com/template-email/vencimiento-ejecucion.svg" alt="">
    </div>
  </div>
  