<div id="linea-tiempo-sobre-nosotros" class="container-fluid background-linea pb-5" *ngIf="lineaTiempo.length>0">
    <div class="container">
        <!-- <div class="controles-accesibles ">
            <a class="descripcion-skipe skip-link" href="javascript:void(0)"
                (keydown)="activarEventosAccesibilidad($event)" title="Saltar carrusel"
                aria-label="A continuación encontrará la línea de tiempo de los datos más relevantes de gov.co .  Si en algún momento desea salir de la sección presione la tecla escape.">A
                continuación encontrará la línea de tiempo de los datos más relevantes de gov.co . Si en algún momento
                desea salir de la sección presione la tecla escape.</a>
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="titulo-seccion-linea pt-5 pb-4" tabindex="0"
                    aria-label="Los comienzos de gov.co. Para consultar la información, presione la tecla tab; Si en algún momento desea  salir de la sección presione la tecla escape.">
                    Los comienzos del GOV.CO</h2>
                <!-- <div class="controles-accesibles">
                    <a class="descripcion-skipe skip-link" href="javascript:void(0)" title="Navegar linea tiempo"
                        aria-label="Utilice las teclas derecha o izquierda para navegar entre la linea de tiempo.">Utilice
                        las teclas derecha ó izquierda para navegar entre la línea de tiempo.</a>
                </div> -->
            </div>
            <div class="col-12 d-flex align-items-center contenedor-componete-linea">
                <div class="boton-siguiente-atras" [ngClass]="estadoBotonAtras?'':'bloquearBoton'"><a
                        href="javascript:void(0)" [tabindex]="estadoBotonAtras?'':'-1'" aria-label="atrás" title="atrás"
                        (click)="estadoBotonAtras?atras():null"><i class="fa fa-angle-left"></i></a>
                </div>

                <div class="contendor-carrusel-linea-tiempo">
                    <div *ngIf="!esResponsive()" class="col-lg-12 px-0 contenedor-slide-linea-tiempo" #contenedor>
                        <div class="contenedor-linea-tiempo" *ngFor="let item of lineaTiempo;let i=index;">
                            <div id="linea_{{i}}" class="linea-tiempo"
                                [style.width.px]="(contenedor.offsetWidth/getValorDividir())-20"></div>
                            <div class="radio-linea-tiempo">
                                <div class="contenedor-radio-button">
                                    <label id="label_checkbox_{{i}}" class="enlace-punto" for="checkbox_{{i}}"
                                        title="{{item.titulo}}" [innerHtml]="splitTitulo(item.titulo)"
                                        [attr.aria-label]="i==lineaTiempo.length-1 || i==0?item.titulo+'. '+item.descripcion+'. Fin de la linea de tiempo':item.titulo+'. '+item.descripcion">
                                    </label>
                                    <input id="checkbox_{{i}}" type="checkbox" tabindex="0" name="checkbox_fechas"
                                        (change)="seleccionarFecha(i)" (click)="seleccionarFecha(i)">
                                </div>
                            </div>
                            <div *ngIf="i==lineaTiempo.length-1" class="linea-tiempo"
                                [style.width.px]="(contenedor.offsetWidth/getValorDividir())-20"></div>
                        </div>
                    </div>
                    <div *ngIf="esResponsive()" class="col-lg-12 px-0 contenedor-slide-linea-tiempo" #contenedor>
                        <div class="contenedor-linea-tiempo" *ngFor="let item of lineaTiempo;let i=index;">
                            <div id="linea_{{i}}" class="linea-tiempo"
                                [style.width.px]="(contenedor.offsetWidth/getValorDividir())-10"></div>

                            <div class="radio-linea-tiempo">
                                <div class="contenedor-radio-button">
                                    <label id="label_checkbox_{{i}}" class="enlace-punto" for="checkbox_{{i}}"
                                        title="{{item.titulo}}" [innerHtml]="splitTitulo(item.titulo)"
                                        [attr.aria-label]="i==lineaTiempo.length-1 || i==0?item.titulo+'. '+item.descripcion+'. Fin de la linea de tiempo':item.titulo+'. '+item.descripcion">
                                    </label>
                                    <input id="checkbox_{{i}}" type="checkbox" tabindex="0" name="checkbox_fechas"
                                        (change)="seleccionarFecha(i)" (click)="seleccionarFecha(i)">
                                </div>
                            </div>
                            <div *ngIf="i==lineaTiempo.length-1" class="linea-tiempo"
                                [style.width.px]="(contenedor.offsetWidth/getValorDividir())"></div>
                        </div>
                    </div>
                </div>

                <div class="boton-siguiente-atras" [ngClass]="estadoBotonAdelante?'':'bloquearBoton'"><a
                        href="javascript:void(0)" [tabindex]="estadoBotonAdelante?'':'-1'" aria-label="siguiente"
                        title="siguiente" (click)="estadoBotonAdelante?siguiente():null"><i
                            class="fa fa-angle-right"></i></a></div>
            </div>
            <div class="col-12 ">
                <div class="d-flex flex-column align-items-center contenedor-descripcion">
                    <div class="descripcion-linea-tiempo" *ngFor="let item of lineaTiempo;let i=index;"
                        [ngClass]="i==fechaSeleccionada ? 'opacidad-1':'opacidad-0'">
                        <div>
                            <div class="titulo-linea">{{item.titulo}}</div>
                            <p>{{item.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="controles-accesibles">
            <a id="salir-seccion-linea-tiempo" class="descripcion-skipe skip-link" href="javascript:void(0)"
                (keydown)="desActivarEventosAccesibilidad($event)"
                aria-label="Ha salido de la sección línea de tiempo de los datos más relevantes de gov.co">Ha salido de
                la
                sección línea de tiempo de los datos más relevantes de gov.co</a>
        </div> -->
    </div>
</div>