<section class="govco-pwa-servicios-content">
  <div class="gov-co-back-arrow-header">
    <div class="gov-co-back-arrow">
      <a routerLink="{{anteriorUrl}}" (click)="backUrl()">
        <span class="material-symbols-outlined">arrow_back</span>
      </a>
    </div>
  </div>
  <div class="govco-pwa-servicios-titulo">
    <p>Aplicaciones y servicios <br>
      GOV.CO</p>
    <hr>
  </div>
  <div class="govco-servicios-content">

    <a>
      <div class="govco-candybox-element" [class.govco-active]="itemSelected == 0" (click)="navigateTo(0, '_self')">
        <div class="govco-candybox-icon govco-homepage">
        <span>
          <img src="../../../../assets/icons-fonts/GOV.CO.svg" alt="Icono GOVCO">
        </span>
        </div>
        <p>Portal<br>GOV.CO</p>
      </div>
    </a>

    <a>
      <div class="govco-candybox-element" [class.govco-active]="itemSelected == 1" (click)="navigateTo(1, '_blank')">
        <div class="govco-candybox-icon">
          <span>
            <img src="../../../../assets/icons-fonts/folder-user.svg" alt="Icono de carpeta de usuario">
          </span>
        </div>
        <p>Carpeta<br>Ciudadana</p>
      </div>
    </a>

    <a>
      <div class="govco-candybox-element" [class.govco-active]="itemSelected == 2" (click)="navigateTo(2, '_self')">
        <div class="govco-candybox-icon">
          <span class="">CIIU</span>
        </div>
        <p>Consulta<br>CIIU</p>
      </div>
    </a>

  </div>
</section>
