<section class="govco-pwa-servicios-content">
  <div class="gov-co-back-arrow-header">
    <div class="gov-co-back-arrow">
      <a routerLink="{{anteriorUrl}}" (click)="backUrl()">
        <span class="material-symbols-outlined">arrow_back</span>
      </a>
    </div>
  </div>
  <div class="govco-pwa-servicios-titulo">
    <p>Aplicaciones y servicios <br>
      GOV.CO</p>
    <hr>
  </div>
  <div class="govco-servicios-content">
    <div class="govco-candbox-element-container">
      <div class="govco-candybox-element">
        <div class="govco-candybox-icon govco-homepage">
          <a href="https://www.gov.co/home/">
            <span>
              <img src="../../../../assets/icons-fonts/GOV.CO.svg" alt="Icono GOVCO">
            </span>
          </a>
        </div>
        <p>Portal<br>GOV.CO</p>
      </div>
    </div>
    <div class="govco-candybox-element">
      <div class="govco-candybox-icon">
        <a href="https://carpetaciudadana.and.gov.co/" target="_blank">
          <span>
            <img src="../../../../assets/icons-fonts/folder-user.svg" alt="Icono de carpeta de usuario">
          </span>
        </a>
      </div>
      <p>Carpeta<br>Ciudadana</p>
    </div>
    <div class="govco-candybox-element">
      <div class="govco-candybox-icon">
        <a href="https://www.gov.co/ficha-tramites-y-servicios/codigos-ciiu-y-tramites/">
          <span class="">CIIU</span>
        </a>
      </div>
      <p>Consulta<br>CIIU</p>
    </div>

  </div>
</section>
