<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav="matSidenav" mode="push" (closed)="estadoSideNav(true)">
    <app-contenido-side-nav (outEstadoMenu)="estadoMenu($event)">
    </app-contenido-side-nav>
  </mat-sidenav>

  <mat-sidenav-content [class.escalarContenido]="sidenav.opened">

    <section class="govco-pwa-header">
      <app-barra-superior (outEstadoMenu)="estadoMenu($event)"></app-barra-superior>
    </section>
    <section id="topScroll" class="govco-pwa-content" [ngClass]="{'govco-pwa-content-2': cambiarEstilo}">
      <app-geolocalizacion (abrir)="formularioGeolocalizacion($event)"></app-geolocalizacion>
      <div class="contenido-principal">
        <router-outlet></router-outlet>
      </div>
    </section>

    <section class="govco-pwa-bottom-menu">
      <app-bottom-menu></app-bottom-menu>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>
<section #formulario class="app-geolocalizacion-formulario-pwa-govco" *ngIf="activarSeccion">
  <app-geolocalizacion-formulario (closedModal)="formularioGeolocalizacion($event)"></app-geolocalizacion-formulario>
</section>

<section #seccionBuscador class="seccion-buscador" *ngIf="activarSeccion">
  <app-buscador-nivel-dos (cerrarBuscador)="cerrarBuscadorPWA()" [activarServicio]="ulitmoEstadoBuscador"></app-buscador-nivel-dos>
</section>

<app-spinner></app-spinner>
