<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="push">
    <app-contenido-side-nav></app-contenido-side-nav>
  </mat-sidenav>

  <mat-sidenav-content [class.escalarContenido]="sidenav.opened">

    <header [ngClass]="{
      'header-pwa-govco-general': barraSuperiorGeneral,
      'header-pwa-govco-interna': barraSuperiorInterna
    }">
      <app-barra-superior-general (outEstadoMenu)="estadoMenu($event)"
        class="app-barra-superior-general-pwa-govco" *ngIf="barraSuperiorGeneral">
      </app-barra-superior-general>
      <app-barra-superior-interna (outEstadoMenu)="estadoMenu($event)"
        class="app-barra-superior-interna-pwa-govco" *ngIf="barraSuperiorInterna">
      </app-barra-superior-interna>
      <app-geolocalizacion class="app-geolocalizacionpwa-govco"></app-geolocalizacion>
    </header>

    <section class="govco-pwa-content">
      <router-outlet></router-outlet>
    </section>

    <div class="bottom-navbar">
      <div class="container">
        <div class="row d-flex justify-content-center text-center bottom-nav">
          <div class="col">
            <a routerLink="inicio/home" (click)="prueba(true)" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              class="nav-item nav-link" >Inicio</a>
          </div>
          <div class="col" (click)="prueba(false)">
            <a routerLink="perfil/home"  routerLinkActive="active" class="nav-item nav-link">Perfil</a>
          </div>
        </div>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
