<mat-toolbar>
  <div (click)="sidenav.toggle()">
    <div class="menu-hamburgesa" [@efectoHamburguesaX]="esHamburguesa ? 'hamburguesa' : 'linea-superior'"></div>
    <div class="menu-hamburgesa" [@efectoHamburguesaX]="esHamburguesa ? 'hamburguesa' : 'linea-medio'"></div>
    <div class="menu-hamburgesa" [@efectoHamburguesaX]="esHamburguesa ? 'hamburguesa' : 'linea-inferior'"></div>
  </div>


</mat-toolbar>

<mat-sidenav-container>

<mat-sidenav #sidenav="matSidenav" mode="push">
  <app-sidenav-items></app-sidenav-items>
</mat-sidenav>

  <mat-sidenav-content [class.escalarContenido]="sidenav.opened">
    <div>
      <router-outlet></router-outlet>
    </div>

    <div class="buttom-navbar">
      <div class="container">
        <div class="row d-flex justify-content-center text-center bottom-nav">
          <div class="col">
            <a routerLink="inicio/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link">Inicio</a>
          </div>
          <div class="col">
            <a routerLink="perfil/home" routerLinkActive="active" class="nav-item nav-link">Perfil</a>
          </div>
        </div>
      </div>
    </div>
    
  </mat-sidenav-content>

</mat-sidenav-container>


