/* HOJA DE ESTILOS PAR EL PROYECTO GOVCO VERSIÓN MÓVIL */
/* ESTILOS GENERALES DE TRANSVERSALES PROYECTO */

/* ESTILOS DEL BOTTOM NAVBAR */
.govco-pwa-bottom-menu {
  overflow: hidden;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: grey;
  max-width: 100%;
}

/* ESTILOS DEL SIDE NAV */

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 71.78vw;
  background: whitesmoke;
  text-align: center;
}

.menu-hamburgesa {
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 2px 2px;
  margin: 2px;
  position: relative;
}

/* MICROINTERACCIÓN DE CONTENIDO */
.escalarContenido {
  transform: scale(0.8);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.16);
}

.header-pwa-govco-general {
  display: grid;
  grid-template-rows: 7.25rem 2.25rem;
  height: 9.438rem;
}

.header-pwa-govco-interna {
  display: grid;
  grid-template-rows: 56px 36px;
  height: 92px;
}

.app-barra-superior-general-pwa-govco,
.app-barra-superior-interna-pwa-govco {
  height: 116px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-barra-superior-interna-pwa-govco {
  height: 56px;
}

.app-geolocalizacionpwa-govco {
  height: 36px;
  background-color: #E6EFFD;
  display: flex;
  align-items: center;
}
