.buscador-pwa-govco {
    border: 1px solid white;
    border-radius: 22px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    height: 44px;
    width: inherit;
    padding: 14px 20px 14px 20px;
    background-color: #FFFFFF;
    outline: none;
    width: 100%;
  }