<nav [hidden]="!ocultar" id="govco-header">
    <div  [ngClass]="{
        'barra-superior-general-pwa-govco': !barraSuperiorInterna,
        'barra-superior-interna-pwa-govco': barraSuperiorInterna}">
        <div class="menu-logo-pwa-govco">
            <span (click)="onClickMenu()" (keypress)="onClickMenu()" class="menu-hamburgesa-pwa-govco" tabindex="0"
                [attr.aria-label]="'Abrir menu lateral, puedes encontrar las secciones de noticias, participa, entidades del estado, sobre nosotros, acerca del portal y servicios para entidades'">
                <span class="menu-caja-pwa-govco">
                    <span class="menu-hamburgesa-superior"
                        [ngClass]="{ 'menu-hamburgesa-superior-rotacion': estadoMenu }">
                    </span>
                    <span class="menu-hamburgesa-medio" [ngClass]="{ 'menu-hamburgesa-medio-rotacion': estadoMenu }">
                    </span>
                    <span class="menu-hamburgesa-inferior"
                        [ngClass]="{ 'menu-hamburgesa-inferior-rotacion': estadoMenu}">
                    </span>
                </span>
            </span>
            <div class="logo-pwa-govco">
                <a (click)="clickHome(); desactivarItem()" (keypress)="desactivarItem(); clickHome()" tabindex="0"
                    (focus)="onFocusLogo()" [attr.aria-label]="'Este es logo de GOV.CO y puedes ir a inicio o home'">
                    <img src="../../../assets/logos/transversales/GOVCO.svg" alt="logo de gov.co">
                </a>
            </div>
            <a (click)="abrirBuscadorPWA()" (keypress)="abrirBuscadorPWA()" class="caja-buscador-pwa-govco"
                *ngIf="barraSuperiorInterna" tabindex="0">
                <div class="caja-icono-36-pwa">
                    <span class="icono-search" type="image" alt="Realizar busqueda"></span>
                </div>
            </a>
            <!-- <a routerLink="/buscador" class="caja-buscador-pwa-govco" *ngIf="barraSuperiorInterna">
                <span class="icono-buscador-pwa-govco"
                    style="background-image: url(../../../../assets/icons-fonts/search_bababa.svg);"></span>
            </a> -->
        </div>
        <div class="govco-pwa-buscador-header">
            <!-- to do  -->
            <app-buscador-prefiltrado no-shadow="true" id="home1" *ngIf="!barraSuperiorInterna"
                (estadoFocusFiltro)="estadoFocusFiltro = $event">
            </app-buscador-prefiltrado>
            <!-- <govco-buscador-home no-shadow="true" id="home1" *ngIf="!barraSuperiorInterna"
                class="app-buscador-pwa-govco"></govco-buscador-home> -->
        </div>

    </div>
</nav>