<div class="modal-header">
    <!-- <div class="icon-error " (click)="activeModal.close('Close click')"><img
            src="assets/images/tramites-servicios/close-24px.svg" alt="boton-cerrar"></div> -->
    <div class="modal-title">
        <p class="titulo">Te explicamos con Tutoriales</p>
        <p class="sub-titulo">Aquí podrás encontrar todo el material que te ayudará a entender el proceso para realizar
            tu trámite paso a paso:</p>
    </div>

</div>
<div class="modal-body">
    <div class="contenedor-tutoriales">
        <button class="item-tutorial" (click)="validateUrl(data)">
            <img src="assets/images/tramites-servicios/URL_externo_Biblioteca.svg" width="36px" height="48px"
                alt="boton-cerrar">
            <p>Manual de usuario</p>
        </button>
    </div>
    <div class="separador"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="activeModal.close('Close click')">Cerrar</button>
</div>
