<div class="banner">
    <div class="container">
        <p class="text-left">
            Nota legal: Este servicio de consulta busca facilitar a los ciudadanos la identificación
            de los trámites relacionados a una actividad económica. La configuración de estos trámites
            y los códigos CIIU de las actividades económicas es un proceso gradual, por lo cual, es posible
            que para algunas actividades económicas no se presenten la totalidad de los trámites que les corresponden.
            El hecho de que algunos trámites no se visualicen en este servicio de consulta, no exonera al ciudadano de
            la obligación de realizar todos los trámites que por disposiciones legales lo requieran.
        </p>
    </div>
</div>