.govco-pwa-acerca-tabla{
  width: 100%;
  .govco-pwa-titulo-tabla {
    background: #E6EFFD 0% 0% no-repeat padding-box;
      text-align: left;
      font-family: "WorkSans-Medium";
      letter-spacing: 0px;
      opacity: 1;
      padding: 14px;
      border-radius: 5px;
  }

  .govco-pwa-elemento-container{
    border: 2px solid #E8EFFC;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: 8px 0px 8px 0px;
  }

  .govco-pwa-seguimiento-icono{
    padding: 16px;
    display: flex;
    .govco-pwa-seguimiento-icono-background{
      height: 24px;
      width: 24px;
      background-color: #004884;
      border-radius: 50%;
    }
  }

  .govco-pwa-seguimiento-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'WorkSans-Medium';
    align-self: center;
    margin: 8px 0px 8px 0px;
    p{
      margin-bottom: 0 !important;
      min-height: 16px;
      overflow-wrap: anywhere;
    }
    a{
      color: #3366CC;
      text-decoration: underline;
      min-height: 16px;
      overflow-wrap: anywhere;
    }
  }

  .material-symbols-outlined {
    color: white;
    height: 24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
  }

}


