<div class="card-body container-formulario" *ngIf="data.length > 0">
    <h4>Formulario</h4>
    <div class="container-accion-form" *ngFor="let item of data">
        <div class="sub-container-accion-form" *ngFor="let subItem of item.data">
            <h5>{{subItem.FormularioNombre}}</h5>
            <div class="card initial" *ngIf="subItem.FormularioUrlDescarga || subItem.FormularioUrl">
                <div class="card-header">
                    Disponible para ser
                </div>
                <div class="card-body">
                    <button *ngIf="subItem.FormularioUrl" class="enlace mb-1" (click)="validateUrlService.validateUrl(subItem.FormularioUrl)">
                        <span class="material-symbols-outlined">
                            laptop_mac
                        </span>
                        <span class="text">Transaccional</span>
                    </button>
                    <button *ngIf="subItem.FormularioUrlDescarga" class="enlace" (click)="validateUrlService.validateUrl(subItem.FormularioUrlDescarga)">
                        <span class="material-symbols-outlined">
                            download
                        </span>
                        <span class="text">Descargar</span>
                    </button>
                </div>
            </div>
            <div class="card" *ngIf="subItem.FormularioAnotacion">
                <div class="card-header">
                    Anotación adicional
                </div>
                <div class="card-body">
                    <p>{{subItem.FormularioAnotacion}}</p>
                </div>
            </div>
            <div class="card" *ngIf="tramiteEnLinea && item.AccCondPtoAtencions">
                <div class="card-header">
                    Reclamar de forma presencial
                </div>
                <div class="card-body">
                    <button class="punto-atencion" (click)="abrirPuntosAtencionClic(item.Orden, item.AccionCondicionId)">En los puntos de atención indicados por la institución</button>
                </div>
            </div>
        </div>
    </div>
</div>
