<div class="banner">
    <div class="container">
        <app-level-one-bread-crumbs title="Consulta CIIU"></app-level-one-bread-crumbs>
        <h1>Consulta de trámites por <br> actividad económica - CIIU</h1>
        <p>
            Esta consulta le permite identificar los trámites asociados a la actividad económica CIIU de su empresa o
            emprendimiento.
        </p>
    </div>
</div>


<div class="wrapper">
    <div class="container">
        <app-busqueda-codigos-ciiu></app-busqueda-codigos-ciiu>
    </div>
</div>