.contenendor-puntos {
	a {
		height: 50px;
		line-height: 34px;
		font-size: 16px;

		&:hover {
			font-size: 16px !important;
			color: white !important;
			background-color: #004884 !important;
		}
	}
}

.titulotramite {
	font-size: 33px;
	text-align: left;
	color: #0B457F;
}

.document {
	border-bottom: 1px solid rgba(11, 69, 127, .5);
	padding-top: 10px;
}

.btn-tramite-line {
	background-color: #069169 !important;
}

.container-btn-puntos {
	text-align: center;
	margin: 0px 0px 1rem;
	display: block;
}

#btn-puntos {
	width: 100%;
}

.img-btn-tramite-linea {
	margin-bottom: 10px;
}

.ie-margin-left {
	margin-left: 15px !important;
}

.no-suit-area {
	margin-top: 15px !important;
}

.tramiteCard-v1 {
	width: 100%;
	display: block;
	padding: 10px 0px 0px 0px;

	h3,	p, b {
		text-align: left;
	}

	h3 {
		font-family: "Montserrat-Bold", sans-serif;
		margin-bottom: 20px;
		font-size: 20px;
		color: #004884;
	}

	p, b {
		color: #4B4B4B;
		font-size: 16px;
		font-family: "WorkSans-Regular";
	}

	b {
		font-family: "Montserrat", sans-serif;
	}

}

.content-tramite-linea {
	.btn {
		height: 50px;
		align-items: center;
		display: flex;
		font-weight: 600;
		justify-content: center;
		font-family: "Montserrat",sans-serif;
	}

	.btn-tramite-linea {
		background-color: #F3561F;
		color: white !important;
		border: none;
		font-size: 16px;
		width: 287px;
		margin: 0 auto !important;

		@media (max-width: 768px) {
			width: 100%;
			padding: 1em 0 !important;
			font-size: 15px;
			font-weight: 500;
			height: 48px;
		}

		&:hover {
			font-size: 16px !important;
			background-color: #D33900;
		}

		#Capa_1 {
			fill: red;
		}

		.iconodisponible {
			filter: brightness(0) invert(1);
			max-width: 20px;
			margin-right: 8px;
			margin-top: -2px;
		}
	}
}

.tramite-nopadding{
	padding-left: 0px;
	padding-right: 0px;
}

.card-component {
	margin: auto !important;
}

.btn-middle {
	font-weight: 600;
	border: 1.5px solid #3772FF;
	background-color: white;
	margin: 0px;
	font-size: 0.93rem;
	font-family: "Montserrat",sans-serif;
	color: #3772FF !important;
	box-shadow: none;
	padding: 0.5em 1em;
	cursor: pointer;
}

.btn-round {
	border-radius: 30px !important;
	margin: 0 !important;
  }

  @media (max-width: 768px) {
	.fichaContainerButtons{
		display: block;
		text-align: center;
	}
}

::ng-deep .area-servicio{
	padding-left: 15px;
	padding-right: 15px;
}

.bread-crumb-main{
    display: inline-block;
    @media  screen and (max-width: 768px) {
        margin-top: 14px;
    }
}