<div class="clear-filter">
    <app-banner-principal class="w-100"></app-banner-principal>
</div>
<div class="container">
    <tramites-mas-consultados></tramites-mas-consultados>
    <app-carrusel-uno></app-carrusel-uno>
</div>
<app-carpeta-ciudadana></app-carpeta-ciudadana>
<div class="container container-home-top" style="height: auto;">
    <seccion-actualidad></seccion-actualidad>
</div>
<div class="mb-5">
    <temas-de-interes></temas-de-interes>
</div>
<app-contactos-de-emergencia></app-contactos-de-emergencia>
