<div class="container-detalle">
    <div class="contenido-detalle" (click)="showBotonLeer()">
        <p class="ficha-descripcion" [attr.aria-label]="contenidoLeido" (focus)="showExpended()">
            {{contenidoDescripcion}}
            <br>
        </p>
        <a *ngIf="caracteresCategoria" class="contenido-expandido">{{nombreExpanded}}</a>
    </div>
    <div class="container-boton">
        <app-boton *ngIf="data.Tipotramite === 'En línea'" (click)="validarUrlService.validateUrl(urlBoton)">{{textoBoton}}</app-boton>
        <app-boton *ngIf="data.Tipotramite !== 'En línea'" (click)="abrirPuntosAtencionClic()">{{textoBoton}}
        </app-boton>
    </div>
    <div class="caracteriticas-tramite">
        <h3 class="title-tramites">Caracteristicas del trámite</h3>
        <div class="card-detalle-tramite">
            <div class="container-icon-detalle">
                <span class="material-symbols-outlined">
                    {{iconoTramite}}
                </span>
            </div>
            <div class="container-text-detalle">
                <p class="tramite-type">
                    Tipo de trámite
                </p>
                <p class="tramite-type-detalle">
                    {{data.Tipotramite}}
                </p>
            </div>
        </div>
        <div class="card-detalle-tramite">
            <div class="container-icon-detalle">
                <span class="material-symbols-outlined">
                    {{iconoCosto}}
                </span>
            </div>
            <div class="container-text-detalle">
                <p class="tramite-type">
                    Tiene costo?
                </p>
                <p class="tramite-type-detalle">
                    {{infoDescripcionTramite?.Costo | titlecase}}
                </p>
            </div>
        </div>
        <div class="card-detalle-tramite">
            <div class="container-icon-detalle">
                <span class="material-symbols-outlined">
                    schedule
                </span>
            </div>
            <div class="container-text-detalle">
                <p class="tramite-type">
                    Duración del proceso
                </p>
                <p class="tramite-type-detalle">
                    {{infoDescripcionTramite?.TiempoObtencion | titlecase}}
                </p>
            </div>
        </div>
        <div class="card-detalle-tramite">
            <div class="container-icon-detalle">
                <span class="material-symbols-outlined">
                    calendar_month
                </span>
            </div>
            <div class="container-text-detalle">
                <p class="tramite-type">
                    Cuándo hacerlo?
                </p>
                <p *ngIf="showBotonFechas" class="tramite-type-detalle">
                    <a tabindex="0" class="enlace-fechas" (click)="getFechas()">Ver fechas</a>
                </p>
                <p *ngIf="!showBotonFechas" class="tramite-type-detalle">
                    En cualquier fecha
                </p>
            </div>
        </div>
    </div>
    <div class="separador"></div>
</div>
