<section class="govco-pwa-sidenav-contenido">
  <div class="govco-pwa-sidenav-items">
    <div class="govco-pwa-sidenav-logo">
      <img src="../../../assets/logos/transversales/GOVCO.svg" alt="Logo de GOVCO">
    </div>

    <ul class="govco-pwa-sidenav-primer-nivel">
      <span class="pointer"></span>
      <li class="govco-pwa-sidenav-item" id="noticias" routerLink="noticias">
        <a href="#" class="govco-pwa-sidenav-label" tabindex="-1">
          <span class="material-symbols-outlined">feed</span>
          <p>Actualidad</p>
        </a>
      </li>
      <li class="govco-pwa-sidenav-item" id="participa" routerLink="participa">
        <a href="#" class="govco-pwa-sidenav-label" tabindex="-1">
            <span class="material-symbols-outlined">chat</span>
            <p>Participa</p>
        </a>
      </li>
      <li class="govco-pwa-sidenav-item-text">
        <div class="govco-pwa-sidenav-label-text">Conócenos</div>
      </li>
      <li class="govco-pwa-sidenav-item" id="entidadesEstado" routerLink="entidades">
        <a href="#" class="govco-pwa-sidenav-label" tabindex="-1">
          <span class="material-symbols-outlined">villa</span>
          <p>Entidades del estado</p>
        </a>
      </li>
      <li class="govco-pwa-sidenav-item" id="sobreNosotros" routerLink="sobre-nosotros">
        <a href="#" class="govco-pwa-sidenav-label" tabindex="-1">
          <span class="material-symbols-outlined">contacts</span>
          <p>Sobre nosotros</p>
        </a>
      </li>
      <li class="govco-pwa-sidenav-item" id="acercaPortal" routerLink="acerca-del-portal">
        <a href="#" class="govco-pwa-sidenav-label" tabindex="-1">
          <span class="material-symbols-outlined">info</span>
          <p>Acerca del portal</p>
        </a>
      </li>

    </ul>

    <ul class="govco-pwa-sidenav-bottom-nivel">
      <li class="govco-pwa-sidenav-item-hr">
        <hr>
      </li>
      <li class="govco-pwa-sidenav-item" id="serviciosEntidades" routerLink="servicios-para-entidades">
        <a href="#" class="govco-pwa-sidenav-label">
            <span class="material-symbols-outlined">account_balance</span>
            <p>Servicios para entidades</p>
        </a>
      </li>
    </ul>
  </div>
</section>
