<div class="container-cards">
  <div class="card">
      <div class="card-text-header" tabindex="0">
          <p class="header-number">1</p>
          <p class="headera-title">Aprender sobre el proceso de integración</p>
      </div>
      <img src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2022-06-03/d709545e-5c1f-4eef-bd5e-aaee91beefbc-Img_Biblioteca.png"
          class="card-img" tabindex="0" alt="Dibujo de personas e un computador mostrando recursos de GOV.CO">
      <div class="card-body">
          <div class="card-text-main" tabindex="0">
              <p class="carda-text-bold">Encuentra aquí toda la información que necesitas para integrarte a
                  GOV.CO.</p>
              <p class="carda-text">Normativa, lineamientos y guías para implementar la Estrategia de
                  Integración Digital
                  del
                  Estado.</p>
          </div>

          <div class="container-buttons">
              <button class="btn btn-round btn-carda m-auto" (click)="irLink('/biblioteca')"
                  aria-label="Ir a la biblioteca. Abrirá una ventana donde encontrará las herramientas para hacer parte de gov.co.">
                  Ir
                  a la
                  biblioteca
              </button>
              <button class="btn btn-round btn-carda m-auto" (click)="irLink('/caja-de-herramientas')"
                  aria-label="Ir a Caja de herramientas. Abrirá una ventana donde encontrará toda la información relacionada con el proceso de integración a gov.co.">
                  Ir a Caja de herramientas
              </button>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="card-text-header" tabindex="0">
          <p class="header-number">2</p>
          <p class="headerb-title">Crea y ejecuta tu Plan de integración</p>
      </div>
      <img src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2022-06-03/369832d9-a2a7-47ab-91e5-f5f9526df8cf-Img_Plan-integracion.png"
          class="card-img" tabindex="0" alt="Dibujo de personas construyendo un plan de integración">
      <div class="card-body">
          <div class="card-text-main" tabindex="0">
              <p class="cardb-text-bold">
                  Desde nuestro portal de administración podrás registrar el plan, integrar el trámite
                  en una fecha específica, llevar la Gestión y seguimiento
                  <span class="cardb-text">
                      del proceso de integración al Portal Único del Estado Colombiano, www.gov.co.
                  </span>
              </p>
          </div>
          <div class="container-buttons">
              <button class="btn btn-round btn-cardb m-auto" (click)="irLink(urlPlanIntegracion)"
                  aria-label="Ir al Plan de
                  Integración. Abrirá una ventana para acceder al portal de administración del plan de integración de gov.co.">
                  Ir al Plan de
                  Integración
              </button>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="card-text-header" tabindex="0">
          <p class="header-number">3</p>
          <p class="headerb-title">Publica tu sede electrónica</p>
      </div>
      <img src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2022-06-03/b5c10e90-c5c6-4691-89ae-0f8c44bc7099-Img_Sede-Electronica.png"
          class="card-img" tabindex="0" alt="Dibujo de personas armando un sitio web">
      <div class="card-body">
          <div class="card-text-main" tabindex="0">
              <p class="cardb-text-bold">
                  Gov.co/territorial es una solución tecnológica que apoya el cumplimiento de la política de Gobierno
                  Digital
                  <span class="cardb-text">
                      entregando sitios web y correos electrónicos a las entidades territoriales del Gobierno
                      Colombiano.
                  </span>
              </p>
          </div>
          <div class="container-buttons">
              <button class="btn btn-round btn-cardb m-auto"
                  (click)="irLink('https://home.micolombiadigital.gov.co/territorial/')"
                  aria-label="Ir a GOV.CO Territorial. Abrirá en una nueva ventana la página de GOV.CO Territorial.">
                  Ir a GOV.CO Territorial
              </button>
          </div>
      </div>
  </div>
</div>
