<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item white">
            <a href="/">
                Inicio
            </a>
        </li>
        <li *ngIf="title != ''" [class]="title != '' ? 'breadcrumb-item activo white':'breadcrumb-item'">
            <div class="image-icon">
                <div class="govco-icon govco-icon-shortr-arrow mx-1"></div>
                <a class="breadcrumb-text" >{{ title }}</a>
            </div>
        </li>
    </ol>
</nav>
