<section id="ciudadana" class="govco-pwa-carpeta-ciudadana">
  <hr>
  <div class="govco-pwa-carpeta-background">
    <div class="govco-pwa-carpeta-top"></div>
      <div class="govco-pwa-carpeta-header">
        <a href="{{URLccd}}">
          <img src="../../../../assets/images/carpeta-ciudadana/BannerCCD@3x-2.png"
          alt="Banner de carpeta ciudadana digital, mujer con tablet en la mano.">
        </a>
      </div>

    <div class="govco-pwa-carpeta-video">
      <iframe src="https://www.youtube.com/embed/zLIFk1uyH5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="govco-pwa-video-guion">
        <span class="material-symbols-outlined">file_download</span>
        <a href="https://govco-prod-webutils.s3.amazonaws.com/uploads/Guión%20Video%20-%20Así%20puedes%20registrarte%20en%20Carpeta%20Ciudadana%20Digital.pdf" download target="_blank">Descargar guión</a>
      </div>
    </div>

    <div class="govco-pwa-carpeta-registro">
      <div class="govco-pwa-registro-texto">
        <p>¿Aún no tienes cuenta?</p>
      </div>
      <div class="see-aux">
        <a href="{{URLgovco}}registro" target="_blank"  class="btn btn-round" role="button">Regístrate</a>
      </div>

    </div>
  </div>
</section>
