.modal-aviso-sin-resultados {
    height: 100%;
    padding: 60px 16px 16px 16px;

    .pwa-govco-back-arrow-header {
        position: fixed;
        top: 0;
    }

    .container-app-aviso {
        position: absolute;
    }
}
