<div class="container-conoce sobre-nosotros" *ngIf="infoConoce || sobreNosotros">
    <div class="encabezado">
        <div class="container">
            <app-breadcumbs [title]=title ></app-breadcumbs>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 tabindex="0">{{this.title}}</h2>
                <span tabindex="0" class="resumen">{{this.description}}</span>
            </div>
        </div>
    </div>
    <div class="container contenedor-seccion-conocenos my-5 " *ngIf="loadData">
        <div class="contenido-seccion">
            <div class="contenedor-contenidos col-lg-6 col-sm-12">
                <div tabindex="0" *ngIf="dataNosotros.data.seccionUno.estado">
                    <h3 class="titulo-conocenos">{{dataNosotros.data.seccionUno.titulo}}</h3>
                    <div class="descripcion-conocenos">
                        <span class="nosotros-template-span"
                            [innerHtml]="dataNosotros.data.seccionUno.descripcion"></span>
                    </div>
                </div>
                <div class="mt-5" tabindex="0" *ngIf="dataNosotros.data.seccionDos.estado">
                    <h3 class="titulo-conocenos">{{dataNosotros.data.seccionDos.titulo}}</h3>
                    <div class="descripcion-conocenos">
                        <span class="nosotros-template-span"
                            [innerHtml]="dataNosotros.data.seccionDos.descripcion"></span>
                    </div>
                </div>
            </div>
            <div class="contenedor-multimedia col-lg-6 col-sm-12" tabindex="0">
                <div class="contenido-imagen-conocenos mt-5">
                    <img [src]="dataNosotros.data.seccionUnoImagen.urlImagen" alt="Imagen decorativa">
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-seccion-ciudadanos" *ngIf="loadData">
        <div class="container contenido-seccion py-5">
            <div class="col-sm-12 col-lg-6">
                <div *ngIf="dataNosotros.data.seccionTres.estado">
                    <h3 class="titulo-conocenos" tabindex="0">{{dataNosotros.data.seccionTres.titulo}}</h3>
                    <div class="contenedor-logo-govco">
                        <img src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2022-05-18/7ea5dcda-924d-4a88-a45e-aed9d0e67cf6-Logo_Govco_Azul.svg"
                            alt="Icono gov.co">
                    </div>
                </div>
                <div class="contenedor-imagen-ciudadanos" tabindex="0">
                    <img [src]="dataNosotros.data.seccionTres.urlImagen" alt="Imagen decorativa">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="tarjeta-ciudadanos" *ngFor="let dato of dataNosotros.data.seccionCuatro.items">
                        <div class="contenido-tarjeta" tabindex="0" *ngIf="dato.estado">
                            <h3 class="titulos-tarjeta">{{dato.titulo}}</h3>
                            <div class="descripcion-tarjeta descripcion-seccion">
                                <span class="nosotros-template-span" [innerHtml]="dato.descripcion"></span>
                            </div>
                            <a *ngIf="dato.url !=''" class="enlace-tarjeta" [href]="dato.url">{{dato.urlTexto}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loadData">
        <div class="container my-5" *ngIf="dataNosotros.data.seccionCinco.estado">
            <div class="text-center titulo-protagonista mx-lg-5" tabindex="0"
                [innerHtml]="dataNosotros.data.seccionCinco.titulo"></div>

            <div class="row mt-3">
                <div class="col-sm-12 col-md-12 col-lg-3" *ngFor="let dato of dataNosotros.data.seccionCinco.items">
                    <div class="tarjeta-protagonista" tabindex="0">
                        <div class="icono-protagonista">
                            <img [src]="dato.urlImagen" class="filter-white my-4" alt="Icono decorativo">
                        </div>
                        <h4>{{dato.titulo}}</h4>
                        <div class="descripcion-tarjeta">
                            <span class="nosotros-template-span" [innerHtml]="dato.descripcion"></span>
                        </div>
                    </div>
                </div>
                <button *ngIf="validacionRegistrarse()" class="btn btn-round btn-registro m-auto"
                    (click)="mostrarRegistro()"
                    aria-label="Quiero registrarme. Abrirá la página de registro de gov.co.">
                    Quiero registrarme
                </button>
            </div>
        </div>
    </div>
    <app-sobre-nosotros-linea-de-tiempo></app-sobre-nosotros-linea-de-tiempo>
</div>
