.geolocalizacion-pwa-govco-icon {
    color: #004884;
    margin-left: 29px;
    font-size: 20px;
}

.geolocalizacion-pwa-govco-texto {
    font-size: 16px;
    margin-left: 9px;
    color: #004884;
}