<div id="tramites-servicios">
    <div class="container">
        <div class="headboard headboard col-md-11 justify-content col-sm-12">
            <h2 class="title">Buscar trámites por categorías</h2>
        </div>
  
      <div class="row categories">
            <div   class="col-sm-12 col-md-4 col-lg-3 categorie-element" *ngFor="let categoria of Categorias|slice:0:show let i=index">
                <div class="categories-container" (click)="abrirBuscador(categoria)">
                    <img
                    class="categories-container_img"
                    [src]="(categoria.icono != 'url' && categoria.icono != '' && categoria.icono != null) ? categoria.icono : 'assets/images/tramites-servicios/salud.PNG'"
                    alt="salud"
                    title="salud" 
                    />
                    <div class="categories-container-text">
                        <h3 class="categories-container-text_title">
                            {{categoria.nombre}}
                        </h3>
                        <p class="categories-container-text_description">
                            {{categoria.descripcionCorta}}
                        </p>
                    </div>
                </div>
            </div>
      </div>
      <ng-container *ngFor="let categoria of Categorias|slice:0:show let i=index">
        <div class="see-more row" *ngIf="i==4 && show == 8">
          <div class="p-2">
            <button (click)="show = Categorias.length"
              class="btn btn-round btn-high"
              >VER TODAS LAS CATEGORÍAS</button>
          </div>
        </div>
      </ng-container>
    </div>
</div>
  