<div class="accordion acordeon-pwa-govco" id="acordeonEjercicios">
    <div class="card" *ngFor="let item of items; index as i;" [class.active]="item.active">
        <div class="card-header" id="headingOne">
            <button #botonAcordeon (click)="activarItem(i)" class="btn btn-link btn-block text-left" type="button"
                data-toggle="collapse" [attr.data-target]="'#collapse-ejercicios-participacion' + i"
                aria-expanded="false" [attr.aria-controls]="'collapse-ejercicios-participacion' + i">
                <a *ngIf="href" (click)="validarUrlService.validarUrl(item.urlParticipacion, '_blank')" class="line-clamp-3">{{item.titulo}}</a>
                <a *ngIf="!href" routerLink="{{item.urlParticipacion}}" class="line-clamp-3">{{item.titulo}}</a>
                <div class="caja-icono-24-pwa">
                    <span class="icono-expand-more" type="image"
                        alt="Expandir acordeon para ver más información"></span>
                </div>
            </button>
        </div>
        <div [id]="'collapse-ejercicios-participacion' + i" class="collapse" [attr.aria-labelledby]="'heading' + i"
            data-parent="#acordeonEjercicios">
            <div class="card-body">
                <div class="descripcion contenido-pwa-govco">
                    <p #texto class="line-clamp-3">{{item.descripcion}}</p>
                    <a *ngIf="botonTexto[i]" (click)="expandirText(i)">{{ expandirTexto == true ? 'Leer menos' : 'Leer más'}}</a>
                </div>
                <div class="estado-fechas">
                    <p tabindex="0">Estado:
                        <span tabindex="0" class="status-off"
                            [class.status-on]="item.estado == 'Activo'">{{item.estado}}</span>
                    </p>
                    <p tabindex="0">Fecha de publicación:
                        <span>{{item.fechaPublicacion}}</span>
                    </p>
                    <p tabindex="0">Fecha de cierre:
                        <span>{{item.fechaCierre}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <app-boton [inverted]="false" (click)="VerMasResultados()">Ver más</app-boton>

</div>
