.legislacion {
    width: 100%;
    background: #fff;
    border: 2px solid #e6effd;
    margin-top: 2em;
  
    &-header {
      display: flex;
      align-items: center;
      height: 5rem;
      justify-content: space-between;
      cursor: pointer;
      &-title {
        text-align: left;
        font: 600 20px/24px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        background: none;
        outline: none;
      }
      .icon {
        margin: auto;
        width: 19px;
        height: 14px;
        background-image: url("/assets/images/spr-icons-govco.png");
        background-position: 11% 14%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-right: 20px;
      }
      .govco-icon {
        color: #004884;
        font-size: 1.5rem;
        margin-right: 1em;
      }
      .btn:focus {
        box-shadow: none;
      }
    }
    &-body {
      background: #f6f8f9;
      padding: 1em 2em;
  
      &-header {
        background: #f2f2f2;
        display: flex;
        height: 48px;
        margin-top: 2em;
        padding: 1em 2em;
        align-items: center;
        justify-content: space-around;
  
        &-title {
          color: #004884;
          font-size: 14px;
          display: flex;
          align-items: center;
          font-weight: 600;
          font-family: "Montserrat", sans-serif;
          margin-left: 5px;
          .govco-icon {
            font-size: 1.2rem;
            margin-right: 0;
            transform: rotate(90deg);
            color: rgba($color: #004884, $alpha: 0.5);
          }
        }
        .w-30 {
          width: 350px;
        }
      }
      &-normativas {
        background: #fff;
        &-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1em 2em;
          border-bottom: 2px solid rgba($color: #004884, $alpha: 0.2);
          &-info {
            width: 355px;
            line-break: anywhere;
            padding: 0 1em;
            font-size: 16px;
            color: #4b4b4b;
            justify-content: space-around;
            font-family: "Work Sans", sans-serif;
          }
          .icon-descarga {
            border-radius: 50%;
            background: #fff;
            width: 36px;
            height: 36px;
            left: 12px;
  
            img {
              width: 100%;
              &:hover {
                background: #004884;
                border-radius: 50%;
              }
            }
          }
          .checkbox {
            margin-right: 2em;
            margin-top: -1em;
            .checkbox-govco {
              margin-bottom: 0;
              input {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
              }
              .label-checkbox {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                position: relative;
                cursor: pointer;
                margin-bottom: 0px;
                display: initial;
                &:before {
                  border: 3px solid #3366cc;
                  margin-top: 1px;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                  margin: 0;
                  padding: 0;
                  content: '';
                  -webkit-appearance: none;
                  background-color: transparent;
                  padding: 8px;
                  display: inline-block;
                  position: relative;
                  vertical-align: middle;
                  cursor: pointer;
                  margin-right: 5px;
                  border-radius: 5px;
                }
                .govco-icon{
                  color: #004884;
                }
              }
            }
          }
        }
      }
      &-button {
        text-align: right;
        margin-top: 1em;
        button {
          text-transform: uppercase;
          color: #3366cc;
          font-size: 15px;
          font-family: "Work Sans", sans-serif;
          width: 225px;
          height: 40px;
          border: 2px solid;
          text-align: center;
          border-radius: 20px;
          line-height: 2.3;
          background-color: #f6f8f9;
          cursor: pointer;
          &:hover {
            font-size: 15px !important;
          }
        }
        .disabled {
          border: 2px solid rgba($color: #4b4b4b, $alpha: 0.5);
          color: rgba($color: #4b4b4b, $alpha: 0.5);
          background: transparent;
          pointer-events: none;
        }
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      &-header{
        height: 64px;
        &-title{
          font-size: 14px;
          padding: 0;
        }
      }
      &-body {
        padding: 0;
        &-header {
          margin: 0;
          padding: 1em 0;
          .w-30 {
            width: 170px;
          }
        }
        &-normativas {
          &-text {
            padding: 1em;
            .checkbox{
              margin: 0;
            }
            &-info {
              width: 150px;
              padding: 0;
            }
          }
        }
        &-button{
          text-align: center;
          padding: 1em;
          button{
            margin: 0 auto;
          }
        }
      }
    }
  }

  section{
    padding-left: 15px;
    padding-right: 15px;
  }

  .paginacion {
    text-align: center;
  }

  .ngx-pagination::after {
    clear: both;
}

.ngx-pagination::before,
.ngx-pagination::after {
    content: ' ';
    display: table;
}

::ng-deep pagination-controls pagination-template .ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li {
  width: 40px;
  height: 40px;
  line-height: 2;
  font-weight: 700;
  text-align: center;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li:hover {
  background: #e6effd;
  justify-content: center;
  border-radius: 4px;
}

::ng-deep  pagination-controls pagination-template .ngx-pagination li a:hover {
  background: none;
  text-decoration: none;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li span {
  font-size: 16px;
  color: #0b457f;
  font-family: Work Sans, sans-serif;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .current {
  background: #3366cc;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .current:hover {
  background: #3366cc;
  color: #fff;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .current span {
  color: #fff;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next {
  width: auto;
  height: auto;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous:hover,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next:hover {
  background: none;
  width: auto;
  cursor: pointer;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-previous.disabled,
::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-next.disabled {
  color: #bababa !important;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-previous.disabled::before {
  content: "\e916" !important;
  display: none;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-next.disabled::after {
  content: "\e916" !important;
  display: none;
}


::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-previous.disabled span,
::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-next.disabled span {
  text-align: right;
  text-decoration: underline;
  font-size: 14px !important;
  font-weight: normal !important;
  font-family: "Work Sans" !important;
  letter-spacing: 0px;
  color: #BABABA;
  opacity: 1;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous a,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next a {
  text-align: right;
  text-decoration: underline;
  font-size: 14px !important;
  font-weight: normal !important;
  font-family: "Work Sans" !important;
  letter-spacing: 0px;
  color: #3366CC !important;
  opacity: 1;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous span:before,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous a:before {
  content: "Anterior"!important;
  font-size: 14px;
  font-weight: 400;
  color: #36c;
  text-decoration: underline;
  font-family: Work Sans,sans-serif;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous.disabled span:before {
  content: "Anterior" !important;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next span:before,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next a:before {
  content: "Siguiente"!important;
  font-size: 14px;
  font-weight: 400;
  color: #36c;
  text-decoration: underline;
  font-family: Work Sans,sans-serif;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next.disabled span:before {
  content: "Siguiente" !important;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous a::after,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next a::after {
  content: none !important;
}

::ng-deep .btn {
  position: relative !important;
  line-height: 1.42;
}

::ng-deep .btn-low,
.btn-low-mix-govco {
  color: #3772FF !important;
  text-decoration: underline !important;
  font-weight: 500;
  font-size: 1rem;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

// checkbox selected

.checkbox-govco input:checked+label:after {
  content: "\e959";
  transform: none;
  color: #004884;
  font-size: 20px;
  border: 0;
  position: absolute;
  left: 1;
  top: 8px;
}

.ios input:checked+label:after {
  left: 1px;
  top: 6px !important;
}

.android input:checked+label:after {
  left: 1px;
}