
 <div class="content-tramite-linea" *ngIf="showComponent">
    <div class="tramiteCard-v1 pb-2" (click)="getPuntosAtencion()">
      <button class="btn btn-round btn-accion" aria-label="Ver los puntos de atención. Abrirá una ventana emergente con la información de los puntos de atención disponibles para el trámite.">
        Ver los puntos de atención
        <img src="https://govco-prod-webutils.s3.amazonaws.com/uploads/2022-06-03/5c1e7dc9-21a5-47d6-a1c8-a67cc6195183-Icon_arrow.svg" class="icono-accion ml-2">
      </button>
    </div>
   </div>
  
  
  
  
  
