<div>
    <div class="barra">
        <div class="interno"></div>
        <div class="info">
            <div class="container-avance">
                <div class="container-number number-activo">1</div>
                <span class="text-activo">Inicio</span>
            </div>
            <div class="container-avance">
                <div class="container-number number-inactivo">2</div>
                <span class="text-inactivo">Hago mi solicitud</span>
            </div>
            <div class="container-avance">
                <div class="container-number number-inactivo">3</div>   
                <span class="text-inactivo">Procesan mi solicitud</span>
            </div>
            <div class="container-avance">
                <div class="container-number number-inactivo">4</div>
                <span class="text-inactivo">Respuesta</span>
            </div>
        </div>
    </div>
    <div class="btn-integrado">
        <div class="contenido-integrado">
            <div class="btn-check">
                <i class="fa fa-fw fa-check" aria-hidden="true"></i>
            </div>
            <div >
                <p>GOV.CO</p>
            </div>
                <span>¡Integrado</span>
        </div>
    </div>
</div>

