.container-banner-principal{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    .background-overlay{
        background: linear-gradient(180deg,rgb(27 74 167 / 90%) 0%, rgb(17 54 128 / 90%) 80%);
        padding: 60px 16px 92px 16px;
        .container-title{
            padding-bottom: 24px;
            word-wrap: break-word;
            h1{
                font-size: 48px;
                font-family: 'Montserrat-SemiBold';
                line-height: 60px;
                color: #fff;
            }
        }
        p{
            font-family: 'WorkSans-Regular';
            color: #fff;
            margin-bottom: 0;
        }
        .texto-principal{
            font-size: 1rem;
            line-height: 24px;
            margin-bottom: 20px;
            
        }
        .separador::after{
            content: '';
            display: block;
            width: 120px;
            height: 2px;
            background-color: #fff;
        }
        .container-textos{
            margin-top: 24px;
            margin-bottom: 24px;
            .texto-secundario{
                font-size: 14px;
                line-height: 20px; 
            }
        }
    }
}