.container-banner-principal{
    background-color: #1D4BA9;
    padding: 50px 15px 90px 15px;
    .container-title{
        padding-bottom: 20px;
        h1{
            font-size: 50px;
            font-family: 'Montserrat-SemiBold';
            font-weight: 600;
            color: #fff;
        }
    }
    p{
        font-family: 'WorkSans-Regular';
        color: #fff;
        margin-bottom: 0;
    }
    .texto-principal{
        font-size: 1.2rem;
        margin-bottom: 20px;
        
    }
    .separador::after{
        content: '';
        display: block;
        width: 120px;
        height: 2px;
        background-color: #fff;
    }
    .container-textos{
        margin-top: 20px;
        margin-bottom: 20px;
        .texto-secundario{
            font-size: 1rem; 
        }
    }
}