<div class="container-banner-principal" [style.background-image]="'url('+imagen+')'"
  [attr.aria-label]="descripcionImagen">
  <div class="background-overlay">
    <div class="container-title">
      <h1>{{titleBanner}}</h1>
    </div>
    <p class="texto-principal">{{textoBanner}}</p>
    <div class="separador"></div>
    <div class="container-textos">
      <p class="texto-secundario">{{textoPrimario}}</p>
      <p class="texto-secundario">{{textoSecundario}}</p>
    </div>
    <div class="container-boton">
      <app-boton [inverted]="true">{{textoBoton}}</app-boton>
    </div>
  </div>
</div>
<app-banner-cards></app-banner-cards>