.acordeon-pwa-govco {
    width: 100%;
    padding: 40px 16px 0;

    .card {
        width: 100%;
        border: 2px solid #E8EFFC;
        border-radius: 5px;
        background-color: #FFFFFF;
        margin-bottom: 16px;

        .card-header {
            background-color: #FFFFFF;
            border: 0;
            padding: 12px 8px 12px 8px;

            h2 button {
                color: #004884;
                font-size: 16px;
                font-family: 'Montserrat-SemiBold';
                text-decoration: none;
                display: flex;
                justify-content: space-between;
                padding: 12px 8px 12px 8px;

                span {
                    font-size: 32px;
                    transition: 0.4s linear transform;
                }

                &:focus-visible {
                    outline: 2px solid #000;
                }
            }

            h2 button:focus {
                box-shadow: none;
            }
        }

        .card-body {
            color: #000000;
            font-family: 'WorkSans-Regular';
            font-size: 14px;
            padding: 0 16px 24px 16px;
        }

        &.active {
            border-color: #004884;
            background-color: #FFFFFF !important;

            .card-header h2 button {
                span {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

.link-target:before {
    display: block;
    content: " ";
    margin-top: -7.8rem;
    height: 7.8rem;
    visibility: hidden;
}
