<div class="accordion acordeon-pwa-govco" id="acordeonPerfilTramites">
    <div class="card">
        <div class="card-header" id="paso0">
            <h2 class="mb-0">
                <button (click)="activarItem(0)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse0" aria-expanded="false" aria-controls="collapse0">
                    ¿Qué necesito para hacer mi trámite?
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse0" class="collapse" aria-labelledby="paso0" data-parent="#acordeonPerfilTramites">
            <div class="card-body">
                <app-primer-item-acordeon *ngIf="dataAcordeon" [dataAcordeon]="dataAcordeon" [tramiteEnLinea]="tramiteEnLinea"></app-primer-item-acordeon>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="paso1">
            <h2 class="mb-0">
                <button (click)="activarItem(1)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    ¿Qué resultado obtengo luego de hacer mi trámite?
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse1" class="collapse" aria-labelledby="paso1" data-parent="#acordeonPerfilTramites">
            <div class="card-body">
                <app-segundo-item-acordeon [dataAcordeon]="dataAcordeon"></app-segundo-item-acordeon>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="paso2">
            <h2 class="mb-0">
                <button (click)="activarItem(2)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    ¿Dónde se puede hacer el seguimiento a la solicitud?
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="paso2" data-parent="#acordeonPerfilTramites">
            <div class="card-body">
              <app-tercer-item-acordeon [dataAcordeon]="dataAcordeon"></app-tercer-item-acordeon>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="paso3">
            <h2 class="mb-0">
                <button (click)="activarItem(3)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    ¿Dónde puedo saber más acerca del trámite?
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="paso3" data-parent="#acordeonPerfilTramites">
            <div class="card-body">
                <app-cuarto-item-acordeon [dataAcordeon]="dataAcordeon"></app-cuarto-item-acordeon>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="paso4">
            <h2 class="mb-0">
                <button (click)="activarItem(4)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Legislación asociada
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="paso4" data-parent="#acordeonPerfilTramites">
            <div class="card-body">
                <app-quinto-item-acordeon [dataAcordeon]="dataAcordeon"></app-quinto-item-acordeon>
            </div>
        </div>
    </div>
</div>
