.acordeon-pwa-govco {
    width: 100%;
    padding: 0 16px;
    margin-top: 40px;
    .card {
        width: 100%;
        border: 2px solid #E8EFFC;
        border-radius: 5px;
        background-color: #FFFFFF;
        margin-bottom: 16px;
        .card-header {
            background-color: #FFFFFF;
            border: 0;
            padding: 24px 20px 25px 16px;
            h2 button {
                padding: 0;
                color: #004884;
                font-size: 16px;
                font-family: 'Montserrat-SemiBold';
                text-decoration: none;
                display: flex;
                justify-content: space-between;
                span {
                    font-size: 32px;
                    transition: 0.4s linear transform;
                }
            }
            h2 button:focus {
                box-shadow: none;
            }
        }
        .card-body {
            color: #000000;
            font-family: 'WorkSans-Regular';
            font-size: 14px;
        }
    }
    .card.active {
        border-color: #004884;
        background-color: #FFFFFF !important;
        .card-header h2 button {
            span {
                transform: rotate(-180deg);
            }
        }
    }
}
