<div class="accordion acordeon-pwa-govco" id="ejemploAcordeon">
    <div class="card" *ngFor="let item of items; let i = index;" [class.active]="item.active">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button (click)="activarItem(i)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
                    {{item.titulo}}
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                    <span class="material-symbols-outlined">
                        expand_less
                    </span>
                </button>
            </h2>
        </div>
        <div [id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#ejemploAcordeon">
            <div class="card-body">
                {{item.descripcion}}
            </div>
        </div>
    </div>
</div>
