<div class="accordion acordeon-pwa-govco" id="ejemploAcordeon">
    <div class="card">
        <div class="card-header" id="heading0">
            <h2 class="mb-0">
                <button (click)="activarItem(0)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse0" aria-expanded="false" aria-controls="collapse0">
                    ¿Qué necesito para hacer mi trámite?
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                    <span class="material-symbols-outlined">
                        expand_less
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#ejemploAcordeon">
            <div class="card-body">
                <app-primer-item-acordeon [informacionFicha]="informacionFicha"></app-primer-item-acordeon>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading1">
            <h2 class="mb-0">
                <button (click)="activarItem(1)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    ¿Qué resultado obtengo luego de hacer mi trámite?
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                    <span class="material-symbols-outlined">
                        expand_less
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#ejemploAcordeon">
            <div class="card-body">
                descripcion
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading2">
            <h2 class="mb-0">
                <button (click)="activarItem(2)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    ¿Dónde se puede hacer el seguimiento a la solicitud?
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                    <span class="material-symbols-outlined">
                        expand_less
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#ejemploAcordeon">
            <div class="card-body">
                descripcion
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading3">
            <h2 class="mb-0">
                <button (click)="activarItem(3)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    ¿Dónde puedo saber más acerca del trámite?
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                    <span class="material-symbols-outlined">
                        expand_less
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#ejemploAcordeon">
            <div class="card-body">
                descripcion
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading4">
            <h2 class="mb-0">
                <button (click)="activarItem(4)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Legislación asociada
                    <span class="material-symbols-outlined">
                        expand_more
                    </span>
                    <span class="material-symbols-outlined">
                        expand_less
                    </span>
                </button>
            </h2>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#ejemploAcordeon">
            <div class="card-body">
                descripcion
            </div>
        </div>
    </div>
</div>
