.etiqueta-pwa-govco {
    border-radius: 14px;
    background-color: #CDE6DF;
    color: #0D684B;
    font-size: 14px;
    font-family: 'WorkSans-Medium';
    padding: 6px 10px;
    display: flex;
    align-items: center;
}

.etiqueta-pwa-govco.informative {
    background-color: #E8EFFC;
    color: #004884;
    box-shadow: 0px 4px 6px #13173D29;
    line-height: 15px;
}

.etiqueta-pwa-govco.warning {
    background-color: #FFEECC;
    color: #8B5D13;
}

.etiqueta-pwa-govco.danger {
    background-color: #EECDD2;
    color: #B30937;
}
