<div #contenidoHtml *ngIf="ocultar" class="barra-geolocalizacion-pwa-govco">
    <button #boton class="seccion-clic" (click)="abrirFormularioGeo()" (keypress)="abrirFormularioGeo()" 
        [attr.aria-label]="'Abrir formulario de ubicacion'" tabindex="0">
        <span class="caja-icono-pwa-govco">
            <span class="material-symbols-outlined geolocalizacion-pwa-govco-icon">pin_drop</span>
        </span>
        <a class="geolocalizacion-pwa-govco-texto">{{ubicacionMunicipio}}</a>
    </button>
</div>