.barra-geolocalizacion-pwa-govco{
    height: 2.25em;
    background-color: #E6EFFD;
    display: flex;
    align-items: center;
}

.geolocalizacion-pwa-govco-icon {
    color: #004884;
    font-size: 1.25em;
    font-variation-settings:
        'FILL' 1;
}

.geolocalizacion-pwa-govco-texto {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 0.875em;
    margin-left: 0.643em;
    color: #004884;
}

.caja-icono-pwa-govco {
    margin-left: 1.75em;
}

