.barra-geolocalizacion-pwa-govco {
    height: 2.25em;
    width: 100%;
    background-color: #E6EFFD;
    align-items: center;
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    transition: 0.6s ease;
    outline-color: #000000;
    padding: 0.375rem 0;
}

.barra-geolocalizacion-pwa-govco .seccion-clic {
    width: 100%;
    display: flex;
    border: 0;
    color: inherit;
    background-color: inherit;
    outline: none;
}

.barra-geolocalizacion-pwa-govco .geolocalizacion-pwa-govco-icon {
    color: #004884;
    font-size: 1.5rem;
    font-variation-settings:
        'FILL' 1;
}

.barra-geolocalizacion-pwa-govco .geolocalizacion-pwa-govco-texto {
    font-family: 'WorkSans-Medium';
    font-size: 0.875em;
    margin-left: 0.5rem;
    color: #004884;
    text-decoration: underline;
}

.barra-geolocalizacion-pwa-govco .caja-icono-pwa-govco {
    margin-left: 1.75em;
}

.barra-geolocalizacion-pwa-govco:has(button:focus-visible) {
    border: 2px solid #000000;
    border-radius: 4px;
}