<div class="card-body container-excepcion" *ngIf="data.length > 0">
    <div class="alert">
        <span class="material-symbols-outlined">
            priority_high
        </span>
        <span class="text">
            Si se identifica con alguno de estos casos, adicionalmente debe:
        </span>
    </div>
    <div class="accordion acordeon-pwa-govco" id="acordeonExcepcion">
        <div class="card" *ngFor="let item of data; let i = index;" [class.active]="item.active">
            <div class="card-header" [id]="'excepcion' + i">
                <h2 class="mb-0">
                    <button (click)="activarItem(i)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapseExcepcion' + i" aria-expanded="false" [attr.aria-controls]="'collapseExcepcion' + i">
                        * {{item.Excepcion}}
                        <span class="material-symbols-outlined">
                            expand_more
                        </span>
                    </button>
                </h2>
            </div>
            <div [id]="'collapseExcepcion' + i" class="collapse" [attr.aria-labelledby]="'excepcion' + i" data-parent="#acordeonExcepcion">
                <ng-container *ngFor="let excepcion of item | keyvalue">
                    <app-accion-solicitud 
                        *ngIf="excepcion.key === 'SOLICITUD' && excepcion.value" 
                        [data]="excepcion.value">
                    </app-accion-solicitud>
                    <app-accion-verificacion 
                        *ngIf="excepcion.key === 'VERIFICACION_INST' && excepcion.value" 
                        [data]="excepcion.value">
                    </app-accion-verificacion>
                    <app-accion-pago 
                        *ngIf="excepcion.key === 'PAGO' && excepcion.value" 
                        [data]="excepcion.value">
                    </app-accion-pago>
                    <app-accion-formulario 
                        *ngIf="excepcion.key === 'FORMULARIO' && excepcion.value" 
                        [data]="excepcion.value">
                    </app-accion-formulario>
                    <app-accion-documento 
                        *ngIf="excepcion.key === 'DOCUMENTO' && excepcion.value" 
                        [data]="excepcion.value">
                    </app-accion-documento>
                </ng-container>
            </div>
        </div>
    </div>
</div>
