<div class="card-body container-excepcion" *ngIf="data.length > 0">
    <div class="alert">
        <span class="material-symbols-outlined">
            priority_high
        </span>
        <span class="text">
            Si se identifica con alguno de estos casos, adicionalmente debe:
        </span>
    </div>
    <div class="accordion acordeon-pwa-govco" [id]="'acordeonExcepcion' + indexExcepcion">
        <div class="card" *ngFor="let item of data; let i = index;" [class.active]="item.active">
            <div class="card-header" [id]="'excepcion' + i">
                <h2 class="mb-0">
                    <button (click)="activarItem(i)" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapseExcepcion' + i" aria-expanded="false" [attr.aria-controls]="'collapseExcepcion' + i">
                        * {{item.Excepcion}}
                        <span class="material-symbols-outlined">
                            expand_more
                        </span>
                    </button>
                </h2>
            </div>
            <div [id]="'collapseExcepcion' + i" class="collapse" [attr.aria-labelledby]="'excepcion' + i" [attr.data-parent]="'#acordeonExcepcion' + indexExcepcion">
                <ng-container>
                    <app-accion-solicitud 
                        *ngIf="item.SOLICITUD" 
                        [data]="item.SOLICITUD">
                    </app-accion-solicitud>
                    <app-accion-verificacion 
                        *ngIf="item.VERIFICACION_INST" 
                        [data]="item.VERIFICACION_INST">
                    </app-accion-verificacion>
                    <app-accion-pago 
                        *ngIf="item.PAGO" 
                        [data]="item.PAGO">
                    </app-accion-pago>
                    <app-accion-formulario 
                        *ngIf="item.FORMULARIO" 
                        [data]="item.FORMULARIO">
                    </app-accion-formulario>
                    <app-accion-documento 
                        *ngIf="item.DOCUMENTO" 
                        [data]="item.DOCUMENTO">
                    </app-accion-documento>
                </ng-container>
            </div>
        </div>
    </div>
</div>
