.acordeon-pwa-govco {
    width: 100%;

    .card {
        width: 100%;
        border: 2px solid #E8EFFC;
        border-radius: 4px;
        background-color: #FFFFFF;
        margin-bottom: 0.5rem;

        .card-header {
            background-color: #FFFFFF;
            border: 0;
            padding: 0;

            button {
                padding: 1rem;
                border: 0;
                text-decoration: none;
                display: flex;
                justify-content: space-between;

                a {
                    color: #3366CC;
                    font-family: 'WorkSans-Medium';
                    font-size: 1rem;
                    margin: 0;
                    padding: 0;
                    line-height: 1.3rem;
                    text-decoration: underline;
                }

                .caja-icono-24-pwa {
                    margin-left: 1rem;

                    .icono-expand-more {
                        content: url(../../../../../assets/icons-fonts/expand_more.svg);
                        width: 2rem;
                        height: 2rem;
                        transition: 0.4s linear transform;
                    }
                }
            }

            button:focus {
                box-shadow: none;
            }
        }

        .card-body {
            padding-bottom: 1rem;
        }
    }

    .card.active {
        border: 2px solid #E8EFFC;
        background-color: #FFFFFF !important;

        .card-header button {
            p {
                font-family: 'WorkSans-Medium';
            }

            .icono-expand-more {
                display: inline;
                transform: rotate(-180deg);
            }
        }
    }
}

.govco-pwa-ficha-subtitulo {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
    .texto-entidad {
        margin-bottom: 0.5rem;

        p {
            color: #000000;
            font-family: 'WorkSans-Medium';
            font-size: .875rem;
            margin: 0;
        }

        span {
            color: #000000;
            font-family: 'WorkSans-Regular';
            font-size: .875rem;
            letter-spacing: -0.006rem;
        }

        .linea-horizontal-2-pwa-govco {
            margin: .5rem 0 1.5rem 0;
        }
    }

    .separador::after {
        content: "";
        display: block;
        width: 88px;
        height: 2px;
        background-color: #1c4780;
    }
}

.container-detalle {
    .descripcion {
        padding-bottom: 1rem;

        p {
            color: #000000;
            font-family: 'WorkSans-Regular';
            font-size: .875rem;
            letter-spacing: -0.006rem;
        }

        a {
            color: #3366CC;
            font-family: 'WorkSans-Medium';
            font-size: .875rem;
            text-decoration: underline;
        }
    }

    .caracteriticas-tramite {
        .title-tramites {
            font-family: 'Montserrat-Medium';
            font-size: 14px;
            margin-bottom: 24px;
        }

        .card-detalle-tramite {
            border: 2px solid #E8EFFC;
            background-color: #FFFFFF;
            border-radius: 5px;
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            .container-icon-detalle {
                border-radius: 10px;
                width: 40px;
                height: 40px;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 8px;

                .material-symbols-outlined {
                    color: #004884;
                    font-variation-settings:
                        'FILL' 0,
                        'wght' 500,
                        'GRAD' 0,
                        'opsz' 24
                }
            }

            .container-text-detalle {
                p {
                    margin-bottom: 0;
                }

                .tramite-type {
                    font-family: "WorkSans-Medium";
                    font-size: 14px;
                }

                .tramite-type-detalle {
                    font-family: "WorkSans-Regular";
                    font-size: 14px;
                }
            }
        }

        .timeLast {
            margin-bottom: 0px;
        }
    }
}

div.card{
  display: none;
}

div.card.actived{
  display: block;
}
