<div class="accordion acordeon-pwa-govco" id="acordeonTramites">
    <div class="card" *ngFor="let item of items; index as i;" [class.active]="item.active">
        <div class="card-header" id="headingOne">
            <button #botonAcordeon (click)="activarItem(i)" class="btn btn-link btn-block text-left" type="button"
                data-toggle="collapse" [attr.data-target]="'#collapse-tramites' + i" aria-expanded="false"
                [attr.aria-controls]="'collapse-tramites' + i">
                <a *ngIf="href" (click)="validarUrlService.validarUrl(item.link, '_blank')" class="line-clamp-3">{{item.titulo}}</a>
                <a *ngIf="!href" routerLink="{{item.link}}" class="line-clamp-3">{{item.titulo}}</a>
                <div class="caja-icono-24-pwa">
                    <span class="icono-expand-more" type="image"
                        alt="Expandir acordeon para ver más información"></span>
                </div>
            </button>
        </div>
        <div [id]="'collapse-tramites' + i" class="collapse" [attr.aria-labelledby]="'heading' + i"
            data-parent="#acordeonTramites">
            <div class="card-body contenido-pwa-govco">
                <div class="govco-pwa-ficha-subtitulo">
                    <div class="texto-entidad">
                        <p>Entidad responsable:</p>
                        <span [attr.aria-label]="'Entidad responsable' + item?.entidad">{{
                            item?.entidad}}</span>
                    </div>
                    <div class="linea-horizontal-2-pwa-govco"></div>
                </div>
                <div class="container-detalle">
                    <div class="descripcion">
                        <p #texto class="line-clamp-3">{{item.descripcion}}</p>
                        <a *ngIf="botonTexto[i]" (click)="expandirText(i)">{{ expandirTexto == true ? 'Leer menos' :
                            'Leer más'}}</a>
                    </div>
                    <div class="caracteriticas-tramite">
                        <div class="card-detalle-tramite">
                            <div class="container-icon-detalle">
                                <span class="material-symbols-outlined">
                                    {{item.enLinea == 'SI'? 'laptop_mac': 'person' }}
                                </span>
                            </div>
                            <div class="container-text-detalle">
                                <p class="tramite-type">
                                    Tipo de trámite
                                </p>
                                <p class="tramite-type-detalle">
                                    {{item.enLinea == 'SI'? 'En línea': 'Presencial' }}
                                </p>
                            </div>
                        </div>
                        <div class="card-detalle-tramite">
                            <div class="container-icon-detalle">
                                <span class="material-symbols-outlined">
                                    {{item.costo== 'SI'? 'monetization_on': 'money_off' }}
                                </span>
                            </div>
                            <div class="container-text-detalle">
                                <p class="tramite-type">
                                    Tiene costo?
                                </p>
                                <p class="tramite-type-detalle">
                                    {{item.costo | titlecase}}
                                </p>
                            </div>
                        </div>
                        <div class="card-detalle-tramite timeLast">
                            <div class="container-icon-detalle">
                                <span class="material-symbols-outlined">
                                    schedule
                                </span>
                            </div>
                            <div class="container-text-detalle">
                                <p class="tramite-type">
                                    Duración del proceso
                                </p>
                                <p class="tramite-type-detalle">
                                    {{item?.tiempoObtencion | titlecase}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-boton [inverted]="false" *ngIf="items.length > 5" (click)="VerMasResultados()">Ver más</app-boton>

</div>
