<div *ngIf="banner">
  <div id="buscador-home" [style.background-image]="'url('+imagen+')'" tabindex="0" role="img"
    aria-labelledby="image-1">
    <p id="image-1" style="display: none;">{{descripcionImagen}}</p>
    <div class="background-overlay">
      <div class="container">
        <div class="row w-100 m-0 no-gutters pb-4">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="text-left">
              <h1 class="title-search-bienvenido text-lg-left" tabindex="0">
                ¡Hola! Estás en GOV.CO
              </h1>
              <!-- To do -->
              <!-- <h1 class="title-search-bienvenido text-lg-left" tabindex="0">
                {{banner.textoBienvenida}}
              </h1> -->
            </div>
            <div class="text-left">
              <p class="description-search-banner ml-5" tabindex="0">
                Encuentra trámites, servicios e información del Estado colombiano.
              </p>
              <!-- To do  -->
              <!-- <p class="description-search-banner ml-5" tabindex="0">
                {{banner.textoBuscador}}
              </p> -->
            </div>
            <div class="text-left mt-5">
              <p class="description-aux ml-5 px-0" tabindex="0">
                <span>¿No sabes como buscar?</span>
                <!-- To do -->
                <!-- <span>{{banner.textoAuxiliar}}</span> -->
              </p>
            </div>
            <div class="see-aux pb-3" *ngIf="banner.estadoBotonAuxiliar">
              <a routerLink="/categorias-subcategorias" class="btn btn-round" role="button">Ir a momentos de vida </a>
              <!-- To do -->
              <!-- <a href="{{urlBotonAuxiliar}}" class="btn btn-round" role="button">{{banner.textoBotonAuxiliar}}</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>