<app-banner-principal codigo="actualidadprincipal" [segundoTitulo]=nombreCategoriaParam></app-banner-principal>
<div class="contenedor-actualidad-principal">
  <div class="container mt-0">
    <div class="row mb-3 px-0">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="btn-filtros">
          <a data-toggle="collapse" href="javascript:void(0)" role="button" aria-label="Filtros para noticias"
            class="btn btn-round link-filtros" (click)="abrirSeccionFiltros()">
            Filtros
            <i class="fa fa-sliders" aria-hidden="true" *ngIf="!fitrosDesplegados"></i>
            <i class="fa fa-times" aria-hidden="true" *ngIf="fitrosDesplegados"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4 collapse {{fitrosDesplegados==true?'show':''}}" id="seccion-filtros" tabindex="0"
    aria-label="Una vez seleccione alguno de los siguientes filtros, se actualizarán  automáticamente los resultados de su busqueda. Si en algún momento desea saltar a los resultados de busqueda de noticias, presione la tecla espacio.">
    <div class="px-0">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" [style]="estadoComboCategoria?'':{display:'none'}">
        <select-search-1 id-select="selectcategoria" label-select="Categorías" aria-label-select="Escoge una categoría"
          aria-label-validation="" (clicEmitEvent)="cargarDependienteMomentosDeVida($event)" [list]=listaMomentosDeVida
          [seleccionado]=seleccionado place-holder="Escoger" ngModel #selectcategoria>
        </select-search-1>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <select-search-1 id-select="selectsubcategoria" label-select="Subcategoria"
          aria-label-select="Escoge una subcategoria"
          aria-label-validation="Para seleccionar un subcategoria, debe seleccionar primero un momento de vida"
          (clicEmitEvent)="cargarDependienteSubcategoria($event)" [list]=listaSubCategorias [seleccionado]=seleccionado
          place-holder="Escoger" ngModel #selectsubcategoria>
        </select-search-1>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <select-search-1 id-select="selectsector" label-select="Sector" aria-label-select="Escoge un sector"
          aria-label-validation="" (clicEmitEvent)="cargarDependienteSector($event)" [list]=listaSectores
          [seleccionado]=seleccionado place-holder="Escoger" ngModel #selectsector>
        </select-search-1>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <select-search-1 id-select="selectentidad" label-select="Entidad" aria-label-select="Escoge una entidad"
          aria-label-validation="" (clicEmitEvent)="seleccionadoEntidad()" [list]=listaEntidades
          [seleccionado]=seleccionado place-holder="Escoger" ngModel #selectentidad>
        </select-search-1>
      </div>
    </div>
    <div class="px-0">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <select-search-1 id-select="ano" label-select="Año" aria-label-select="Escoge un año" aria-label-validation=""
          (clicEmitEvent)="cargarDependienteAno($event)" [list]=listaAnos [seleccionado]=seleccionado
          place-holder="Escoger" ngModel #selectano>
        </select-search-1>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <select-search-1 id-select="mes" label-select="Mes" aria-label-select="Escoge un mes"
          aria-label-validation="Para seleccionar un mes primero debe seleccionar un Año."
          (clicEmitEvent)="setFecha($event)" [list]=listaMeses [seleccionado]=seleccionado place-holder="Escoger"
          ngModel #selectmes>
        </select-search-1>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 align-self-center mt-5 limpiar-filtros">
        <a href="javascript:void(0)" (click)="limpiarFiltros()"
          aria-label="Limpiar filtros, borrara los filtros introducidos y volverá a su estado inicial">Limpiar
          filtros</a>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!esResponsive()">
    <div class="row col-12">
      <div class="col-4 filtros mt-4"></div>
    </div>
  </div>

  <div class="container">
    <govco-listado-noticias-filtros [filtro]=filtro #listadonoticias></govco-listado-noticias-filtros>
  </div>
  <temas-de-interes></temas-de-interes>
</div>