<app-banner-principal [codigo]="codNoticias" [segundoTitulo]=nombreCategoriaParam></app-banner-principal>
<div class="contenedor-actualidad-principal">
  <div class="container mt-0">

    <div class="row mt-2">
      <div id="total-noticias" class="col-sm-12 col-md-4 col-lg-3 my-0 pb-0" *ngIf="this.totalNoticias">
        <span> Se encontraron <strong>{{this.totalNoticias?this.totalNoticias:"0"}} Resultados de
            noticias</strong></span>
      </div>
    </div>

    <div class="col-sm-12 px-0">
      <div class="mt-2 mb-3 px-0 mx-0 d-flex">
        <div class="col-sm-6 mx-0 pl-0 pr-1">
          <div class="btn-filtros">
            <a data-toggle="collapse" href="javascript:void(0)" role="button" aria-label="Filtros para noticias"
              class="btn btn-round link-filtros pt-2" (click)="abrirSeccionFiltros()" data-target="#exampleModal">
              Filtros
              <i class="icon-end mt-1 fa fa-sliders" aria-hidden="true" *ngIf="!fitrosDesplegados"></i>
              <i class="icon-end mt-1 fa fa-times" aria-hidden="true" *ngIf="fitrosDesplegados"></i>
            </a>
          </div>
        </div>

        <div class="col-sm-6 mx-0 pl-1 pr-0">
          <div class="btn-filtros">
            <a data-toggle="collapse" href="javascript:void(0)" role="button" aria-label="Ordenar noticias por"
              class="btn btn-round link-filtros pt-2" (click)="abrirSeccionOrder()">
              Ordenar por:
              <i class="icon-end mt-1 fa fa-sort" aria-hidden="true" *ngIf="!OrderDesplegados"></i>
              <i class="icon-end mt-1 fa fa-times" aria-hidden="true" *ngIf="OrderDesplegados"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="OrdenarModal">
    Ordenar por:
    <div class="row">
      <div class="form-check container d-flex col-sm-12">
        <label class="form-check-label col-sm-10" for="name_asc">De la A a la Z</label>
        <div class="col-sm-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="name_asc" checked />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-check container d-flex">
        <label class="form-check-label col-sm-10" for="name_desc">De la Z a la A</label>
        <div class="col-sm-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="name_desc" checked />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-check container d-flex">
        <label class="form-check-label col-sm-10" for="date_asc">Más reciente a menos reciente</label>
        <div class="col-sm-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="date_asc" checked />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-check container d-flex">
        <label class="form-check-label col-sm-10" for="date_desc">Menos reciente a más reciente</label>
        <div class="col-sm-2">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="date_desc" checked />
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-0 pt-0">
    <govco-listado-noticias-filtros [filtro]=filtro #listadonoticias></govco-listado-noticias-filtros>
  </div>
</div>