
<div class="govco-pwa-nivel-dos-header">
  <div class="govco-pwa-botones-header">
    <div class="govco-pwa-icon-container" (click)="cerrarBuscadorPWA()">
      <span class="material-symbols-outlined backSymbol">
          arrow_back
      </span>
    </div>
    <div class="govco-pwa-search-container">
      <input class="form-control py-2 border-right-0 border"
        type="search"
        id="buscador-pwa"
        placeholder="Buscar en GOV.CO"
        attr.maxlength={{maxlength}}
        (input)="buscarSugerencias($event)">
    </div>
  </div>
</div>


