.modal-desplegable-pwa.contenedor {
    width: 100%;
    height: auto;
    z-index: 4;
    position: absolute;
    bottom: calc(100% - 113.75rem);
    margin: 0;
}

.modal-desplegable-pwa .modal-contenido {
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    outline: 0;
}

.modal-desplegable-pwa .hr {
    height: 4px;
    width: 60px;
    background-color: #004884;
    border-radius: 1.25rem;
    border: 0;
    margin: 1rem auto 1rem auto;
}

.modal-desplegable-pwa .body-modal {
    padding: 0 1rem 0 1rem;
}