<div #modal_desplegable class="modal-desplegable-pwa contenedor">
    <div class="modal-contenido">
        <div class="header-modal">
            <hr class="hr">
        </div>
        <div class="body-modal">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis laboriosam aliquam ipsam explicabo perferendis doloribus magni, quia neque temporibus eum quae velit deleniti? Reprehenderit velit aliquam nihil laborum, maxime ipsa?
        </div>
        <div class="footer-modal">
        </div>
    </div>
</div>