.btn-categories {
    width: 300px;
    height: 42px;
    text-align: center;
    font-family: "Works Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #3366CC 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    margin-bottom: 1.5rem !important;
}

@media screen and (max-width: 768px) {
    .btn-categories {
        width: 100%;
        font-size: 15px;
    }
}

.btn-categories:hover {
    background: #004884;
    border-radius: 24px;
    opacity: 1;
}

::ng-deep textarea {
    font-family: 'Montserrat-Regular' !important;
}

::ng-deep .govco-icon-check-cn::before {
    content: '\e961';
}

::ng-deep .govco-icon-x-cn::before {
    content: '\e908';
}
