.acordeon-pwa-govco {
	width: 100%;

	.card {
		width: 100%;
		border: 2px solid #E8EFFC;
		border-radius: 4px;
		background-color: #FFFFFF;
		margin-bottom: 0.5rem;

		.card-header {
			background-color: #FFFFFF;
			border: 0;
			padding: 0;

			button {
				padding: 1rem;
				border: 0;
				text-decoration: none;
				display: flex;
				justify-content: space-between;

				a {
					color: #3366CC;
                    outline-color: #000000;
					font-family: 'WorkSans-Medium';
					font-size: 1rem;
					margin: 0;
					padding: 0;
					line-height: 1.3rem;
					text-decoration: underline;
				}

				.caja-icono-24-pwa {
					margin-left: 1rem;

					.icono-expand-more {
						content: url(../../../../../assets/icons-fonts/expand_more.svg);
						width: 2rem;
						height: 2rem;
						transition: 0.4s linear transform;
					}
				}
			}

			button:focus {
				box-shadow: none;
			}
		}

		.card-body {
			padding: 0;

			.descripcion {
				padding-bottom: 1rem;

				p {
					color: #000000;
					font-family: 'WorkSans-Medium';
					font-size: .875rem;
					margin: 0;
					line-height: 1.33122rem;

					span {
						color: #000000;
						font-family: 'WorkSans-Regular';
						font-size: .875rem;
					}
				}

				a {
					color: #3366CC;
                    outline-color: #000000;
					font-family: 'WorkSans-Medium';
					font-size: .875rem;
					text-decoration: underline;
				}
			}
		}
	}

	.card:has(button:focus) {
		border: 2px solid #000000;
		border-radius: 4px;
	}

	.card.active {
		border: 2px solid #E8EFFC;
		background-color: #FFFFFF !important;

		.card-header button {
			p {
				font-family: 'WorkSans-Medium';
			}

			.icono-expand-more {
				display: inline;
				transform: rotate(-180deg);
			}
		}
	}
}
