<div class="accordion acordeon-pwa-govco" id="acordeonEntidades">
    <div class="card" *ngFor="let item of items; index as i;" [class.active]="item.active">
        <div class="card-header" id="headingOne">
            <button (click)="activarItem(i)" class="btn btn-link btn-block text-left" type="button"
                data-toggle="collapse" [attr.data-target]="'#collapse-entidades' + i" aria-expanded="false"
                [attr.aria-controls]="'collapse-entidades' + i">
                <a *ngIf="href" (click)="validarUrlService.validarUrl(item.linkEntidad, '_blank')" class="line-clamp-3"
                    tabindex="0" [attr.aria-label]="'Abrir pagina ' + item.titulo">{{item.titulo}}</a>
                <a *ngIf="!href" routerLink="{{item.linkEntidad}}" class="line-clamp-3" tabindex="0"
                    [attr.aria-label]="'Abrir pagina ' + item.titulo">{{item.titulo}}</a>
                <div class="caja-icono-24-pwa">
                    <span class="icono-expand-more" type="image"
                        alt="Expandir acordeon para ver más información"></span>
                </div>
            </button>
        </div>
        <div [id]="'collapse-entidades' + i" class="collapse" [attr.aria-labelledby]="'heading' + i"
            data-parent="#acordeonEntidades">
            <div class="card-body">
                <div class="descripcion contenido-pwa-govco">
                    <p>Tipo de orden:
                        <span *ngIf="item.orden">{{item.orden[0] | uppercase}}{{item.orden | lowercase | slice: 1 : item.orden.length}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{cantidadResultados}}
{{contadorResultados}}
<app-boton [inverted]="false" *ngIf="cantidadResultados > 5 && contadorResultados < cantidadResultados" (click)="VerMasResultados()">Ver más</app-boton>
<app-boton [inverted]="false" *ngIf="cantidadResultados > 5 && contadorResultados >= cantidadResultados" (click)="VerMenosResultados()">Ver menos</app-boton>
