.govco-pwa-ficha-subtitulo {
	width: 100%;
	height: auto;

	.texto-entidad {
		p {
			font-family: "Montserrat-Medium";
			font-size: 14px;
			color: #000000;
			margin: 0;

			span {
				font-family: "WorkSans-Regular";
			}
		}
	}
}