<div id="tramites-servicios">
    <div class="headboard">
        <h2 class="title">Trámites y Servicios destacados</h2>
        <p class="launch">Realiza trámites en línea y aprende cómo realizar trámites presenciales</p>
    </div>
    <ng-template ngFor let-usados [ngForOf]="tramites" let-i="index">
        <div class="row tys-element no-gutters"  *ngIf="i<4">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <h3 class="title">
                    <a href="/ficha-tramites-y-servicios/T{{usados.TramiteNumero}}">{{ usados.NombreTramite }}</a>
                </h3>
                <span class="entity">Entidad: {{ usados.Entidad }}</span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3"> 
                <div class="info channel">
                    <div *ngIf="usados.Linea == true; then online else toface"></div>
                    <ng-template #online><span class="online"><span class="govco-icon govco-icon-check-cn"></span>Trámite en línea</span></ng-template>
                    <ng-template #toface><span class="toface"><span class="govco-icon govco-icon-pin-cn"></span>Trámite presencial</span></ng-template>
                </div>
                <div class="info cost">
                    <div *ngIf="usados.Costo == true; then price else free"></div>
                    <ng-template #free><span class="free"><span class="govco-icon govco-icon-peso-col-cn"></span>Trámite sin costo</span></ng-template>
                    <ng-template #price><span class="price"><span class="govco-icon govco-icon-peso-col-cn"></span>Trámite con costo</span></ng-template>
                </div>
                <div class="info time" *ngIf="usados.TiempoObtencion != '' && usados.TiempoObtencion != null && usados.TiempoObtencion != 'OBTENCION_INMEDIATA'">
                    <span><span class="govco-icon govco-icon-clock"></span>Duración: {{ usados.TiempoObtencion }} aprox.</span>
                </div>
                <div class="info time" *ngIf="usados.TiempoObtencion == 'OBTENCION_INMEDIATA'">
                    <span><span class="govco-icon govco-icon-clock"></span>Duración: Obtención inmediata</span>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="see-more row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <a href="/ficha-tramites-y-servicios/" class="btn-standar btn-home">Ver más trámites</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <a href="/consulta-certificados/" class="btn-inverse btn-home">Consulta certificados</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span class="disclamer">Consulta los certificados que tienes disponible para descarga directa, usando el número de documento correspondiente.</span>
        </div>
    </div>
</div>
