<section class="govco-pwa-footer-content">
    <footer class="footer-pwa-govco">

        <h1 class="titulo-footer-pwa-govco">Portal Único</h1>
        <h1 class="titulo-footer-pwa-govco">del Estado Colombiano</h1>

        <section class="info-general-pwa-govco">
            <ul class="lista-info-general-pwa-govco">
                <li class="item-info-general-pwa-govco">{{infGeneral?.textoDireccion}}
                    <p class="contenido-item-info-general-pwa-govco">{{infGeneral?.direccion}}</p>
                </li>
                <li class="item-info-general-pwa-govco">{{infGeneral?.tituloHorario}}
                    <p class="contenido-item-info-general-pwa-govco">- {{infGeneral?.horarioPresencial}}</p>
                    <p class="contenido-item-info-general-pwa-govco">- {{infGeneral?.horarioVirtual}}</p>
                </li>
                <li class="item-info-general-pwa-govco">{{infGeneral?.textoCodigoPostal}}
                    <p class="contenido-item-info-general-pwa-govco">{{infGeneral?.codigoPostal}}</p>
                </li>
            </ul>
        </section>

        <div class="linea-horizontal-pwa-govco"></div>

        <section class="accordion-pwa-govco" id="accordionFooterPwa">

            <div class="item-accordion-pwa-govco">
                <h2 class="accordion-footer-pwa-govco">
                    <button class="button-accordion-pwa-govco" type="button" id="accordionPanelOne"
                        [ngClass]="{'button-accordion-margin-pwa-govco': marginAccordionOne}" data-bs-toggle="collapse"
                        data-bs-target="#accordionPanels-collapseOne" aria-expanded="false"
                        aria-controls="accordionPanels-collapseOne">
                        <div class="icono-titulo-inf-contacto-pwa-govco">
                            <span class="caja-icono-pwa-govco">
                                <span class="iconos-accordion-pwa-govco material-symbols-outlined">
                                    call
                                </span>
                            </span>
                            <span class="text-button-accordion-pwa-govco">{{infContacto?.titulo}}</span>
                        </div>
                        <span class="caja-icono-pwa-govco">
                            <span class="expandmore-accordion-pwa-govco material-symbols-outlined"
                                [ngClass]="{'open-expand-more-pwa-govco': marginAccordionOne == true}">
                                expand_more</span>
                        </span>
                    </button>
                </h2>
                <div id="accordionPanels-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="accordionPanelOne" data-bs-parent="#accordionFooterPwa">
                    <div class="body-accordion-pwa-govco">
                        <ul class="lista-info-contacto-pwa-govco">
                            <li class="item-info-contacto-pwa-govco">{{infContacto?.tituloTelefono}}
                                <p class="contenido-item-info-contacto-pwa-govco">- {{tituloTelefonoNacional}}:</p>
                                <a href="tel: {{telefonoNacional}}"
                                    class="contenido-item-info-contacto-pwa-govco">{{telefonoNacional}}</a>
                                <p class="contenido-item-info-contacto-pwa-govco">- {{tituloTelefonoLocal}}:</p>
                                <a href="tel: {{telefonoLocal}}"
                                    class="contenido-item-info-contacto-pwa-govco">{{telefonoLocal}}</a>
                                <p class="contenido-item-info-contacto-pwa-govco">- {{tituloLineaAnticorrupcion}}:</p>
                                <a href="tel: {{lineaAnticorrupcion}}"
                                    class="contenido-item-info-contacto-pwa-govco">{{lineaAnticorrupcion}}</a>
                            </li>
                            <li class="item-info-contacto-pwa-govco">{{infContacto?.correoTexto}}
                                <a href="mailto: {{infContacto?.correoInstitucional}}"
                                    class="contenido-item-correo-contacto-pwa-govco">{{infContacto?.correoInstitucional}}</a>
                            </li>
                        </ul>
                        <div class="contenido-info-contacto-pwa-govco">
                            <a href="{{infContacto?.soLlamadaUrlDestino}}"
                                class="contenido-contacto-pwa-govco">{{infContacto?.soLlamadaTexto}}</a>
                            <a href="{{infContacto?.llamadaWebUrlDestino}}"
                                class="contenido-contacto-pwa-govco">{{infContacto?.llamadaWebTexto}}</a>
                            <a href="{{infContacto?.hablemosUrlDestino}}"
                                class="contenido-contacto-pwa-govco">{{infContacto?.hablemosTexto}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-accordion-pwa-govco">
                <h2 class="accordion-footer-pwa-govco">
                    <button class="button-accordion-pwa-govco collapsed" id="accordionPanelTwo" type="button"
                        [ngClass]="{'button-accordion-margin-pwa-govco': marginAccordionTwo}" data-bs-toggle="collapse"
                        data-bs-target="#accordionPanels-collapseTwo" aria-expanded="false"
                        aria-controls="accordionPanels-collapseTwo">
                        <div class="icono-titulo-inf-contacto-pwa-govco">
                            <span class="caja-icono-pwa-govco">
                                <span class="iconos-accordion-pwa-govco material-symbols-outlined">
                                    info
                                </span>
                            </span>
                            <span class="text-button-accordion-pwa-govco">{{infAcercaDelSitio?.titulo}}</span>
                        </div>
                        <span class="caja-icono-pwa-govco">
                            <span class="expandmore-accordion-pwa-govco material-symbols-outlined"
                                [ngClass]="{'open-expand-more-pwa-govco': marginAccordionTwo}">
                                expand_more</span>
                        </span>
                    </button>
                </h2>
                <div id="accordionPanels-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="accordionPanelTwo" data-bs-parent="#accordionFooterPwa">
                    <div class="body-accordion-pwa-govco">
                        <div class="contenido-info-contacto-pwa-govco">
                            <a href="{{infAcercaDelSitio?.mapaSitioUrlDestino}}"
                                class="contenido-contacto-pwa-govco">{{infAcercaDelSitio?.mapaSitioTexto}}</a>
                            <a href="{{infAcercaDelSitio?.poPrivacidadUrlDestino}}"
                                class="contenido-contacto-pwa-govco">{{infAcercaDelSitio?.poPrivacidadTexto}}</a>
                            <a href="{{infAcercaDelSitio?.poAutorUrlDestino}}"
                                class="contenido-contacto-pwa-govco">{{infAcercaDelSitio?.poAutorTexto}}</a>
                            <a href="{{infAcercaDelSitio?.terCondicionesUrlDestino}}"
                                class="contenido-contacto-pwa-govco">{{infAcercaDelSitio?.terCondicionesTexto}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-accordion-pwa-govco">
                <h2 class="accordion-footer-pwa-govco">
                    <button class="button-accordion-pwa-govco collapsed" id="accordionPanelThree" type="button"
                        [ngClass]="{'button-accordion-margin-pwa-govco': marginAccordionThree}"
                        data-bs-toggle="collapse" data-bs-target="#accordionPanels-collapseThree" aria-expanded="false"
                        aria-controls="accordionPanels-collapseThree">
                        <div class="icono-titulo-inf-contacto-pwa-govco">
                            <span class="caja-icono-pwa-govco">
                                <span
                                    class="icono-accesibilidad-accordion-pwa-govco iconos-accordion-pwa-govco material-symbols-outlined">settings_accessibility</span>
                            </span>
                            <span
                                class="text-button-accordion-pwa-govco">{{infAcercaDelSitio?.ayudaAccesibilidad}}</span>
                        </div>
                        <span class="caja-icono-pwa-govco">
                            <span class="expandmore-accordion-pwa-govco material-symbols-outlined"
                                [ngClass]="{'open-expand-more-pwa-govco': marginAccordionThree}">
                                expand_more</span>
                        </span>
                    </button>
                </h2>
                <div id="accordionPanels-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="accordionPanelThree" data-bs-parent="#accordionFooterPwa">
                    <div class="body-accordion-pwa-govco">
                        <a href="{{infAcercaDelSitio?.centroRelevoUrlDestino}}"
                            class="contenido-contacto-pwa-govco">{{infAcercaDelSitio?.centroRelevoTexto}}</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="redes-sociales-pwa-govco">
            <h2 class="texto-redes-sociales-pwa-govco">Síguenos en:</h2>
            <a href="{{infAcercaDelSitio?.twitterUrlDestino}}" class="redireccion-redes-sociales-pwa-govco">
                <button class="button-redes-sociales-pwa-govco">
                    <span style="background: url(../../../../assets/icons-redes-sociales/twitter-square.svg) no-repeat;"
                        class="icono-redes-sociales-button-pwa-govco"></span>
                    <p class="texto-redes-sociales-button-pwa-govco">@gobdigitalco</p>
                </button>
            </a>
            <a href="fb://page/80681696914" class="redireccion-redes-sociales-pwa-govco">
                <button class="button-redes-sociales-pwa-govco">
                    <span
                        style="background: url(../../../../assets/icons-redes-sociales/facebook-square-01.svg) no-repeat;"
                        class="icono-redes-sociales-button-pwa-govco"></span>
                    <p class="texto-redes-sociales-button-pwa-govco">Gobierno Digital</p>
                </button>
            </a>
        </section>
    </footer>

    <section class="barra-inferior-footer-pwa-govco">
        <a routerLink="/" (click)="desactivarItem()"><img src="../../../assets/logos/transversales/GOVCO.svg"
                alt="logo de gov.co"></a>
        <div class="linea-barra-inferior-footer-pwa-govco"></div>
        <a href="https://www.colombia.co/"><img class="caja-logo-marca-pais"
                src="../../../../assets/logos/transversales/Marca Pais.svg" alt="logo marca pais"></a>
    </section>

</section>