<div class="footer-pwa-govco">
    <span class="titulo-footer-pwa-govco">Portal Único <br>del Estado Colombiano</span>
    <section class="datos-ubicacion-pwa-govco">
        <ul class="lista-datos-ubicacion-pwa-govco">
            <li class="item-datos-ubicacion-pwa-govco">
                Dirección <br>
                <p class="contenido-item-ubicacion-pwa-govco">Edificio Murillo Toro cra 8 entre calles 12A y 12B Bogotá, Colombia.</p>
            </li>
            <li class="item-datos-ubicacion-pwa-govco">
                Horarios de Atención: <br>
                <p class="contenido-item-ubicacion-pwa-govco">- Atención Presencial: Martes, Miércoles y Viernes de 9:00 am a 3:00 pm jornada continua.</p>
                <p class="contenido-item-ubicacion-pwa-govco">- Atención Canales Virtuales: Lunes a Viernes de 8:30 am a 4:30 pm.</p> 
            </li>
            <li class="item-datos-ubicacion-pwa-govco">
                Código Postal:
                <p class="contenido-item-ubicacion-pwa-govco">111711</p>
            </li>
        </ul>
    </section>
    <div class="linea-vertical-pwa-govco"></div>
    <section class="acordeon-footer-pwa-govco">
        hola mundo 2
    </section>
    <section>
        hola mundo 3
    </section>
</div>