<app-buscador-card-acordeon [tramiteTitle]="titleAcordeon">
    <div class="govco-pwa-ficha-subtitulo">
        <div class="texto-entidad">
            <p>Entidad responsable: <br>
                <span [attr.aria-label]="'Entidad responsable' + data?.Entidad">{{
                    data?.Entidad}}</span>
            </p>
        </div>
        <div class="separador"></div>
    </div>
    <div class="container-detalle">
        <div class="contenido-detalle" (click)="showBotonLeer()">
            <p class="ficha-descripcion" tabindex="0" [attr.aria-label]="contenidoLeido" (focus)="showExpended()">
                {{contenidoDescripcion}}
                <br>
            </p>
            <a *ngIf="caracteresCategoria" class="contenido-expandido">{{nombreExpanded}}</a>
        </div>
    </div>
</app-buscador-card-acordeon>