.buscador-sedes {
    position: relative;
    bottom: 2em;
    .govco-icon-plus .govco-icon-close {
        color: #36c !important;
    }
    .sobra-buscador {
        box-shadow: none !important;
    }
}
.text-gris {
    color: #4b4b4b;
    font-size: .9rem;
    font-family: "Work Sans", sans-serif;
}
#paginador {
    padding: 0.2em 0.5em;
}
.titulo-contendor {
    color: #004884;
    font-weight: 600;
    font-size: 0.9rem;
}
