.govco-pwa-chip{
  background-color: #E6EFFD;
  color: #004884;
  font-family: 'WorkSans-Medium';
  padding-right: 4px !important;
  min-height: 24px;
  text-overflow: ellipsis;
  max-width: 228px;
}

.govco-pwa-chip-icon{
  color: #004884 !important;
  opacity: 1 !important;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  }
