<div class="container-detalle">
    <div class="contenido-detalle">
        <p class="ficha-descripcion">Obtener certificación de programa(s) académico(s) de instituciones de educación
            superior. Obtener certificación
            de programa(s) académico(s) de instituciones de educación superior.
            <br>
        </p>
        <a href="#" class="contenido-expandido">Leer Mas...</a>
    </div>
    <div class="container-boton">
        <app-boton (click)="goToLink(urlBoton)">{{textoBoton}}</app-boton>
    </div>
</div>