.puntos-atencion-govco-pwa {
    background-color: #E8EFFC;
}

.puntos-atencion-govco-pwa .barra-superior {
    height: 3.5rem;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.puntos-atencion-govco-pwa .seccion-puntos-atencion {
    height: 100%;
}

.puntos-atencion-govco-pwa .caja-icono-48-pwa img{
    height: 2.063rem;
    width: 2.063rem;
}

.puntos-atencion-govco-pwa .seccion-puntos-atencion h1 {
    margin: 16px 0 0 0;
    font-family: 'Montserrat-SemiBold';
    color:#004884;
    font-size: 20px;
}