<div class="puntos-atencion-govco-pwa">
    <div class="contenido-pwa-govco barra-superior ">
        <div class="caja-icono-48-pwa" (click)="cerrarPuntoAtencion()">
            <img src="../../../../assets/icons-fonts/icono_cerrar_rojo.svg" alt="Cerrar ventana puntos de atención">
        </div>
    </div>
    <div class="contenido-pwa-govco seccion-puntos-atencion">
        <h1>Convalidación de títulos de estudios de posgrado obtenidos en el exterior</h1>
        <h2>Puntos de Atención</h2>
        <div class="linea-horizontal-2-pwa-govco"></div>
        <input class="buscador icono-buscador"
            style="background-image: url(../../../../assets/icons-fonts/search_FILL0_wght500_GRAD0_opsz20.svg)"
            type="text" placeholder="Buscar">
        <section class="seccion-acordeon">
            <div class="columa-informativa">
                <h3>Punto</h3>
                <h3>Ver Mapa</h3>
            </div>
            <div class="accordion acordeon-pwa-govco" id="ejemploAcordeon">
                <div class="card" *ngFor="let item of items; let i = index;" [class.active]="item.active">
                    <div class="card-header" id="headingOne">
                        <!-- <a class="mb-0"> -->
                            <button (click)="activarItem(i)" class="btn btn-link btn-block text-left" type="button"
                                data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="false"
                                [attr.aria-controls]="'collapse' + i">
                                {{item.titulo}}
                                <div class="caja-icono-48-pwa">
                                    <img src="../../../../assets/icons-fonts/explore_FILL0_wght500_GRAD0_opsz20.svg"
                                        alt="Abrir enlace a Google Maps o Navegador">
                                </div>
                                <!-- <div class="caja-icono-48-pwa">
                                    <img src="../../../../assets/icons-fonts/expand_more.svg"
                                        alt="Expandir acordeon para ver más información">
                                </div> -->
                                
                                <span class="material-symbols-outlined">
                                    expand_more
                                </span>
                            </button>
                        <!-- </a> -->
                    </div>
                    <div [id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'heading' + i"
                        data-parent="#ejemploAcordeon">
                        <div class="card-body">
                            {{item.descripcion}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-boton>Ver más</app-boton>
    </div>
</div>