<div class="puntos-atencion-govco-pwa">
    <div class="contenido-pwa-govco barra-superior">
        <button class="caja-icono-48-pwa botonImg close" (click)="cerrarPuntoAtencion()"></button>
            <img src="../../../../assets/icons-fonts/icono_cerrar_3366CC.svg" alt="Cerrar ventana puntos de atención">
    </div>
    <div #seccionPuntos class="contenido-pwa-govco seccion-puntos-atencion">
        <h1 tabindex="0">Convalidación de títulos de estudios de posgrado obtenidos en el exterior</h1>
        <h2 tabindex="0">Puntos de Atención</h2>
        <div class="linea-horizontal-2-pwa-govco"></div>
        <section class="seccion-buscador">
            <input #inputBuscador class="buscador" type="text" placeholder="Buscar" name="search">
            <div class="grupo-iconos-buscador">
                <a class="caja-icono-24-pwa boton-backspace" tabindex="0">
                    <span class="icono-backspace" type="image" (click)="borrarContenido()"
                        alt="Borrar contenido de la barra de busqueda"></span>
                </a>
                <div class="linea-vertical"></div>
                <a class="caja-icono-36-pwa" tabindex="0">
                    <span class="icono-search" type="image" alt="Realizar busqueda"></span>
                </a>
            </div>
        </section>
        <section class="seccion-acordeon">
            <div class="columa-informativa">
                <h3>Información punto</h3>
            </div>
            <div class="accordion acordeon-pwa-govco" id="ejemploAcordeon">
                <div class="card" *ngFor="let item of items; index as i;" [class.active]="item.active">
                    <div class="card-header" id="headingOne">
                        <button (click)="activarItem(i)" class="btn btn-link btn-block text-left" type="button"
                            data-toggle="collapse" [attr.data-target]="'#collapse-puntos' + i" aria-expanded="false"
                            [attr.aria-controls]="'collapse-puntos' + i">
                            <p tabindex="0">{{item.titulo}}</p>
                            <div class="grupo-iconos-acordeon">
                                <a (click)="printCoordenadas(item.latitud.replace(',','.'), item.longitud.replace(',','.'), item.direccion)"
                                    class=" caja-icono-48-pwa mr-2">
                                    <img src="../../../../assets/icons-fonts/location_on.svg"
                                        alt="Abrir enlace a Google Maps o Navegador">
                                </a>
                                <span class="caja-icono-48-pwa" tabindex="0"
                                    alt="Expandir acordeon para ver más información">
                                    <img class="icono-expand-more" src="../../../../assets/icons-fonts/expand_more.svg"
                                        alt="Expandir acordeon para ver más información">
                                </span>
                            </div>
                        </button>
                    </div>
                    <div [id]="'collapse-puntos' + i" class="collapse" [attr.aria-labelledby]="'heading' + i"
                        data-parent="#ejemploAcordeon">
                        <div class="card-body">
                            <h4 tabindex="0">Departamento/Municipio</h4>
                            <p class="descripcion" tabindex="0">{{item.departamento}}/{{item.municipio}}</p>
                            <h4 tabindex="0">Dirección</h4>
                            <p class="descripcion" tabindex="0">{{item.direccion}}</p>
                            <h4 tabindex="0">Horario</h4>
                            <p class="descripcion" tabindex="0">{{item.horario}}</p>
                            <h4 tabindex="0">Teléfono</h4>
                            <a href="tel: {{item.telefono}}" class="descripcion" [innerHTML]="item.telefono"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-boton *ngIf="!(items.length == magnitudItemsAux)"
            (click)="itemsFiltrados(contadorVerMas = contadorVerMas + 1, busqueda)">Ver más</app-boton>
        <app-boton *ngIf="items.length == magnitudItemsAux && !(numeroAcordeonPantalla > magnitudItemsAux) "
            (click)="verMenos()">Ver menos</app-boton>
    </div>
</div>