<div class="puntos-atencion-govco-pwa">
    <div class="contenido-pwa-govco barra-superior ">
        <div class="caja-icono-48-pwa" (click)="cerrarPuntoAtencion()">
            <img src="../../../../assets/icons-fonts/icono_cerrar_rojo.svg" alt="Cerrar ventana puntos de atención">
        </div>
    </div>
    <div class="contenido-pwa-govco seccion-puntos-atencion">
        <h1>Convalidación de títulos de estudios de posgrado obtenidos en el exterior</h1>
        <h2>Puntos de Atención</h2>
    </div>
</div>