.contenedor-seccion-uno{
  background: #E6EFFD ;
  box-shadow: 0px 3px 13px #00488459;
  position: relative;
  z-index: 1;
  padding-left: 15px;
  padding-right: 15px;

  .container {
    padding-left: 15px!important;
    padding-right: 15px!important;
  }

  .titulo-entidades{
    margin-bottom: 30px;
    h1{
      color: #004884;
      font: normal normal 600 24px/36px Montserrat;
    }
  }

  .contenedor-menu-entidades{
    justify-content: space-between;
    --bs-gutter-x: 0;
    .items-menu{
      display: flex;
      align-items: center;
      height: 60px;
      border: 1px solid #E6EFFD;
      border-radius: 5px;
      background: #FFFFFF;
      min-width: 255px;
      max-width: 350px;
      margin-left: 0px;
      margin-right: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;

      .contenedor-icono{
        width: 60px;
        position: relative;
        img{
          margin: 10px;
          -webkit-filter: invert(32%) sepia(41%) saturate(2143%) hue-rotate(198deg) brightness(97%) contrast(90%);
          filter: invert(32%) sepia(41%) saturate(2143%) hue-rotate(198deg) brightness(97%) contrast(90%);
        }
      }
      .texto-items-menu{
        text-decoration: underline;
        text-decoration-color: #004884;
        margin: 10px;
        position: relative;
        span{
          font: normal normal 500 14px/22px Work Sans;
          color: #004884;
          // width: auto;
          min-width: 255px;
          max-width: 360px;
        }
      }
    }

    .items-menu:hover{
      box-shadow: 0px 4px 0px #3366CC24;
      border: 1px solid #3366CC;
    }
  }

  .contenedor-menu-entidades-collapse{
    justify-content: center;
    .items-menu{
      display: flex;
      align-items: center;
      height: 60px;
      border: 1px solid #E6EFFD;
      border-radius: 5px;
      background: #FFFFFF;
      padding-right: 10px;
      padding-left: 10px;
      width: auto;
      margin: 5px;
      .contenedor-icono{
        img{
          -webkit-filter: invert(32%) sepia(41%) saturate(2143%) hue-rotate(198deg) brightness(97%) contrast(90%);
          filter: invert(32%) sepia(41%) saturate(2143%) hue-rotate(198deg) brightness(97%) contrast(90%);
        }
      }
      .texto-items-menu{
        text-decoration: underline;
        transition: all .5s;
        width: 0px;
        overflow:hidden;
        display:-webkit-box;
        text-overflow:ellipsis;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        span{
          font: normal normal 500 14px/22px Work Sans;
          color: #004884;
          transition: opacity .5s;
          opacity: 0;
        }
      }
    }

    .items-menu:hover{
      box-shadow: 0px 4px 0px #3366CC24;
      border: 1px solid #3366CC;

      .texto-items-menu{
        transition: all .5s;
        width: 200px;
        margin: 10px;
        span{
          transition: opacity 1s;
          opacity: 1;
        }
      }
    }

    .items-menu.activo{
      box-shadow: 0px 4px 0px #3366CC24;
      border: 1px solid #3366CC;
      background: #004884;
      .contenedor-icono{
        img{
          -webkit-filter: invert(100%) sepia(0%) saturate(34%) hue-rotate(86deg) brightness(109%) contrast(112%);
          filter: invert(100%) sepia(0%) saturate(34%) hue-rotate(86deg) brightness(109%) contrast(112%);
        }
      }
      .texto-items-menu{
        transition: all .5s;
        width: 200px;
        margin: 10px;
        span{
          text-decoration: underline;
          color: #ffffff;
          transition: opacity 1s;
          opacity: 1;
        }
      }
    }

  }
}

.contenedor-seccion-dos{
  .contenedor-titulo-entidad{
    display: flex;
    // justify-content: center;
    align-items: center;
    .icono{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      min-width: 64px;
      height: 64px;
      background: #3366CC;
      img{
        -webkit-filter: invert(100%) sepia(0%) saturate(34%) hue-rotate(86deg) brightness(109%) contrast(112%);
        filter: invert(100%) sepia(0%) saturate(34%) hue-rotate(86deg) brightness(109%) contrast(112%);
      }
    }
    .titulo{
      h1{
        font: normal normal 600 24px/48px Montserrat;
        letter-spacing: 0px;
        color: #004884;
        margin-left: 15px;
      }
    }
  }

  .contenedor-info-entidad{
    display: flex;
    height: 328px;
    .descripcion-entidad{
      background: #F6F8F9;
      padding: 20px;
      height: 100%;
      overflow: hidden;
      // overflow-y: auto;

      .descripcion-seccion-entidades {
        font: normal normal 400 1rem/1.5rem Work Sans;
        color: #4B4B4B;
      }
    }
    .contenedor-enlace-entidades{
      background: #E6EFFD;
      padding:20px;
      .enlace-entidades{
        text-decoration: underline;
        font: normal normal 500 15px/9px Work Sans;
        color: #3366CC;
        i{
          color: #3366CC;
          height: 20px;
          width: 20px;
          font-size: 20px;
        }
      }
    }
    .contenedor-imagen-entidad{
      .imagen{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}

.contenedor-seccion-tres{
  background: #F6F8F9;
  margin-top: 30px;
  padding-bottom: 60px;
  h1{
    font: normal normal 600 24px/48px Montserrat;
    color: #004884;
  }
  .contenedor-hacer-por-ti{
    display: flex;
    flex-flow: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 3px 16px #0048844D;
    border: 2px solid #E6EFFD;
    border-radius: 10px;
    height: 356px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    .icono{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 86px;
      width: 86px;
      background: #004884;
      border-radius: 50%;
      margin-bottom: 20px;
      img{
        -webkit-filter: invert(100%) sepia(0%) saturate(34%) hue-rotate(86deg) brightness(109%) contrast(112%);
        filter: invert(100%) sepia(0%) saturate(34%) hue-rotate(86deg) brightness(109%) contrast(112%);
      }
    }
    p{
      text-align: center;
      font: normal normal 400 16px/24px Work Sans;
      color: #4B4B4B;
      padding: 10px;
    }
  }
}

.contenedor-seccion-cuatro{
  position: fixed;
  bottom: 72px;
  z-index: 1;
  width: 100%;
  background: #000;
  justify-content: center;
  align-items: center;

  .banner{
    height: 58px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    .contenedor-texto{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      .icono{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
        margin-right: 10px;
        border-radius: 50%;
        background: #ffffff;
        i{
          -webkit-filter: invert(0%) sepia(0%) saturate(16%) hue-rotate(309deg) brightness(93%) contrast(107%);
          filter: invert(0%) sepia(0%) saturate(16%) hue-rotate(309deg) brightness(93%) contrast(107%);
        }

      }
      .texto{
        font: normal normal 500 16px/27px Montserrat;
        color: #FFFFFF;
        .enlace{
          text-decoration: underline;
          font: normal normal 600 16px/27px Montserrat;
          color: #FFFFFF;
        }
      }
    }
    .cerrar{
      display: flex;
      justify-content: flex-end;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 400;
      img{
        margin-top: 10px;
        -webkit-filter: invert(50%) sepia(0%) saturate(59%) hue-rotate(86deg) brightness(200%) contrast(112%);
        filter: invert(50%) sepia(0%) saturate(59%) hue-rotate(86deg) brightness(200%) contrast(112%);
      }
    }
  }
}

@media screen and (max-width: 992px){

  .contenedor-seccion-uno{
    .titulo-entidades{
      h1{
        font: normal normal 600 24px/36px Montserrat;
      }
    }
    .contenedor-menu-entidades{
      a{
        // display: block;
        width: 100%;
      }
      .items-menu{
        height: auto;
        max-width: 100%;
      }
    }
  }

  .contenedor-seccion-dos{
    .contenedor-titulo-entidad{
      .titulo{
        h1{
          font: normal normal 600 18px/22px Montserrat;
        }
      }
    }
    .contenedor-info-entidad{
      height: auto;

    }
  }

  .contenedor-seccion-tres{
    h1{
      font: normal normal 600 24px/34px Montserrat;
    }
  }

  .contenedor-seccion-cuatro{
    .banner{
      height: auto;
      padding: 15px;
      .contenedor-texto{
        display: flex;
        align-items: flex-start;
      }
      .cerrar{
        align-items: flex-start;
        img{
          margin-top: 0px;
        }
      }
    }
  }
}
