<nav class="breadcrumb breadcrumb-dark">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">
                <span class="breadcrumb-home">Inicio</span>
            </a>
        </li>
        <li *ngFor="let item of breadCrumb; let j= index"
            [class]="breadCrumb.length-1 === j ? 'breadcrumb-item active':'breadcrumb-item'">
            <div class="breadcrumb">
                <span class="govco-icon govco-icon-shortr-arrow mx-1"></span>
                <span class="breadcrumb-text item-link">{{ item.name }}</span>
            </div>
        </li>
    </ol>
</nav>
