<div class="download-box">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="download-box-container">
                    <div class="col-md-9 col-sm-12 download-box-info">
                        <img class="download-box-info_icon" src="assets/images/tramites-servicios/DESCARGAR_CERTIFICADOS.svg" />
                        <div class="download-box-info_text">
                            <h3>Certificados para descarga</h3>
                            <p>Consulta los certificados que tienes disponible para descarga directa usando el número de documento correspondiente.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="p-2">
                            <a href="/consulta-certificados/" class="btn btn-round  btn-download">CONSULTAR CERTIFICADOS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
