<!-- <section class="govco-pwa-tramites-content">
  <div class="pwa-govco-back-arrow-header">
    <div class="caja-pwa-govco-back-arrow">
      <a routerLink="{{anteriorUrl}}" (click)="backUrl()">
        <span class="material-symbols-outlined pwa-govco-back-arrow">arrow_back</span>
      </a>
    </div>

  </div>
  <app-aviso-de-construccion></app-aviso-de-construccion>
</section> -->

<div class="banner">
  <div class="container">
    <h1>Trámites y servicios</h1>
    <p>
      Encuentra la información necesaria para realizar tus trámites con todas las
      entidades del Estado.
    </p>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <!-- <app-servicios-y-tramites-buscador> </app-servicios-y-tramites-buscador> -->
  </div>
</div>


