<div class="banner">
  <div class="container container-bread-crumb">
    <app-bread-crumb class="bread-crumb-main"></app-bread-crumb>
  </div>
  <div class="container pt-3">
    <h1>Trámites y servicios</h1>
    <p>
      Encuentra la información necesaria para realizar tus trámites con todas las
      entidades del Estado.
    </p>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <!-- Se inhabilita el componente debido a que las
    categorias se cambiaran en el 2023 -->
  </div>
</div>
<app-servicios-y-tramites-list> </app-servicios-y-tramites-list>
<!-- Se inhabilita el componente debido a que las
  categorias se cambiaran en el 2023 -->
<app-banner-ciiu></app-banner-ciiu>
<app-download></app-download>
<app-ventanillas></app-ventanillas>
