<section #resultados class="contenido-buscador-pwa">
    <app-barra-filtros *ngIf="dataResultado" [totalResultados]="dataResultado.length"></app-barra-filtros>
    <div class="contenido-resultado contenido-pwa-govco">
        <app-buscador-aviso *ngIf="cantidadResultados < 1"></app-buscador-aviso>
        <app-buscador-card-entidades *ngIf="seccion == 'entidad' && dataResultado" [data]="dataResultado">
        </app-buscador-card-entidades>
        <app-buscador-card-noticias *ngIf="seccion == 'noticia' && dataResultado" [data]="dataResultado">
        </app-buscador-card-noticias>
        <app-buscador-card-ejercicios-participacion *ngIf="seccion == 'participacion' && dataResultado"
            [data]="dataResultado"></app-buscador-card-ejercicios-participacion>
        <app-buscador-card-ventanilla *ngIf="seccion == 'tramiteventanilla'&& dataResultado" [data]="dataResultado">
        </app-buscador-card-ventanilla>
        <app-buscador-card-portales *ngIf="seccion == 'portaltransversal' && dataResultado" [data]="dataResultado">
        </app-buscador-card-portales>
        <app-buscador-card-tramites *ngIf="seccion == 'tramite' && dataResultado" [data]="dataResultado">
        </app-buscador-card-tramites>
    </div>
</section>
<app-footer></app-footer>