.container-verificacion {
    border: 2px solid #FFAB00;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 16px;
    color: #000000;
    margin: 12px 16px 12px 16px;
    h4 {
        font-family: 'Montserrat-Medium';
        font-size: 14px;
    }
    p {
        font-family: 'WorkSans-Light';
        font-size: 14px;
    }
}
