<div class="govco-pwa-nivel-dos">
  <div class="govco-pwa-nivel-dos-header">
    <div class="govco-pwa-botones-header">
      <span class="material-symbols-outlined">
        arrow_back
      </span>
      <span class="material-symbols-outlined">
        share
      </span>
    </div>
  </div>
  <!-- <div class="govco-pwa-nivel-dos-titulo">
    <h1>Convalidación de títulos de estudios de posgrado obtenidos en el exterior</h1>
  </div>

  <div class="govco-pwa-nivel-dos-subtitulo">
    <p>Entidad responsable: <a>Ministerio de Educación</a></p>
    <hr>
  </div>

  <div class="govco-pwa-nivel-dos-contenido"></div> -->
  <ng-content>
  </ng-content>


  <app-footer></app-footer>




</div>