<!-- <app-header></app-header> -->
<div class="container-fluid">
    <div class="row min-vh-100 biblioteca-spa">
        <aside class="col-12 col-sm-12 col-md-12 col-lg-3 p-0">
            <app-sidebar></app-sidebar>
        </aside>
        <main class="col-12 col-md-12 col-lg-9" id="main__content">
            <app-buscador></app-buscador>
            <app-main></app-main>
        </main>
    </div>
</div>
<section class="footer-out">
    <div class="container">
        <!-- <govco-footer-3></govco-footer-3> -->
    </div>
</section>
<!--<govco-footer></govco-footer>-->