.seccion-buscador {
    width: 100%;
    height: 2.75rem;
    width: 100%;
    display: flex;

    .buscador {
        height: 2.75rem;
        width: calc(100% - 7.688rem);
        font-family: 'WorkSans-Regular';
        font-size: 0.875em;
        border: 0 solid #FFFFFF;
        border-radius: 1.375rem 0 0 1.375rem;
        padding: 1em .063rem 1em 3em;
        background-color: #FFFFFF;
        outline-color: #000000;
        background-size: 1.25rem;
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: .875rem;
    }

    .buscador::placeholder {
        color: #BABABA;
    }

    .boton-filtro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .25rem .25rem .25rem .5rem;
        width: 7.688rem;
        border: 0 solid #E6EFFD;
        border-radius: 0 1.375rem 1.375rem 0;
        background-color: #E6EFFD;
        outline-color: #000000;

        .caja-icono-36-pwa {
            .icono-filtro {
                content: url(../../../../assets/icons-fonts/arrow_drop_down.svg);
                width: 1.25rem;
                height: 1.25rem;
            }

            .icono-filtro.active {
                content: url(../../../../assets/icons-fonts/arrow_drop_up.svg);
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        p {
            margin: 0;
            font-family: 'WorkSans-Medium';
            font-size: 0.875em;
            color: #004884;
        }
    }
    .boton-filtro:active { 
        outline-color: #E6EFFD;
    }
}

#modal-prefiltrado {
    position: fixed;
    z-index: 9;
    top: 6.75rem;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 20.5rem;
    opacity: 1;
    transition: opacity 0.4s;
    display: none;
}

#modal-prefiltrado.active {
    opacity: 0;
}