<section class="seccion-buscador">
    <input class="buscador"
        id="buscador-pwa-general"
        readonly="readonly"
        (click)="abrirBuscadorPWA()"
        style="background-image: url(../../../../assets/icons-fonts/search_FILL0_wght500_GRAD0_opsz20.svg)" type="text"
        placeholder="Buscar en GOV.CO">
    <button class="boton-filtro" (click)="filtrarPor()">
        <p>{{tituloFiltro}}</p>
        <div class="caja-icono-36-pwa">
            <span class="icono-filtro" [class.active]="!estadoBotonFiltro" type="image"
                alt="Borrar contenido de la barra de busqueda"></span>
        </div>
    </button>
</section>

<app-modal-prefiltrado id="modal-prefiltrado" [class.active]="estadoBotonFiltro" (itemSelected)="itemSelected($event)">
</app-modal-prefiltrado>
