/* ESTILOS GLOBALES DE USO DEL ESPACIO */

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.mat-drawer-transition .mat-drawer-backdrop{
  opacity: 0;
}

.mat-drawer-transition .mat-drawer-content {
  border-radius: 20px;
  z-index: 3;
}

.mat-drawer-shown {
  background-color: #3366CC !important;
}

.mat-drawer.mat-drawer-push {
  background-color: #3366CC;
}
.mat-drawer:not(.mat-drawer-side) {
  box-shadow: none;
}

.mat-drawer-container {
  background-color: #3366CC;
}

section.govco-pwa-content {
  background-color: white;
  height: 100%;
}

.barra-superior-pwa-govco {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  grid-template-rows: 56px 60px;
  height: 100%;
}

.menu-logo-pwa-govco {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 8px 1fr 8px 1fr 8px 1fr 8px 1fr 8px 1fr;
}

.menu-hamburgesa-pwa-govco {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 14px;
}

.menu-caja-pwa-govco{
  width: 20px;
  height: 14.5px;
  display: flex;
  flex-direction: column;
}

.menu-hamburgesa-superior, 
.menu-hamburgesa-medio,
.menu-hamburgesa-inferior {
  width: inherit;
  height: 17.24137%;
  border-radius: 2px;
  background-color: #fdfdfd;
  transition: all 0.6s;
}

.menu-hamburgesa-superior, 
.menu-hamburgesa-medio {
  margin-bottom: 3.5px;
}

.menu-hamburgesa-inferior {
  margin: 0px;
}

.menu-hamburgesa-superior-rotacion {
  margin: 0px;
  width: 8px;
  transform: rotate(45deg) translate(2.5px,0.2px);
}

.menu-hamburgesa-medio-rotacion {
  margin: 0px;
  transform: rotate(-45deg) translate(-2.6px,3px);
}

.menu-hamburgesa-inferior-rotacion {
  margin: 0px;
  width: 8px;
  transform: rotate(45deg) translate(10.7px,-3.3px);
}

.logo-pwa-govco {
  grid-column: 3 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

