/* ESTILOS GLOBALES DE USO DEL ESPACIO */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Work+Sans:wght@400;500;600&display=swap');
/* @import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css"; */

/* Montserrat-Regular */
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

/* Montserrat-Bold */
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

/* Montserrat-Bold */
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

/* Montserrat-Light */
@font-face {
  font-family: 'Montserrat-Light';
  src: url('assets/fonts/Montserrat/Montserrat-Light.ttf');
}

/* Montserrat-Italic */
@font-face {
  font-family: 'Montserrat-Italic';
  src: url('assets/fonts/Montserrat/Montserrat-Italic.ttf');
}

/* WorkSans-Regular */
@font-face {
  font-family: 'WorkSans-Regular';
  font-weight: '400';
  src: url('assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

/* WorkSans-Medium */
@font-face {
  font-family: 'WorkSans-Medium';
  font-weight: '400';
  src: url('assets/fonts/Work_Sans/static/WorkSans-Medium.ttf');
}

/* WorkSans-Bold */
@font-face {
  font-family: 'WorkSans-Bold';
  font-weight: '700';
  src: url('assets/fonts/Work_Sans/static/WorkSans-Bold.ttf');
}

/* WorkSans-SemiBold */
@font-face {
  font-family: 'WorkSans-SemiBold';
  font-weight: '600';
  src: url('assets/fonts/Work_Sans/static/WorkSans-SemiBold.ttf');
}

html {
  font-size: 100%;
  /* 100% = 16px */
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: visible !important;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px #e0e0e0;
  box-shadow: none;
  border-radius: 0px;
}


.mat-drawer-transition .mat-drawer-backdrop {
  opacity: 0;
}

.mat-drawer-transition .mat-drawer-content {

  transition-duration: 1s !important;
}

.mat-drawer-shown {
  background-color: #3366CC !important;
}

.mat-drawer.mat-drawer-push {
  background-color: #3366CC;
}

.mat-drawer:not(.mat-drawer-side) {
  box-shadow: none;
}

.mat-drawer-container {
  background-color: #3366CC;
}

.govco-pwa-content {
  background-color: #FFFFFF;
  position: relative;
  overflow: scroll;
  -webkit-overflow-scrolling: auto;
  height: calc(100% - 8rem);
}

.govco-pwa-content::-webkit-scrollbar {
  display: none;
}

.govco-pwa-content-2 {
  overflow: visible;
  height: 100%;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 20;
}

.contenido-pwa-govco {
  padding: 0 1rem 0 1rem;
}

.pwa-govco-back-arrow-header {
  height: 3.5rem;
  opacity: 1;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
}

.caja-icono-pwa-govco, 
.caja-pwa-govco-back-arrow,
.caja-icono-48-pwa {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caja-pwa-govco-back-arrow {
  height: 3em;
  width: 3em;
  margin-left: 1em;
}

.caja-icono-48-pwa {
  height: 3rem;
  width: 3rem;
}

.caja-icono-40-pwa {
  height: 2.5rem;
  width: 2.5rem;
}

.pwa-govco-back-arrow {
  font-size: 1.75em;
}

.boton-pwa-govco {
  width: 100%;
  height: 2.75em;
  border-radius: 1.563em;
  background-color: #3366CC;
  border: 1px solid #3366CC;
  padding: 0;
}

.boton-pwa-govco-unfill {
  width: 90%;
  height: 2.75em;
  border-radius: 1.563em;
  background-color: #3366CC;
  border: 2px solid #FFFFFF;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boton-pwa-govco-fill {
  width: 90%;
  height: 2.75em;
  border-radius: 1.563em;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boton-pwa-govco.off {
  background-color: #737373;
  border: 1px solid #737373;
  pointer-events: none;
}

/* Work Sans Tamaño 16px = 1rem */
.texto-button-pwa-govco,
.texto-select-pwa-govco,
.option-select-pwa-govco,
.titulo-general-pwa-govco,
.texto-general-pwa-govco,
.label-pwa-govco {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: #000000;
}

.texto-button-pwa-govco-fill {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: #3366CC;
  font-weight: 500;

}

/* Regular */
.texto-general-pwa-govco,
.texto-select-pwa-govco {
  font-weight: 400;
}

/* Medium */
.label-pwa-govco,
.texto-button-pwa-govco {
  font-weight: 500;
}

/* SemiBold */
.titulo-general-pwa-govco {
  font-weight: 600;
}

.texto-select-pwa-govco {
  color: #737373;
}

.texto-button-pwa-govco {
  color: #ffffff;
}

/* Tamaño 14px */
.label-pwa-govco {
  font-size: 0.875em;
}

/*Tamaño 20px*/
.titulo-general-pwa-govco {
  font-size: 1.25em;
  color: #004884;
}

.select-pwa-govco {
  width: 100%;
  height: 3rem;
  border: 0.125rem solid #737373;
  border-radius: 0.313rem;
  outline: none;
  text-indent: 1em;
  background-color: #FFFFFF;
  background-image: url("./assets/icons-fonts/expand_more_predeterminado.svg");
  background-repeat: no-repeat;
  background-size: 1.7em;
  background-position: calc(100% - 0.7rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

.select-pwa-govco.seleccionado {
  background-image: url("./assets/icons-fonts/expand_more_seleccionado.svg");
  color: #000000;
  border: 0.125rem solid #3366CC;
}

.linea-horizontal-1-pwa-govco,
.linea-horizontal-2-pwa-govco,
.linea-horizontal-3-pwa-govco {
  height: 0.125rem;
  background-color: #1C4780;
  border-radius: 0.063rem;
}

.linea-horizontal-1-pwa-govco {
  width: auto;
}

.linea-horizontal-2-pwa-govco {
  width: 5.5rem;
}

.linea-horizontal-3-pwa-govco {
  width: 40px;
}

.cards-container .row {
  margin: 0;
}

.col-lg-4,
.container.current-container {
  padding-right: 0;
  padding-left: 0;
}

.container {
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto;
  margin-left: auto;
}

select-search-1 a,
#selectordenamiento_arrow,
.btn-slider.btn-slider-rigth,
.btn-slider.btn-slider-left {
  text-decoration: none;
}

.contenedorBuscador {
  z-index: 1;
}

.fa-chevron-up:before {
  content: "\f077";
  font-size: 1rem;
}

.content-close.hide {
  opacity: 0;
}

.govco-icon-plus::before {
  content: '\e902';
}

.govco-icon-search-cn::before {
  content: '\e95b';
}

.govco-icon-shortr-arrow::before {
  content: '\e91c'
}

.govco-icon-shortl-arrow::before {
  content: '\e91b'
}

.breadcrumb-item::before {
  content: none !important;
}

.modal-backdrop {
  display: none;
}

.modal-lg {
  max-width: 90% !important;
}

@media (max-width: 576px) {
  .modal-lg {
    max-width: 100vmin !important;
  }
}

.owl-theme .owl-nav {
  position: absolute !important;
  top: 42% !important;
  width: 100% !important;
}

.owl-theme .owl-nav .owl-prev {
  content: '<';
  font-size: 60px;
  position: absolute;
  left: 0;
}

.owl-theme .owl-nav .owl-next {
  content: '>';
  font-size: 60px;
  position: absolute;
  right: 0;
  background: none;
  color: red;
}

.owl-theme .owl-nav .owl-next.disabled,
.owl-theme .owl-nav .owl-prev.disabled {
  background: none;
}

.owl-dots {
  padding-top: 15px;
}

.owl-dots .owl-dot span {
  width: 15px !important;
  height: 15px !important;
  border: 1px solid #BABABA !important;
}

.owl-dots .owl-dot.active {
  background-color: transparent !important;
}

.owl-dots .owl-dot.active span {
  background-color: #4B4B4B !important;
}



