
<div class="card-body container-solicitud"  *ngIf="data.length > 0">
    <div *ngFor="let tipoAccion of data">
        <h4>Canal de atención</h4>
        <p>
            {{tipoAccion.AtencionDescripcion}}
        </p>
        <h5 *ngIf="tipoAccion.data.length > 0">Medio</h5>
        <div class="card" *ngFor="let item of tipoAccion.data">
            <div class="card-header">
                {{item.TipoCanal[0] | uppercase}}{{item.TipoCanal | lowercase | slice: 1 : item.TipoCanal.length}}
            </div>
            <div class="card-body">
                <a *ngIf="item.TipoCanal === 'CORREO'" href="mailto:{{ item.Correo }}" target="_blank">
                    {{item.Correo}}
                </a>
                <app-boton *ngIf="item.TipoCanal === 'PRESENCIAL'" [inverted]="true"  [border]="true" (click)="abrirPuntosAtencionClic(tipoAccion.Orden, tipoAccion.AccionCondicionId)">
                    Ver los puntos de atención
                </app-boton>
                <button class="enlace" *ngIf="item.TipoCanal === 'WEB'" (click)="validateUrlService.validateUrl(item.UrlCanalWeb)">
                    {{item.NombreCanalWeb}}
                </button>
                <div class="tel" *ngIf="item.TipoCanal === 'TELEFONICO'">
                    <span>
                        {{item.TipoTelefono}}:
                    </span>
                    <a [href]="'tel: ' + item.NumeroTelefono">{{item.NumeroTelefono}}</a>
                    <span *ngIf="item.ExtensionTelFijo != null">
                        Extensión:
                    </span>
                    <span *ngIf="item.ExtensionTelFijo != null">{{item.ExtensionTelFijo}}</span>
                    <span>
                        Horario de Atención:
                    </span>
                    <span>
                        {{item.HorarioAtencionTelef}}
                    </span>
                </div>
            </div>
        </div>
        <h5>Medio</h5>
        <div class="card">
            <div class="card-header">
                Presencial
            </div>
            <div class="card-body">
                <app-boton [inverted]="true" [border]="true" (click)="abrirPuntosAtencionClic(tipoAccion.Orden, tipoAccion.AccionCondicionId)">
                    Ver los puntos de atención
                </app-boton>
            </div>
        </div>
    </div>
</div>
