.container-carrusel-uno {
  margin: 3rem 0;
}
.container-carrusel-uno .tarjetas-link {
  display: block;
}

::ng-deep .container-carrusel-uno .titulo-tramites {
  h2 {
    color: #004884;
    font: normal normal 600 1.5rem/3.25rem Montserrat !important;

  }
}

::ng-deep .container-carrusel-uno .tarjeta-pwa {
  width: auto;
  height: 6rem;
  align-items: center;
  display: flex;
  border: 2px solid #E6EFFD;
  background: #fff;
  border-radius: 4px;
  padding: 14px;

  img {
    width: 48px;
    height: 48px;
  }

  span {
    font-family: "Work Sans", sans-serif;
    font-size: 0.875rem;
    color: #004884;
    font-weight: 500;
    text-decoration: underline !important;
    margin-left: 16px;
  }
}

.container-carrusel-uno .arrow-left-pwa {
  position: relative;
  left: 17px;
}

.container-carrusel-uno .arrow-rigth-pwa {
  position: relative;
  left: -17px;
}

.container-carrusel-uno .contenedor-flechas {
  transform: translate(0px, -11.5rem);
}

::ng-deep .container-carrusel-uno .carousel-inner {
  padding-bottom: 5px;
}

::ng-deep .container-carrusel-uno #tarjetas-carrusel-pwa {
  display: flex;
  flex-direction: column;
}

::ng-deep .container-carrusel-uno .carrusel-uno-item-right {
  transform: translate(120%, 0);
}

::ng-deep .container-carrusel-uno .carrusel-uno-item-left {
  transform: translate(-120%, 0);
}

::ng-deep .container-carrusel-uno .carrusel-uno-item {
  width: 17.5rem;
  margin: 16px auto auto;
  display: none;
  float: left;
}

::ng-deep .container-carrusel-uno .carrusel-grupo {
  width: 100%;
  margin: 16px auto auto;
  display: none;
  float: left;
  background-color: #ffffff !important;
}

::ng-deep .container-carrusel-uno .carrusel-uno-item.active,
::ng-deep .container-carrusel-uno .carrusel-grupo.active {
  display: block;
  background-color: #00498400;
}

.container-carrusel-uno .arrow-carousel i {
  color: #000;
}

.container-carrusel-uno .controles-accesibles {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
}

.container-carrusel-uno .controles-accesibles:has(.screen-reader-text:focus) {
  height: 60px;
}

.container-carrusel-uno .descripcion-carrusel {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 0;
  word-wrap: normal !important;
}

.container-carrusel-uno .descripcion-carrusel:focus {
  display: flex !important;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 60%);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  font-size: .875rem;
  font-weight: 700;
  height: auto;
  padding: 5px;
  text-decoration: none;
  width: auto;
}