<div *ngIf="estado" id="carouselUnoTramites" class="carousel slide container-carrusel-uno-c" data-ride="carousel"
    data-interval="false">
    <div class="titulo-tramites" tabIndex={0}
        [attr.aria-labe]="nombreMunicipio == '' ? 'A continuación encontrará la sección '+ titulo + '.' : 'A continuación encontrará la sección ' + titulo + ' filtrados por el municipio de ' + nombreMunicipio + '.'">
        <h2>{{ titulo }}</h2>
        <h3 *ngIf="codigoMunicipio != '' ">{{nombreMunicipio}}</h3>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item" [class.active]="i==0" *ngFor="let slide of this.dataCarrusel; let i = index">
            <div [class]="'d-block card-item card-' + j" *ngFor="let item of slide; let j = index">
                <!-- <a role="link" href="{{'/ficha-tramites-y-servicios/T' + contenidoTarjetas[j + i * catidadTarjetas].id }}"> -->
                <a role="link" href="{{'/ficha-tramites-y-servicios-pwa/T' + contenidoTarjetas[j + i * catidadTarjetas].id }}">
                    <div class="tarjeta-pwa">
                        <img src="{{contenidoTarjetas[j + i * catidadTarjetas].iconoCategoria != '' ? contenidoTarjetas[j + i * catidadTarjetas].iconoCategoria :
                            'https://govco-prod-webutils.s3.amazonaws.com/uploads/2021-10-26/d8f3f555-6765-451f-8ea8-d8109692f458-CAT_DEFAULT-80px.svg'}}"
                            alt="" />
                        <span>{{contenidoTarjetas[j + i * catidadTarjetas].nombre}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselUnoTramites" data-slide="prev">
        <img class="caja-icono-40-pwa"
            src="../../../../assets/icons-fonts/navigate_before_FILL1_wght500_GRAD0_opsz20.svg"
            alt="Mostrar anteriores">
        <span class="sr-only">Mostrar anteriores</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselUnoTramites" data-slide="next">
        <img class="caja-icono-40-pwa" src="../../../../assets/icons-fonts/navigate_next_FILL1_wght500_GRAD0_opsz20.svg"
            alt="Mostrar anteriores">
        <span class="sr-only">Mostrar siguientes</span>
    </button>
    <ol class="carousel-indicators">
        <li data-target="#carouselUnoTramites" [attr.data-slide-to]="x" [class.active]="x==0"
            *ngFor="let slide of this.dataCarrusel; let x = index"></li>
    </ol>
</div>