.container-carrusel-uno-c {
    height: 414px;
    margin-top: 40px;

    .titulo-tramites {
        h2 {
            color: #004884;
            font-family: 'Montserrat-SemiBold';
            font-size: 1.25rem;
            margin-left: 16px;
        }

        h3 {
            font-family: 'WorkSans-SemiBold';
            color: #3366CC;
            font-size: 0.875rem;
            margin: 0 0 16px 16px;
            text-decoration: underline
        }
    }

    .carousel-inner {
        height: 100%;

        .carousel-item {
            transition: transform .6s linear;
            width: 100%;

            .tarjeta-pwa {
                width: auto;
                height: 6rem;
                align-items: center;
                display: flex;
                border: 2px solid #E6EFFD;
                background: #fff;
                border-radius: 4px;
                padding: 14px;

                img {
                    width: 48px;
                    height: 48px;
                }

                span {
                    font-family: "WorkSans-Medium";
                    font-size: 0.875rem;
                    color: #000000;
                    text-decoration: underline !important;
                    margin-left: 16px;
                    line-height: 1.125rem;
                    width: 100%;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }
            }

            .card-item {
                width: 280px;
                height: 96px;
                margin: 0 auto;
                transform: translate(0, 0);
                transition: transform linear .3s;

                .titulo-tramites {
                    h2 {
                        color: #004884;
                        font-family: 'Montserrat-SemiBold';
                        font-size: 1.25rem;
                        margin-left: 16px;
                    }

                    h3 {
                        font-family: 'WorkSans-Bold';
                        color: #3366CC;
                        font-size: 0.875rem;
                        margin: 0 0 16px 16px;
                        text-decoration: underline
                    }
                }

                &.card-0 {
                    transition: none !important;
                    transform: none !important;
                }

                &.card-1 {
                    transition-delay: .1s;
                    margin-top: 16px;
                }

                &.card-2 {
                    margin-top: 16px;
                    transition-delay: .2s;
                }
            }

            &.carousel-item-next .card-item {
                transform: translate(100px, 0);
            }

            &.carousel-item-prev .card-item {
                transform: translate(-100px, 0);
            }

            &.active {
                background: none !important;

                .card-item {
                    &.card-1 {
                        transition-delay: .2s;
                    }

                    &.card-2 {
                        transition-delay: .1s;
                    }
                }
            }

            // Left
            &.active.carousel-item-left .card-item {
                transform: translate(-100px, 0);
            }

            &.carousel-item-next.carousel-item-left .card-item,
            &.carousel-item-prev.carousel-item-right .card-item {
                transform: translate(0, 0);
            }

            // Right
            &.active.carousel-item-right .card-item {
                transform: translate(100px, 0);
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: 38px;
        opacity: initial;
        width: 12%;

        span {
            color: #004884;
            font-size: 40px;
        }
    }

    .carousel-indicators {
        margin-bottom: 0;
        z-index: 0;

        li {
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            border: 2px solid #3366CC;
            opacity: 1;
        }

        li.active {
            background: #3366CC;
            background-color: #3366CC !important;
        }
    }
}