.container-carrusel-uno {
  margin: 2.5rem 0 0 0;
  width: 100%;
  overflow: hidden;
}

.container-carrusel-uno .tarjetas-link {
  display: block;
}

::ng-deep .container-carrusel-uno .titulo-tramites {
  h2 {
    color: #004884;
    font-family: 'Montserrat-SemiBold';
    font-size: 1.25rem;
    margin-left: 16px;
  }

  h3 {
    font-family: 'WorkSans-Bold';
    color: #3366CC;
    font-size: 0.875rem;
    margin: 0 0 16px 16px;
    text-decoration: underline
  }
}

::ng-deep .container-carrusel-uno .tarjeta-pwa {
  width: auto;
  height: 6rem;
  align-items: center;
  display: flex;
  border: 2px solid #E6EFFD;
  background: #fff;
  border-radius: 4px;
  padding: 14px;

  img {
    width: 48px;
    height: 48px;
  }

  span {
    font-family: "WorkSans-Medium";
    font-size: 0.875rem;
    color: #000000;
    text-decoration: underline !important;
    margin-left: 16px;
    line-height: 1.125rem
  }
}

.container-carrusel-uno .arrow-left-pwa {
  height: 2.5rem;
  width: 2.5rem;
}

.container-carrusel-uno .arrow-rigth-pwa {
  height: 2.5rem;
  width: 2.5rem;
}

.container-carrusel-uno .contenedor-flechas {
  transform: translate(0px, -11.8rem);
}

::ng-deep .container-carrusel-uno .carousel.slide {
  width: 400%;
  margin-left: -150%;
}

::ng-deep .container-carrusel-uno .carousel-inner {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

::ng-deep .container-carrusel-uno #tarjetas-carrusel-pwa {
  display: flex;
  flex-direction: row;
}

::ng-deep .container-carrusel-uno .carrusel-uno-item-right {
  transform: translate(120%, 0);
}

::ng-deep .container-carrusel-uno .carrusel-uno-item-left {
  transform: translate(-120%, 0);
}

::ng-deep .container-carrusel-uno .carrusel-uno-item {
  width: 17.5rem;
  margin: 0 auto 16px auto;
  // display: none;
  float: left;
}

::ng-deep .container-carrusel-uno .carrusel-grupo {
  width: 100%;
  margin: 16px auto auto;
  // display: none;
  float: left;
  background-color: #ffffff !important;
}

::ng-deep .container-carrusel-uno .carrusel-grupo.active {
  display: block;
  background-color: #00498400;
}

::ng-deep .container-carrusel-uno .carrusel-uno-item.active.transition-left {
  transform: translate(120%, 0px);
}

.container-carrusel-uno .arrow-carousel i {
  color: #000;
}

.container-carrusel-uno .controles-accesibles {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
}

.container-carrusel-uno .controles-accesibles:has(.screen-reader-text:focus) {
  height: 60px;
}

.container-carrusel-uno .descripcion-carrusel {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 0;
  word-wrap: normal !important;
}

.container-carrusel-uno .descripcion-carrusel:focus {
  display: flex !important;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 60%);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  font-size: .875rem;
  font-weight: 700;
  height: auto;
  padding: 5px;
  text-decoration: none;
  width: auto;
}

::ng-deep .container-carrusel-uno .container-tarjetas {
  display: none;
  flex-direction: column;
}

::ng-deep .container-carrusel-uno .container-tarjetas.active,
::ng-deep .container-carrusel-uno .container-tarjetas.active-old {
  display: flex;
}

::ng-deep .container-carrusel-uno .active {
  background-color: #ffff !important;
}