<div class="container-carrusel-uno">
    <div class="titulo-tramites" tabIndex={0}
        [attr.aria-labe]="nombreMunicipio == '' ? 'A continuación encontrará la sección '+ titulo + '.' : 'A continuación encontrará la sección ' + titulo + ' filtrados por el municipio de ' + nombreMunicipio + '.'">
        <h2>{{ titulo }}</h2>
        <h3 *ngIf="codigoMunicipio != '' ">{{nombreMunicipio}}</h3>
    </div>
    <div class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <div id="{{idTarjetas}}"></div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-between contenedor-flechas">
        <a class="caja-icono-48-pwa" tabIndex={-1} (click)="flechaIzquierda()" role="button" data-slide="prev">
            <img class="arrow-carousel arrow-left-pwa"
                src="../../../../assets/icons-fonts/navigate_before_FILL1_wght500_GRAD0_opsz20.svg"
                alt="Mostrar anteriores">
        </a>
        <a class="caja-icono-48-pwa" tabIndex={-1} (click)="flechaDerecha()" role="button" data-slide="next">
            <img class="arrow-carousel arrow-rigth-pwa"
                src="../../../../assets/icons-fonts/navigate_next_FILL1_wght500_GRAD0_opsz20.svg"
                alt="Mostrar siguientes">
        </a>
    </div>
</div>