<div class="modal-header">
    <div class="icon-error " (click)="activeModal.close('Close click')"><img src="assets/images/tramites-servicios/close-24px.svg" alt="boton-cerrar"></div>
    <div class= "modal-title">
      <p class="titulo">Te explicamos con Tutoriales</p>
      <p class="sub-titulo">Aquí podrás encontrar todo el material que te ayudará a entender el proceso para realizar tu trámite paso a paso:</p>
    </div>
  
</div>
<div class="modal-body">
    <div class="contenedor-tutoriales">
        <div class="item-tutorial" (click)="validateUrl(data)">
        <img src="assets/images/tramites-servicios/URL_externo_Biblioteca.svg" width="65px" alt="boton-cerrar">
        <p>Manual de usuario</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button> -->
</div>
