<div class="row mb-5 justify-row-responsive">
    <div class="col-12 col-sm-12 col-md-3">
    </div>
    <div class="col-12 col-sm-12 col-md-6 text-justify">
        <h3 style="font-weight: 600">No hay resultados coincidentes.</h3>
        <p style="color: #4B4B4B;">Te sugerimos: <br> Modificar las palabras ingresadas para la búsqueda. <br>
            Modificar los lugares seleccionados, es posible que aún no tengamos cargada información para el municipio
            seleccionado.
            <br>
            <br>
            Si aún no encuentras lo que buscas, contáctanos <a href="/">Portal de asistencia </a> <a href="/">
                info@serviciodeasistencia.gov.co</a> <br>
            +57 1234567
        </p>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
    </div>
</div>