# See http://help.github.com/ignore-files/ for more about ignoring files.

# Cartificados virtuales SSL o TLS (localmente)
govco-pwa.crt
govco-pwa.key
192.168.1.3.key
192.168.1.3.crt
192.168.101.2.key
192.168.101.2.crt
192.168.101.3.key
192.168.101.3.crt
192.168.101.4.key
192.168.101.4.crt
192.168.101.5.key
192.168.101.5.crt
192.168.101.6.key
192.168.101.6.crt
192.168.101.7.key
192.168.101.7.crt
192.168.101.8.key
192.168.101.8.crt
192.168.1.4.key
192.168.1.4.crt
192.168.1.84.key
192.168.1.84.crt
192.168.51.39.key
192.168.51.39.crt
192.168.18.127.key
192.168.18.127.crt
192.168.139.39.key
192.168.139.39.crt
192.168.100.70.key
192.168.100.70.crt

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
