<section>
    <app-barra-filtros [totalResultados]="cantidadResultados"></app-barra-filtros>
    <section class="filter-results-all-procedures">
        <h5 *ngIf="dataResultado.length > 0">Todos los trámites</h5>
        <div class="container-skeleton" *ngIf="loading">
            <div *ngFor="let i of [1,2,3,4,5]">
                <ngx-skeleton-loader appearance="line" count="4"
                    [theme]="{height: '12px', 'background-color': '#888cc93d'}">
                </ngx-skeleton-loader>
            </div>
        </div>
        <div class="container-aviso-sin-resultados" *ngIf="dataResultado.length === 0 && !mostrarAvisoModal && !loading">
            <app-aviso-sin-resultados></app-aviso-sin-resultados>
        </div>
        <app-card-tramite *ngIf="dataResultado" [data]="dataResultado" [cantidadResultados]="cantidadResultados">
        </app-card-tramite>    
        <app-banner-ciiu-buscador></app-banner-ciiu-buscador>
    </section>
</section>
<app-footer></app-footer>
