<div #modalFiltroNivel1 class="backdrop-filtros">
    <div class="container-filtros">
        <div class="backdrop-spinner-filtros"></div>
        <div class="dropdown-arrow"></div>
        <div class="header">
            <h5>Filtrar por:</h5>
            <button class="clean">Limpiar filtros</button>
        </div>
        <hr>
        <ul>
            <li>
                <button>
                    <div class="filtro-sin-seleccion">
                        Subcategorías
                    </div>
                    <span class="material-symbols-outlined arrow">
                        chevron_right
                    </span>
                </button>
                <button>
                    <div class="filtro-sin-seleccion">
                        Entidad
                    </div>
                    <span class="material-symbols-outlined arrow">
                        chevron_right
                    </span>
                </button>
                <button>
                    <div class="filtro-sin-seleccion">
                        Sector
                    </div>
                    <span class="material-symbols-outlined arrow">
                        chevron_right
                    </span>
                </button>
                <button>
                    <button class="infoBoton">
                        <span class="material-symbols-outlined info">
                            question_mark
                        </span>
                    </button>
                    <div class="filtro-sin-seleccion">
                        Trámite estándar
                    </div>
                    <span class="material-symbols-outlined arrow">
                        chevron_right
                    </span>
                </button>
            </li>
        </ul>
    </div>
</div>
