<section class="titulo-descripcion">
  <div class="govco-pwa-icon-container" tabindex="0" #botonAtras [attr.aria-label]="'Retornar Home Categorias'"
    (click)="returnCategoriesPWA()">
    <span class="material-symbols-outlined backSymbol">
      arrow_back
    </span>
  </div>

</section>
<div #desplegable class="modal-desplegable-pwa contenedor">
  <div class="modal-contenido">
    <div class="header-modal">
      <img class="header-img" src="{{this.icon}}" alt="{{this.longDescription}}">
    </div>
    <div #body_modal class="body-modal">
      <div class="container-header">
        <h2 tabindex="0" [attr.aria-label]="this.title" class="title">{{this.title}}</h2>
        <p tabindex="0" [attr.aria-label]="this.description" class="description">
          {{this.description}}</p>
      </div>
      <div class="govco-pwa-momentos-subcategorias">
        <ul id="govco-pwa-momentos-subcategorias-container">
          <li #item *ngFor="let url of urls; let i = index" class="govco-pwa-momentos-elemento" id="{{'url_' + i}}"
            tabindex="0" [hidden]="estado_item[i]">
            <a routerLink="{{cat_sub_id}}/{{url}}">{{titulo_pestana[i]}}</a>
          </li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-boton-retroalimentacion [position]="true"></app-boton-retroalimentacion>

<section #seccionAviso class="seccion-aviso" *ngIf="activarSeccion">
  <app-modal-aviso (closedModal)="cerrarAvisoSinResultados()"></app-modal-aviso>
</section>