<div class="tarjeta-aviso">
    <div class="tarjeta-aviso-cabecera">
        <img class="tarjeta-aviso-cabecera-img" src={{imageSrc}} alt="imagen información para mejorar la busqueda" />
        <h3 class="tarjeta-aviso-cabecera-titulo">Lo sentimos</h3>
    </div>

    <div class="tarjeta-aviso-contenido">
        <p class=" tarjeta-aviso-contenido-mensaje">No aparecen coincidencias con la palabra
            “<span>{{resBuscador}}</span>”<span *ngIf="!(resIndex == 2 || resIndex == 3)"> en {{geoLocMunName}}</span>
        </p>

        <p *ngIf="sugBuscador != ''" class="tarjeta-aviso-mensaje-texto">¿Qué tal si pruebas con “<a
                class="tarjeta-aviso-mensaje-link" href="javascript:void(0)"
                (click)="seleccionarSugerencia()">{{sugBuscador | titlecase}}</a>” ?
        </p>
        <p class="tarjeta-aviso-mensaje-texto">Te sugerimos: </p>
        <ul class="tarjeta-aviso-listado">
            <li *ngIf="!(resIndex == 2 || resIndex == 3)" class="tarjeta-aviso-mensaje-texto">
                <a class="tarjeta-aviso-mensaje-link" href="javascript:void(0)" (click)="abrirGeolocalizacion()">
                    Cambia la ubicación</a>
                <span> para refinar la búsqueda.</span>
            </li>
            <li class="tarjeta-aviso-mensaje-texto">
                <span>
                    Asegúrate que las palabras estén escritas correctamente.
                </span>
            </li>
            <li class="tarjeta-aviso-mensaje-texto">
                <span>
                    Cambia el tipo de resultado que tienes seleccionado. Recuerda que puedes escoger entre trámites,
                    entidades, noticias, ejercicios de participación, ventanillas únicas y portales transversales.
                </span>
            </li>
            <li class="tarjeta-aviso-mensaje-texto">
                <span>Escribe palabras sobre temas generales. Por ejemplo: “Certificados”, “Empleo”, “Salud”,
                    “Educación”, “Ayudas”, etc.</span>
            </li>
        </ul>
    </div>
</div>