<!-- <div class="carousel slide multi-item-carousel" id="carrusel-dos-temas-interes" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-inline-block container-tarjeta">
        <a href="#1">
          <div class="container-img">
            <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/3913de74-4469-4bca-83be-279483bf03ff-Temasdeinteres_Ventanillas.jpg" class="img-responsive" alt="...">
          </div>
          <div class="container-txt">
            <h2>Conoce más sobre el turismo en nuestro país</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-inline-block container-tarjeta">
        <a href="#1">
          <div class="container-img">
            <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/e7c46603-9c48-47f0-876b-ae684398738c-Temasdeinteres_Portales.jpg" class="img-responsive" alt="...">
          </div>
          <div class="container-txt">
            <h2>Conoce más sobre el turismo en nuestro país</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-inline-block container-tarjeta">
        <a href="#1">
          <div class="container-img">
            <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/f594b3a5-de20-4831-8f9f-f0a6fb7f2a44-temasdeinteres_datos.jpg" class="img-responsive" alt="...">
          </div>
          <div class="container-txt">
            <h2>Conoce más sobre el turismo en nuestro país</h2>
          </div>
        </a>
        </div>
    </div>
    <div class="carousel-item">
      <div class="d-inline-block container-tarjeta">
        <a href="#1">
          <div class="container-img">
            <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/bd8f9cd8-8caa-4584-af5e-a0523c0dc580-Temasdeinteres_territorial.jpg" class="img-responsive" alt="...">
          </div>
          <div class="container-txt">
            <h2>Conoce más sobre el turismo en nuestro país</h2>
          </div>
      </a>
    </div>
    </div>
    <div class="carousel-item">
      <div class="d-inline-block container-tarjeta">
        <a href="#1">
          <div class="container-img">
            <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/73a088fc-0f0e-4f63-8a22-7f0ec42e1d36-temasdeinteres_turismo.jpg" class="img-responsive" alt="...">
          </div>
          <div class="container-txt">
            <h2>Conoce más sobre el turismo en nuestro país</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-inline-block container-tarjeta">
        <a href="#1">
          <div class="container-img">
            <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/3913de74-4469-4bca-83be-279483bf03ff-Temasdeinteres_Ventanillas.jpg" class="img-responsive" alt="...">
          </div>
          <div class="container-txt">
            <h2>Conoce más sobre el turismo en nuestro país</h2>
          </div>
        </a>
      </div>
    </div>        
    <div class="carousel-item">
      <div class="d-inline-block container-tarjeta">
        <a href="#1">
          <div class="container-img">
            <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/bd8f9cd8-8caa-4584-af5e-a0523c0dc580-Temasdeinteres_territorial.jpg" class="img-responsive" alt="...">
          </div>
          <div class="container-txt">
            <h2>Conoce más sobre el turismo en nuestro país</h2>
          </div>
        </a>
      </div>
    </div>            
  </div>
  <button class="carousel-control-prev" type="button" data-target="#carrusel-dos-temas-interes" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carrusel-dos-temas-interes" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
  <ol class="carousel-indicators">
    <li data-target="#carrusel-dos-temas-interes" data-slide-to="0" class="active"></li>
    <li data-target="#carrusel-dos-temas-interes" data-slide-to="1"></li>
    <li data-target="#carrusel-dos-temas-interes" data-slide-to="2"></li>
    <li data-target="#carrusel-dos-temas-interes" data-slide-to="3"></li>
    <li data-target="#carrusel-dos-temas-interes" data-slide-to="4"></li>
    <li data-target="#carrusel-dos-temas-interes" data-slide-to="5"></li>
    <li data-target="#carrusel-dos-temas-interes" data-slide-to="6"></li>
  </ol>
</div>
<br>
<br>
<br>
<br>
<br>
<br> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="carrusel-dos-temas-interes2" data-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="col-4"><a href="#1"><img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/3913de74-4469-4bca-83be-279483bf03ff-Temasdeinteres_Ventanillas.jpg" class="img-responsive"></a></div>
          </div>
          <div class="carousel-item">
            <div class="col-4"><a href="#1"><img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/e7c46603-9c48-47f0-876b-ae684398738c-Temasdeinteres_Portales.jpg" class="img-responsive"></a></div>
          </div>
          <div class="carousel-item">
            <div class="col-4"><a href="#1"><img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/f594b3a5-de20-4831-8f9f-f0a6fb7f2a44-temasdeinteres_datos.jpg" class="img-responsive"></a></div>
          </div>
          <div class="carousel-item">
            <div class="col-4"><a href="#1"><img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/bd8f9cd8-8caa-4584-af5e-a0523c0dc580-Temasdeinteres_territorial.jpg" class="img-responsive"></a></div>
          </div>
          <div class="carousel-item">
            <div class="col-4"><a href="#1"><img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/73a088fc-0f0e-4f63-8a22-7f0ec42e1d36-temasdeinteres_turismo.jpg" class="img-responsive"></a></div>
          </div>
          <div class="carousel-item">
            <div class="col-4"><a href="#1"><img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/3913de74-4469-4bca-83be-279483bf03ff-Temasdeinteres_Ventanillas.jpg" class="img-responsive"></a></div>
          </div>          
          <div class="carousel-item">
            <div class="col-4"><a href="#1"><img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/bd8f9cd8-8caa-4584-af5e-a0523c0dc580-Temasdeinteres_territorial.jpg" class="img-responsive"></a></div>
          </div>
        </div>
        <button class="carousel-control-prev left" type="button" data-target="#carrusel-dos-temas-interes2" data-slide="prev" style="background-color: red;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next right" type="button" data-target="#carrusel-dos-temas-interes2" data-slide="next" style="background-color: red;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
    </div>
  </div>
</div> -->



<div class="container-carrusel">
  <div id="carruselDosTemasInteres" class="carousel slide multi-item-carousel" data-ride="carousel" data-interval="false">
    <!-- <ol class="carousel-indicators">
      <li data-target="#carruselDosTemasInteres" data-slide-to="0" class="active"></li>
      <li data-target="#carruselDosTemasInteres" data-slide-to="1"></li>
      <li data-target="#carruselDosTemasInteres" data-slide-to="2"></li>
      <li data-target="#carruselDosTemasInteres" data-slide-to="3"></li>
      <li data-target="#carruselDosTemasInteres" data-slide-to="4"></li>
      <li data-target="#carruselDosTemasInteres" data-slide-to="5"></li>
      <li data-target="#carruselDosTemasInteres" data-slide-to="6"></li>
    </ol> -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-tarjeta">
          <a href="">
            <div class="container-img">
              <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/3913de74-4469-4bca-83be-279483bf03ff-Temasdeinteres_Ventanillas.jpg" alt="...">
            </div>
            <div class="container-text">
              <h2>Conoce más sobre el turismo en nuestro país.</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-tarjeta">
          <a href="">
            <div class="container-img">
              <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/e7c46603-9c48-47f0-876b-ae684398738c-Temasdeinteres_Portales.jpg" alt="...">
            </div>
            <div class="container-text">
              <h2>Conoce más sobre el turismo en nuestro país.</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-tarjeta">
          <a href="">
            <div class="container-img">
              <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/f594b3a5-de20-4831-8f9f-f0a6fb7f2a44-temasdeinteres_datos.jpg" alt="...">
            </div>
            <div class="container-text">
              <h2>Conoce más sobre el turismo en nuestro país.</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-tarjeta">
          <a href="">
            <div class="container-img">
              <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/bd8f9cd8-8caa-4584-af5e-a0523c0dc580-Temasdeinteres_territorial.jpg" alt="...">
            </div>
            <div class="container-text">
              <h2>Conoce más sobre el turismo en nuestro país.</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-tarjeta">
          <a href="">
            <div class="container-img">
              <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/73a088fc-0f0e-4f63-8a22-7f0ec42e1d36-temasdeinteres_turismo.jpg" alt="...">
            </div>
            <div class="container-text">
              <h2>Conoce más sobre el turismo en nuestro país.</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-tarjeta">
          <a href="">
            <div class="container-img">
              <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/3913de74-4469-4bca-83be-279483bf03ff-Temasdeinteres_Ventanillas.jpg" alt="...">
            </div>
            <div class="container-text">
              <h2>Conoce más sobre el turismo en nuestro país.</h2>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-tarjeta">
          <a href="">
            <div class="container-img">
              <img src="https://govco-poc.s3.us-east-2.amazonaws.com/uploads/2021-05-14/bd8f9cd8-8caa-4584-af5e-a0523c0dc580-Temasdeinteres_territorial.jpg" alt="...">
            </div>
            <div class="container-text">
              <h2>Conoce más sobre el turismo en nuestro país.</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carruselDosTemasInteres" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carruselDosTemasInteres" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</div>
