<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="carousel slide multi-item-carousel" id="theCarousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-4 d-inline-block"><a href="#1"><img src="https://source.unsplash.com/300x300/?perth,australia" class="img-responsive"></a></div>
            </div>
            <div class="carousel-item">
              <div class="col-4 d-inline-block"><a href="#1"><img src="https://source.unsplash.com/300x300/?fremantle,australia" class="img-responsive"></a></div>
            </div>
            <div class="carousel-item">
              <div class="col-4 d-inline-block"><a href="#1"><img src="https://source.unsplash.com/300x300/?west-australia" class="img-responsive"></a></div>
            </div>
            <div class="carousel-item">
              <div class="col-4 d-inline-block"><a href="#1"><img src="https://source.unsplash.com/300x300/?perth" class="img-responsive"></a></div>
            </div>
            <div class="carousel-item">
              <div class="col-4 d-inline-block"><a href="#1"><img src="https://source.unsplash.com/300x300/?quokka,perth" class="img-responsive"></a></div>
            </div>
            <div class="carousel-item">
              <div class="col-4 d-inline-block"><a href="#1"><img src="https://source.unsplash.com/300x300/?margaretriver,australia" class="img-responsive"></a></div>
            </div>
            <!-- add  more items here -->
            <!-- Example item start:  -->
            
            <div class="carousel-item">
              <div class="col-4 d-inline-block"><a href="#1"><img src="https://source.unsplash.com/300x300/?perth,australia&r=7" class="img-responsive"></a></div>
            </div>
            
            <!--  Example item end -->
          </div>
          <a class="left carousel-control-prev" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control-next" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>

