::ng-deep .modal-lg {
  max-width: 100% !important;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
}

::ng-deep .background-modal {
  background-color: #00000080;
}

::ng-deep .modal-content {
  padding: 24px 16px 16px 16px;
  border: 2px solid #E6EFFD;
  border-radius: 10px;
}

.modal-header {
  text-align: left;
  display: block;
  padding: 0px;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  border-bottom: none;

  .boton-img {
    border: 0;
    background-color: transparent;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 7px;
    opacity: 5;

    &:focus-visible {
      outline: 2px solid #000;
    }
  }

  .close {
    background-image: url('../../../../assets/icons-fonts/icono_cerrar_3366CC.svg');
    margin: -1rem -0.5rem -1rem auto;
    padding: 0;
  }

  .modal-title {
    .titulo {
      font-family: 'WorkSans-Medium';
      text-align: left;
      font-size: 16px;
    }

    .sub-titulo {
      font-size: 14px;
    }
  }

  .icon-close {
    text-align: end;
    cursor: pointer;
  }
}

.modal-body {
  padding: 0px;

  .contenedor-tutoriales {
    .box-ayuda {
      background: #f6f8f9;
      border: none !important;
      position: relative;
      width: 287px;
      margin: 1em auto;
      height: auto;
      border-radius: 5px;
      -webkit-box-shadow: 0px 4px 5px 0px rgba(186, 186, 186, 0.3);
      -moz-box-shadow: 0px 4px 5px 0px rgba(186, 186, 186, 0.3);
      box-shadow: 0px 4px 5px 0px rgba(186, 186, 186, 0.3);
      cursor: pointer;

      @media (max-width: 991px) {
        width: 100%;
      }

      &-header {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          margin: 0;

          button {
            text-align: left;
            font: 600 16px/27px Montserrat;
            letter-spacing: 0px;
            color: #004884;
            opacity: 1;
            background: none;
            padding: 0;
          }
        }

        .icon {
          margin: 0;
          width: 19px;
          height: 14px;
          background-image: url("/assets/images/spr-icons-govco.png");
          background-position: 11% 14%;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }

      &-title {
        color: #004884;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        cursor: pointer;
      }

      .btn:focus {
        box-shadow: none;
      }

      &-body {
        padding: 0;
        padding-bottom: 16px;

        &-title {
          font-size: 15px;
          color: #004884;
          line-height: 27px;
          padding: 0;
        }

        &-info {
          display: flex;
          align-items: center;
          margin-top: 0.5em;

          .govco-icon-email,
          .govco-icon-call-center {
            color: #3366CC;
          }

          a {
            font-family: 'workSans-Medium';
            font-size: 1rem;
            color: #3366CC;
            margin: 0 0.5em;
            word-break: break-all;
            text-decoration: underline;
            display: flex;

            &:focus-visible {
              outline: 2px solid #000;
            }

            .container-icono-ayuda {
              width: 24px;
              height: 24px;
              background-color: #004884;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-content: center;
              padding: 5px;
              margin-right: 0.5em;

              &::after {
                content: '';
                filter: invert(83%) sepia(93%) saturate(1018%) hue-rotate(184deg) brightness(126%) contrast(95%);
                width: 14px;
                height: 14px;
                background-size: cover;
              }

              &.tel::after {
                background-image: url('https://govco-prod-webutils.s3.amazonaws.com/uploads/2022-06-03/e7702a0c-bf98-4a09-9b09-f36d94b9cf68-Icon_tel.svg');
              }

              &.mail::after {
                background-image: url('https://govco-prod-webutils.s3.amazonaws.com/uploads/2022-06-03/dafc13cb-aff3-4383-aa3e-f8e8bd73a2aa-Icon_mail.svg');
              }
            }
          }
        }
      }
    }

    .mobile {
      @media (max-width: 768px) {
        height: auto;
        pointer-events: none;

        .collapse {
          display: block;
        }

        .icon {
          display: none;
        }
      }
    }
  }

  .separador {
    display: flex;
    justify-content: center;
  }

  .separador::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1c4780;
    margin-top: 8px;
  }
}

.modal-footer {
  border-top: none;
  padding: 0px;
  padding-top: 1rem;
  justify-content: flex-start;

  * {
    margin: 0px;
  }

  button {
    font-family: 'WorkSans-SemiBold';
    font-size: 14px;
    color: #3366CC;
    border: 0;
    background-color: transparent;
    padding: 12px;
    outline: none;

    &:focus-visible {
      outline: 2px solid #000;
    }
  }

  .btn-outline:focus,
  .btn-outline:focus-visible {
    box-shadow: none !important;
  }
}