<div class="modal-header">
    <div class="icon-close" (click)="activeModal.close('Close click')">
        <button class="boton-img close" (click)="activeModal.close('Close click')"></button>
    </div>
    <div class="modal-title">
        <p class="titulo">¿Tienes dudas?</p>
        <p class="sub-titulo">Sobre el trámite</p>
    </div>
</div>
<div class="modal-body">
    <div class="contenedor-tutoriales">
        <div class="card-body box-ayuda-body" *ngFor="let email of listaEmail; let i = index">
            <div *ngIf="email != null" class="box-ayuda-body-info">
                <a href="mailto: {{email}}" [attr.aria-label]="'Correo electrónico ' + email">
                    <span class="container-icono-ayuda mail"></span>
                    {{email}}
                </a>
            </div>
        </div>
        <div class="card-body box-ayuda-body" *ngFor="let numero of listaNumeros; let i = index">
            <div *ngIf="numero != null" class="box-ayuda-body-info phone">
                <a href="tel: {{numero.replace('#','%23')}}" [attr.aria-label]="'Telefono' + numero">
                    <span class="container-icono-ayuda tel"></span>
                    {{numero}}
                </a>
            </div>
        </div>
    </div>
    <div class="separador"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="activeModal.close('Close click')">Cerrar</button>
</div>