.container-condiciones{
    background: #fff;
    border: 1px solid #FFAB00;
    border-radius: 10px;
    padding: 18px;
    margin: 10px;
  
    .body-container-condiciones{
      .leyendadocumento::before {
          content: '- ';
      }
    }
  }
  
  .container-condiciones .card-body{
    background: #fff !important;
  }
  
  .container-condiciones .titulocondicion{
    color:  #4B4B4B;
    font-size: 16px;
    font-family: 'Montserrat-Bold';
  }
  
  .container-condiciones .leyendadocumento, .container-condiciones .texto-condiciones{
    font-size: 14px;
    font-family: 'Montserrat-Italic';
    color: #4B4B4B;
  }

  .leyendadocumento {
    text-align: left;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 10px;
  }