<div class="container-noticia-listado">
    <h2>{{titulo}}</h2>
    <p>{{descripcion}}</p>

    <div class="card mt-2" *ngIf="noticiasError">
        <div class="card-header">
            <strong>No fue posible obtener el listado de noticias</strong>
        </div>
    </div>

    <div class="card mt-2" *ngIf="noticiasEmpty">
        <div class="card-header">
            <strong>No se encontraron más noticias</strong>
        </div>
    </div>

    <div class="container-tarjeta-noticias" *ngFor="let noticia of dataNoticias">
        <app-tarjeta-informativa
        [imagen]="noticia.imagen"
        [descripcionImagen]="noticia.titulo"
        [url]="'/noticias/detalle/' + noticia.id"
        [descripcioUrl]="noticia.titulo"
        [titulo]="noticia.titulo">
        </app-tarjeta-informativa>    
        <div class="container-etiqueta-noticias">
            <app-etiqueta estado="informative">
                <span class="material-symbols-outlined">
                    calendar_today
                </span>
                {{noticia.textoFecha}}
            </app-etiqueta>
        </div>
        <div class="container-boton-noticias">
            <app-boton [symbol]="true" (click)="shareNews(noticia)">
                <span class="material-symbols-outlined">
                    share
                </span>
            </app-boton>
        </div>
    </div>
    <a href="/noticias">
        <app-boton *ngIf="!noticiasError && !noticiasEmpty">Ver más noticias</app-boton>
    </a>
</div>
