.puntos-atencion-modal-title {
  font-size: 1rem;
  color: #004884;
}

.modal-header .close {
  color: #0061ea;
  font-weight: 700;
  z-index: 10;
}

.active {
    background-color: #E6EFFD !important;
  }
  .titulo_popuptramite{
      color: #0B457F !important;
      font-weight: bold;
      font-size: 20px;
  }
  .hr-popuptramites{
      left: 0px;
      top: 11%;
      right: 0px;
      height: 8%;
      width: 100%;
      color: #0B457F;
      text-align: center;
      border-top: 2px !important;
      border-top-style: solid !important;
      border-top-color: #0061EA !important;
      background-color: #E5EEFB;
      display: block;
      position: relative;
  }
  .iconodisponible{
      max-width: 25px;
  }
  .paginacion {
      text-align: center;
  }
  .no-records{
    margin: auto;
    text-align: center;
    margin-top: 10px;
  }
  .contenedor {
    width: 11em;
    overflow: scroll;
    color: #005BCB !important;
  }
  .puntos-atencion-tramite {
    .modal-header {
      border: 0;
      h2 {
        font-family: 'Montserrat-SemiBold';
        font-size: 16px;
        font-weight: 600 !important;
      }
      .close {
        padding: 1rem;
        span {
          color: #0061ea;
          font-weight: 700;
        }
      }
      .buscador {
        position: relative;
        border: 1px solid #BABABA;
        border-radius: 2rem;
        overflow: hidden;
        display: flex;
        input {
          border-radius: 2em;
          border: unset;
          font-family: 'Montserrat-Regular';
          font-size: 16px;
        }
        .content-search {
          appearance: unset;
          cursor: pointer;
          padding: unset;
          border: unset;
          margin: 1px 6px;
          border-radius: 50%;
          span {
            position: absolute;
            right: 0.1em;
            top: 2px;
            bottom: 0;
            line-height: 2rem;
          }
        }
      }
    }
    .modal-body{
      padding: 0 1rem;
      .contenedor {
        width: 100%;
        overflow: hidden;
      }
      table {
        th.active {
          background-color: #e6effd!important;
        }
        th {
          // display: block;
          border: 0;
          padding: 0;
          i {
            font-size: 18px;
            font-weight: bold;
          }
          .txt-order {
            color: #004884;
            font-family: 'WorkSans-Bold';
            font-size: 16px;
          }
        }
        td {
          font-family: 'WorkSans-Medium';
          font-size: 14px;
          font-weight: 500 !important;
          b {
            font-family: 'WorkSans-Bold';
          }
        }
      }
    }
  }
  
  .icon-alert{
    width: 30px;
    height: 30px !important;
    overflow: hidden;
    max-height: 30px;
    display: table-cell;
  }
  .title-alert{
    display: table-cell;
    vertical-align: top;
    padding-top: 12px;
    padding-left: 10px;
  }
  .head-norma{
    display: inline-block;
  }
  .head-norma table{
    background: #E6EFFD;
  }
  
  .title-icon-left{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 50% !important;
  }
  .title-icon-rigth{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  
  .icon-descarga{
   text-align: center !important; 
   a {
     &:hover { text-decoration: none !important; } 
   }
  }
  
  @media (min-width: 768px) {
    .title-icon-left{
      width: 70% !important;
    }
    .title-icon-rigth{
      width: 70% !important;
    }
  }

  @media (max-width: 768px) {
    .puntos-atencion-tramite .modal-header .close {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      z-index: 2;
    }
  }
  
  @media (min-width: 992px) {
    .icon-descarga{
      width: 40% !important;
     }
     .title-icon-left{
      margin-left: 10px;
    }
    .title-doc-rigth{
      margin-left: -10px !important;
    }
    .strong-doc-rigth{
      margin-left: -15px;
    }
    .txt-documento{
      text-align: left !important;
    }
  }
  .icon-down-norma{
    color: #3870F6 !important;
  }
  .txt-documento{
    vertical-align: auto !important;
  }
  
  //Order by
  .order-movile{
    display: none;
  }
  
  .text-order{
    display: table-cell;
    font-family: "Work Sans",sans-serif;
  
  }
  .icon-order{
    vertical-align: bottom;
    display: table-cell;
  }
  .icon-order i{
    color: #BABABA !important;
    margin-right: 10px;
  }
  .icon-order-punto i{
    color: #BABABA !important;
    margin-right: 10px;
  }
  .text-order-punto{
    vertical-align: top;
    font-family: "Work Sans",sans-serif;
  }
  .order-puntos:hover{
    cursor: pointer !important;
  }
  
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(229,238,251,.5);
}

.td-label {
  color: #004884;
}

.td-font {
  font-size: 14px !important;
}

.textofilas {
  color: #004884 !important;
}

.govco-icon-pin {
  background-image: url('/assets/icon-fichatramite/gps.svg');
  width: 24px;
  height: 24px;
}

::ng-deep pagination-controls pagination-template .ngx-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

::ng-deep pagination-controls pagination-template .ngx-pagination ul {
  padding-inline-start: 0 !important;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li {
width: 40px;
height: 40px;
line-height: 2;
font-weight: 700;
text-align: center;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li:hover {
background: #e6effd;
justify-content: center;
border-radius: 4px;
}

::ng-deep  pagination-controls pagination-template .ngx-pagination li a:hover {
background: none;
text-decoration: none;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li span {
font-size: 16px;
color: #0b457f;
font-family: Work Sans, sans-serif;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .current {
background: #3366cc;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .current:hover {
background: #3366cc;
color: #fff;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .current span {
color: #fff;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next {
width: auto;
height: auto;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous:hover,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next:hover {
background: none;
width: auto;
cursor: pointer;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-previous.disabled,
::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-next.disabled {
color: #bababa !important;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-previous.disabled::before {
content: "\e916" !important;
display: none;
}

::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-next.disabled::after {
content: "\e916" !important;
display: none;
}


::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-previous.disabled span,
::ng-deep pagination-controls pagination-template .ngx-pagination .pagination-next.disabled span {
text-align: right;
text-decoration: underline;
font-size: 14px !important;
font-weight: normal !important;
font-family: "Work Sans" !important;
letter-spacing: 0px;
color: #BABABA;
opacity: 1;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous a,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next a {
text-align: right;
text-decoration: underline;
font-size: 14px !important;
font-weight: normal !important;
font-family: "Work Sans" !important;
letter-spacing: 0px;
color: #3366CC !important;
opacity: 1;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous span:before,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous a:before {
content: "Anterior"!important;
font-size: 14px;
font-weight: 400;
color: #36c;
text-decoration: underline;
font-family: Work Sans,sans-serif;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous.disabled span:before {
content: "Anterior" !important;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next span:before,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next a:before {
content: "Siguiente"!important;
font-size: 14px;
font-weight: 400;
color: #36c;
text-decoration: underline;
font-family: Work Sans,sans-serif;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next.disabled span:before {
content: "Siguiente" !important;
}

::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-previous a::after,
::ng-deep pagination-controls pagination-template .ngx-pagination li.pagination-next a::after {
content: none !important;
}

::ng-deep .btn {
position: relative !important;
line-height: 1.42;
}

::ng-deep .btn-low,
.btn-low-mix-govco {
color: #3772FF !important;
text-decoration: underline !important;
font-weight: 500;
font-size: 1rem;
padding: 0;
background-color: transparent;
cursor: pointer;
}