<div class="puntos-atencion-tramite">
    <div class="modal-header row">
        <button type="button" class="close" (click)="closeModal()"><span class="material-icons">clear</span></button>

            <div class="col-sm-12 col-md-12 col-lg-3 puntos-atencion-modal-title-container">
                <h2 class="puntos-atencion-modal-title">Puntos de Atención</h2>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-7 pr-5">
                <ng-container *ngIf="puntosAtencion">
                <div class="buscador">
                    <input class="form-control" type="text" aria-label="Buscar" placeholder="Buscar" [(ngModel)]="serchText">
                    <button class="content-search"><span class="govco-icon govco-icon-search-cn icon-color-blue"></span></button>
                </div>
                </ng-container>
            </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="puntosAtencion">
                  <small *ngIf="puntosAtencion.length == 0">Tramite no contiene puntos de atención</small>
                </div>
                <table class="table table-responsive table-striped" *ngIf="puntosAtencion">
                    <ng-container *ngFor="let punto of puntosAtencion; let i = index">
                        <thead *ngIf="i == 0" >
                            <th [class.active]="order == 'PuntoAtencionNombre'"
                            (click)="setOrder('PuntoAtencionNombre')"
                            class="textofilas order-puntos">
                                <span [hidden]="reversePunto" class="icon-order-punto">
                                    <i class="material-icons">arrow_downward</i>
                                </span>
                                <span [hidden]="!reversePunto" class="icon-order-punto">
                                    <i class="material-icons">arrow_upward</i>
                                </span>
                                <span class="text-order-punto txt-order">Punto</span>
                            </th>
                            <th [class.active]="order == 'Departamento'"
                            (click)="setOrder('Departamento')" 
                            class="textofilas order-puntos">
                                <span [hidden]="reverseDepartamento" class="icon-order">
                                    <i class="material-icons">arrow_downward</i>
                                </span>
                                <span [hidden]="!reverseDepartamento" class="icon-order">
                                    <i class="material-icons">arrow_upward</i>
                                </span>
                                <span class="text-order txt-order">Departamento / Municipio</span>
                            </th>
                            <th class="textofilas" *ngIf="windowWidth > 760">Dirección</th>
                            <th class="textofilas" *ngIf="windowWidth > 760">Horario</th>
                            <th class="textofilas" *ngIf="windowWidth > 760">Teléfono</th>
                            <th class="textofilas" *ngIf="windowWidth > 760">Ver Mapa</th>
                        </thead>
                    </ng-container>
                    <tbody>
                        <!--  |orderBy: order:reverseDepartamento:true |orderBy: order:reversePunto:true |filter:serchText | paginate: { itemsPerPage: 5, currentPage: p} -->
                        <ng-container *ngIf="puntosAtencion">
                            <tr *ngFor="let punto of puntosAtencion | filter:serchText | paginate: { itemsPerPage: 2, currentPage: p}">
                                <td *ngIf="windowWidth > 760" class="td-font">{{ punto.PuntoAtencionNombre }}</td>
                                <td *ngIf="windowWidth > 760" class="td-font">{{ punto.Departamento }} / {{ punto.Municipio }}</td>
                                <td *ngIf="windowWidth > 760" class="td-font">{{ punto.PuntoAtencionDireccion}}</td>
                                <td *ngIf="windowWidth > 760" class="td-font">{{ punto.HorarioAtencion }}</td> 
                                <td *ngIf="windowWidth > 760" class="td-font">{{ punto.PuntoAtencionTelefono }}</td>
                                <td *ngIf="windowWidth > 760" class="td-font">
                                    <a (click)="printCoordenadas(punto.Latitud.replace(',','.'), punto.Longitud.replace(',','.'), punto.PuntoAtencionDireccion)">
                                        <img src="/assets/icon-fichatramite/icon-pin.png" alt="ver mapa" width="18" height="16">
                                    </a>
                                </td>
                                <td colspan="2" *ngIf="windowWidth <= 760" class="td-font">
                                    <p>
                                        <b class="td-label">PUNTO:</b> {{ punto.PuntoAtencionNombre }}<br>
                                        <b  class="td-label">DEPARTAMENTO / MUNICIPIO:</b> {{ punto.Departamento }}<br>
                                        <b  class="td-label">DIRECCIÓN:</b> {{ punto.PuntoAtencionDireccion }}<br>
                                        <b  class="td-label">HORARIO:</b> {{ punto.HorarioAtencion }}<br>
                                        <b  class="td-label">TELÉFONO:</b> {{ punto.PuntoAtencionTelefono }}
                                    </p>
                                    <div style="text-align: right;">
                                        <a (click)="printCoordenadas(punto.Latitud.replace(',','.'), punto.Longitud.replace(',','.'), punto.PuntoAtencionDireccion)">
                                            <b class="td-label">VER MAPA: </b>
                                            <img src="/assets/icon-fichatramite/icon-pin.png" alt="ver mapa" width="18" height="16">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                
                <div class="paginacion">
                    <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" [maxSize]="5" [autoHide]="true"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
