.check-ciiu {
    color: #004884;
    font-size: 24px;
    position: relative;
    padding-top: 5px;
}

a.btn.disabled,
fieldset:disabled a.btn {
    // pointer-events: none;
    white-space: nowrap;
}

.btnModal {
    text-align: center;
    font-size: 15px !important;
    font-weight: 500 !important;
    font-family: "Work Sans" !important;
    letter-spacing: 0px;
    color: #3366CC !important;
    text-transform: uppercase;
    opacity: 1;

    @media only screen and (max-device-width: 767px) {
        font-size: 14px !important;
    }
}

.btnModalDisabled {
    text-align: center;
    font-size: 15px !important;
    font-weight: 500 !important;
    font-family: "Work Sans" !important;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #BABABA !important;
    opacity: 1;
    padding-left: 0px;

    @media only screen and (max-device-width: 767px) {
        font-size: 14px !important;
    }
}

.tituloModal {
    text-align: left;
    font-size: 20px !important;
    font-weight: 600 !important;
    font-family: "Montserrat" !important;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.subtituloModal {
    text-align: left;
    font-size: 16px !important;
    font-weight: 700 !important;
    // font-weight: bold !important;
    font-family: "Montserrat" !important;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.tituloContenidoModal {
    display: -webkit-box;
    text-align: left;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: "Montserrat" !important;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.descripcionContenidoModal {
    text-align: left;
    font-size: 14px !important;
    font-weight: normal !important;
    font-family: "Work Sans" !important;
    letter-spacing: 0px;
    color: #4B4B4B;
    opacity: 1;
}

.btnClose {
    font-size: inherit;
    color: #3366CC !important;
    opacity: 1;
}

.iconodisponible {
    max-width: 25px;
}

::ng-deep .modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

::ng-deep .modal-dialog{
    height: 97%;
}

::ng-deep .modal-lg {
    max-width: 100% !important;
}

::ng-deep .modal .modal-content {
    border-radius: 10px;
    height: 100%;
    border: 1px solid #cddce2;
}

::ng-deep .modal .modal-header {
    border: none !important;
}

::ng-deep .scroll-light-govco {
    overflow-y: scroll;
    &::-webkit-scrollbar-thumb {
        background-color: #004884;
        border: 2px solid #E6EFFD;
        border-radius: 11px;
        -webkit-box-shadow: inset 0 0 1px 1px #e6effd;
        box-shadow: inset 0 0 1px 1px #e6effd;
    }
}
::ng-deep .scroll-light-govco::-webkit-scrollbar {
    width: 0.7em;
    padding: 5px;
}

::-webkit-scrollbar-track {
    background-color: #e6effd;
    border-radius: 11px;
}

::ng-deep .modal h3 {
    font-size: 1.125rem;
    font-weight: 700;
}

::ng-deep .descripcionContenidoModal {
    list-style: none;
}