<ng-template #content let-modal>
    <div class="modal-header header-modal-ver-nota">
        <table *ngIf="Codigo" aria-hidden="true">
            <tr>
                <td>
                    <div class="title-section-main">
                        <h2 class="tituloModal">Código CIIU {{Codigo.codigo}}</h2>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle">
                    <div class="title-section-main">
                        <h3 class="subtituloModal">{{Codigo.nombre}}</h3>
                    </div>
                </td>
            </tr>
        </table>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="btnClose">&times;</span>
        </button>
    </div>
    <div class="modal-body container-modal-ver-nota" style="background-color: #F6F8F9;">
        <div class="col-md-12 mt-3 scroll-light-govco" style="height: 93%;">

            <h3 class="subtitle-govco">
                <img class="iconodisponible" src="assets/images/consultaciiu/circuloincluye.svg" alt="transaccional"
                    style="display: inline-block;" />
                &nbsp;<div class="tituloContenidoModal" style="display: inline-block;">
                    ESTA CLASE INCLUYE
                </div>
            </h3>
            <ul>
                <li *ngFor="let item of incluye" class="text-justify descripcionContenidoModal">
                    {{item}}
                </li>
            </ul>
            <h3 class="subtitle-govco">
                <img class="iconodisponible" src="assets/images/consultaciiu/circulo excluye.svg" alt="transaccional"
                    style="display: inline-block;" />
                &nbsp; <div class="tituloContenidoModal" style="display: inline-block;">
                    ESTA CLASE EXCLUYE</div>
            </h3>
            <ul>
                <li *ngFor="let item of excluye" class="text-justify descripcionContenidoModal">
                    {{item}}
                </li>
            </ul>
        </div>
        <div class="col-md-12 mt-3">
        </div>
        <div class="col-md-12 mt-3">
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
    </div>
</ng-template>

<button class="btn btn-low btnModal" (click)="open(content, IdCodigo)">VER NOTA</button>
&nbsp;&nbsp;
<div *ngIf="tieneTramites == false; then tramiteOff; else tramiteOn"></div>
<ng-template #tramiteOff>
    <a href="" title="" class="btn btn-low-inactive disabled btnModalDisabled link-modal-ver-nota" disabled>VER
        TRÁMITES</a>
</ng-template>
<ng-template #tramiteOn>
    <a routerLink="{{url}}/{{IdCodigo}}/{{DepartamentoSeleccionado}}/{{MunicipioSeleccioando}}/{{codigo}}"
        title="{{titulo}}" class="btn btn-low btnModal link-modal-ver-nota">VER TRÁMITES</a>
</ng-template>