<section class="aviso-construccion-pwa-govco">
    <img class="imagen-contruccion-pwa-govco" src="../../../../assets/logos/AvisoAlertaEnConstruccion.png" alt="">
    <div class="informacion-construccion-pwa-govco">
        <h1 class="titulo-construccion-pwa-govco">Lo sentimos...</h1>
        <p class="texto-contruccion-pwa-govco">Esta sección está en proceso de construcción.</p>
    </div>
    <button routerLink="transversales/acerca-del-portal" class=" boton-pwa-govco texto-button-pwa-govco">Volver
    </button>
</section>