.aviso-construccion-pwa-govco {
    padding: 0 1rem;
    height: inherit;
    display: flex;
    flex-direction: column;
  }

  .imagen-contruccion-pwa-govco {
    width: 100%;
    height: auto;
    margin: 3em 0;
  }

  .informacion-construccion-pwa-govco {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
  }

  .texto-contruccion-pwa-govco {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.857em;
    color: #000000;
  }

  .govco-construccion{
    height: 100% !important;
  }
