<div>
    <div class="container-component">
        <div class="container-header">
            <div class="icon-container">
                <img class="logo-carpeta" src="../../../../../assets/icons-fonts/folder-user2.svg" alt="">
            </div>
            <h2 tabindex="0" [attr.aria-label]="this.title" class="title">{{this.title}}</h2>
            <p tabindex="0" [attr.aria-label]="this.description" class="description">
                {{this.description}}</p>
        </div>
    </div>
</div>