<div class="barra-superior-interna-pwa-govco">
    <div class="menu-logo-pwa-govco">
        <div (click)="onClickMenu()"class="menu-hamburgesa-pwa-govco">
            <span  class="menu-caja-pwa-govco">
                <span class="menu-hamburgesa-superior" [ngClass]="{ 'menu-hamburgesa-superior-rotacion': estadoMenu }">
                </span>
                <span class="menu-hamburgesa-medio" [ngClass]="{ 'menu-hamburgesa-medio-rotacion': estadoMenu }">
                </span>
                <span class="menu-hamburgesa-inferior" [ngClass]="{ 'menu-hamburgesa-inferior-rotacion': estadoMenu}">
                </span>
            </span>
        </div>
        <div class="logo-pwa-govco">
            <img src="../../../assets/logos/transversales/GOVCO.svg" alt="logo de gov.co">
        </div>
        <span class="caja-buscador-pwa-govco">
            <span class="icono-buscador-pwa-govco"></span>
        </span>
    </div>
</div>
